[2014-07-14 12:12] mlyne opened #724 "Enrichment widget API docs - errors with default example list"
Default examples for Enrichment Widgets on IO docs provide the wrong list types.

For example - FlyMine:
http://iodocs.labs.intermine.org/flymine/docs#/ws-widgets/GET/list/enrichment

Generates:
The uniprot_keywords enrichment query only accepts lists of Protein, but you provided a list of Gene

Similar errors are found for the enrichment examples under MGI and FlyMine beta.

[2014-07-14 12:45] julie-sullivan opened #725 "Precompute fails when too many joins"
Error whilst precomputing:

SQL can't be parsed:

ANTLR parser should be upgraded.

Error message should be fixed too:

The profile manager isn't the problem

[2014-07-14 14:46] julie-sullivan opened #726 "Precompute - fails on too much text"
org.postgresql.util.PSQLException: ERROR: index row size 2776 exceeds maximum 2712 for index "precomp_190813_mweyqrpmaqflmlcb"
  Hint: Values larger than 1/3 of a buffer page cannot be indexed.
Consider a function index of an MD5 hash of the value, or use full text indexing.
        at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecuto

[2014-07-16 14:53] julie-sullivan opened #727 "Webapp - Users can't login or create lists"
From @JoelRichardson

[2014-07-17 08:56] julie-sullivan opened #728 "GenomicRegionSequence web service missing"
service/regions/sequence failed. I tracked it down to not having
GenomicRegionSequenceExportServlet.java and
GenomicRegionSequenceExportService.java any more.

from service/regions/sequence/fasta?) or was it unintended.

[2014-07-22 15:34] sergiocontrino opened #730 "Report page: Field labels not being used"
in the report page, some collection appears with a funny name. label is not followed, and the original class name is used.
e.g.
http://www.flymine.org/query/portal.do?class=MRNA&externalids=FBtr0070000
with Mi RN Ainteractions
or
Five Prime UT Rs, M RN As in thalemine

[2014-07-25 10:40] rnsmith opened #731 "Consider using an in-memory database for items"
The items database is needed while loading a source and is then discarded. For larger data sources there may be considerable time spent writing the items to disk. We could add the option of using an in-memory SQL database on machines with large amounts of RAM to speed up items database creation.

This will need some testing to see how much improvement it could generate and how much better an in-me

[2014-07-28 16:33] #465 closed, assigned to julie-sullivan

[2014-07-30 14:34] #54 closed, assigned to rnsmith

[2014-07-31 11:09] julie-sullivan opened #738 "Objectstore summary - add ability to ignore counts for attributes"
e.g. Location.start

Also -- don't summarise number types by default, but allow config to override this.
By default taxonID should be summarised by default.

[2014-07-31 11:17] sergiocontrino opened #739 "filter encoding property in Database.java"
see comments on https://github.com/intermine/intermine/pull/699

[2014-07-31 17:27] JoeCarlson opened #740 "dataCategories.jsp missing tag library includes"
missing from dataCategories.jsp are the tag library include directives

<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib uri="/WEB-INF/struts-html.tld" prefix="html" %>
<%@ taglib uri="/WEB-INF/struts-tiles.tld" prefix="tiles" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<%@ t

[2014-08-01 11:38] julie-sullivan opened #742 "FlyMine: Panther human homologues didn't merge"
See PPARG, there are two.

[2014-08-04 08:35] #686 closed, assigned to julie-sullivan

[2014-08-04 23:17] #541 closed, assigned to alexkalderimis

[2014-08-05 19:21] #632 closed, assigned to alexkalderimis

[2014-08-06 19:06] kkarra opened #744 "expand/collapse-all sub-tables does not work in 1.6.x"

[2014-08-06 20:21] #626 closed, assigned to alexkalderimis

[2014-08-13 09:58] #558 closed, assigned to sergiocontrino

[2014-08-13 10:54] julie-sullivan opened #745 "Tomcat 8"
Errors when deploying to Tomcat 8

[2014-08-14 09:27] sergiocontrino opened #746 "interactions network displayer does not work on chrome"
Version 34.0.1847.116 on ubuntu
nothing is displayed, no export. data is there (create list and table)

[2014-08-14 18:14] kkarra opened #747 "External link configured to go to 2 different URLs"
Thanks, Julie!
It would be okay for all the columns to go to the same place.

Without the redirect they go to intermine Publication report page which works fine whether or not pubmedId  or sgdDbxRef is null.

The problem is that I have stored some Publications without a PubMedId and to address those if I add the other line to go to SGD site, it does not work. It substitutes ‘null’ for attributeVal

[2014-08-15 10:27] julie-sullivan opened #748 "Affy probes data could be updated"
We'd have to be sure the data is legal for us to use, but it looks like AffyMetrix has made their data public again:

From Jamie:

http://www.affymetrix.com/estore/support/technical/byproduct.affx?product=fly-20&_requestid=142728

She said she had to log in first.

[2014-08-21 09:33] alexkalderimis opened #749 "We should revisit the standalone mode"
Embedded Tomcat is great these days, and it is standard practice these days to run an application with an embedded server (Jetty is the most popular, but Tomcat does the same thing). If we restored the ability to run InterMine as a standalone application we could:
- Remove a system dependency (Tomcat)
- Allow InterMine to be deployed in container environments (eg. Heroku, Dokku).
- Make testing it

[2014-08-27 13:38] sergiocontrino opened #750 "templates not showing up in report"
probably i am missing something. i wanted the result of a template query to appear in a report page.
- created template
- made it public and report
- expecting it to appear in the report page for the starting class of the template query (it does not).
  tried various recompilation and restarts, lookup and otherwise constraint.

http://intermine.readthedocs.org/en/latest/webapp/admin/#template-quer

[2014-09-01 11:44] julie-sullivan opened #751 "Query results: FASTA download not an option when only residues displayed"
On a gene list, if you manage columns and add gene.protein.accession, the option to download sequence in fasta format appears. If you remove that column and add protein.sequence.residues, fasta is not an option.

[2014-09-02 09:03] julie-sullivan opened #752 "Change model to be SequenceFeature.homologue instead of Gene.homologue"
Tell @JoelRichardson

[2014-09-05 12:51] julie-sullivan opened #753 "Query results - onhover the cell embiggens"
When you hover over a cell, a popup appears with summary information. However the cell then becomes as large as the popup window. This is new, recent behaviour.

![query-results](https://cloud.githubusercontent.com/assets/1663057/4164828/4a94bdc0-34fb-11e4-923e-4a5d07ab38bb.png)

[2014-09-09 12:00] #721 closed, assigned to sergiocontrino

[2014-09-10 11:28] #740 closed, assigned to julie-sullivan

[2014-09-10 11:30] #720 closed, assigned to julie-sullivan

[2014-09-11 15:54] julie-sullivan opened #754 "Run all tests via bio/testall "fulltest" ant target"
Running `ant fulltest` in bio/testall should run all bio tests but it doesn't run bio-core or sources tests

**bio-sources**

`<include name="bio/sources/**/test/build.xml" />`

Calling the build.xml file like this doesn’t compile the dependencies correctly. I don’t know why. If I compile the sources myself then run the tests, they pass. If I run ant clean and run the tests then, they fail.

~~**b

[2014-09-11 16:50] julie-sullivan opened #755 "API docs - make it easy to get a token."
Can we make the authorisation easier on the iodocs, as this is for people playing around and not doing real work. Maybe add a link to get a temporary token automatically - one click.

[2014-09-12 14:53] thomas77 opened #756 "Gff3 export failed using Region search"
Hi,

it seems that the GFF3 export does not work when using the Region search.
Tested on Flymine (v40.0): Firefox can't find the file at http://www.flymine.org/release-40.0/genomicRegionSearchAjax.do.

Best regards,

Thomas

[2014-09-16 12:07] #756 closed, assigned to julie-sullivan

[2014-09-19 08:45] julie-sullivan opened #759 "Update username (email)"
In my account section, `Your preferred email address` is set but I don't think it does anything. The forgot password email should go there.

[2014-09-19 15:12] sergiocontrino opened #760 "enable export for in-line tables"
request from AIP: for example on a GO term page, with a collection of genes

[2014-09-22 13:15] #750 closed, assigned to nobody

[2014-09-22 16:17] #760 closed, assigned to nobody

[2014-09-22 16:19] julie-sullivan opened #761 "io docs - medicmine has bad URL."
medicmine.jcvi.org iodocs goes to the word "doc"

I don't know why.

[2014-09-22 16:20] julie-sullivan opened #762 "io docs - default queries not valid for everyone"
Is there a way to get friendly defaults?

[2014-09-22 21:30] #656 closed, assigned to nobody

[2014-09-22 21:36] kkarra opened #763 "cytoscape diagram not right in yeastmine"
I am wondering why I don't see blue and red double headed arrows and the toggle between physical and genetic interaction working correctly in YeastMine? e.g. [ura5](http://yeastmine.yeastgenome.org/yeastmine/portal.do?class=ORF&externalids=S000004574)

[2014-09-22 21:43] #51 closed, assigned to nobody

[2014-09-25 08:18] sergiocontrino opened #764 "cytoscape display export: error #3769"
attempts to export results in an 'error #3769' message.
true for chrome 37.0.2062.120 and firefox 30.0
it seems relatad to a bug in flash
http://stackoverflow.com/questions/23703920/flash-sandbox-security-error-just-started-popping-up-in-the-last-day-dead-in-wa
a possible solution is mentioned here
https://groups.google.com/forum/#!topic/cytoscapeweb-discuss/548wkpC3iE8

[2014-09-25 16:14] sergiocontrino opened #765 "list upload: cannot create a list of authors, for example"
docs (http://intermine.readthedocs.org/en/latest/webapp/lists/list-upload/?highlight=upload%20list)  mention that you can use identifier, symbol or name.

[2014-09-26 10:21] julie-sullivan opened #767 "Move sub-projects to their own repo"
- MineManager
- modMine

Looks easy to do:

https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository

But everyone will have to rebase:

[2014-10-02 13:54] julie-sullivan opened #769 "List operations - error doing subtract on yeastmine"
Tell @kkarra

[2014-10-08 10:38] julie-sullivan opened #770 "Error accessing user stats"
Type mismatch. Value 9 does not match type number in column index 1
Type mismatch. Value 3 does not match type number in column index 1
Type mismatch. Value 121 does not match type number in column index 1
Type mismatch. Value 22 does not match type number in column index 1
Type mismatch. Value 11 does not match type number in column index 1
Type mismatch. Value 604 does not match type number in c

[2014-10-08 13:44] julie-sullivan opened #771 "elasticbeanstalk"
This looks brilliant: https://aws.amazon.com/elasticbeanstalk/
- Amazon's entry into PAAS environment (à la Heroku, Dokku, Openshift).
- Supports java, node, python, ruby (all the usual supects)
- Supports Docker
- "There is no additional charge for Elastic Beanstalk - you pay only for the AWS resources needed to store and run your  applications"

Obvious conclusion:

"The goal of improvements to

[2014-10-08 13:57] julie-sullivan opened #772 "Friendly mines repeating"
When viewing the report page on beta.flymine.org a bunch of errors pop up (maybe one for each displayer? or maybe each friendly mine query)

I don't see any errors in the tomcat logs, I don't see anything in the JS console either

[2014-10-09 13:17] mlyne opened #773 "Set JBrowse default tracks in config"
Currently, the default track information can only be changed by editing: JBrowseDisplayer.java
A config or properties file might make this easier.

[2014-10-10 13:48] sergiocontrino opened #774 "EC Numbers have no description"

[2014-10-16 11:14] alexkalderimis opened #776 "Objects need stable, persistent cross-mine identifiers"
*Requirements*: We need to persist references to objects (e.g. in steps) in such as way that the reference is valid weeks, months or years later. We also need a way to integrate data sets from different providers (federation).

*Current situation*: we can InterMineObject.id, or identifiers built from the class keys.

*Problems with the current situation*: object ids are unstable and not suitable f

[2014-10-17 11:42] julie-sullivan opened #777 "List conversion - config ignored, all fields displayed"
Tell @JoeCarlson.

[2014-10-20 20:33] dmgood11 opened #778 "Manage Columns needs to allow addition of multiple columns"
Currently, adding columns to an analysis report provides a bit too much Zen practice:  one needs to open the interface, navigate through the data model hierarchy to the desired column, and select it, at which point the interface resets, the hierarchy collapses, and the process must be repeated from scratch for the next column one wishes to add.  This is especially frustrating in two cases:  adding

[2014-10-21 04:06] kkarra opened #779 "Export correct strand on FASTA output with extension"
In the Download Results window, choose Format = FASTA sequence, then click on Output, and it includes an ‘Extension’ option which will append extra residues on each end of the specified size.
bug is that it's only pulling +strand sequence, even when the ORF is on the Crick strand.

[2014-10-21 16:34] julie-sullivan opened #780 "UniProt config - not handling config for organisms correctly"
This config works as expected:

Except if there is other config in the file. Not handling other taxons correctly?

[2014-10-22 10:47] sergiocontrino opened #781 "Publications: Process consortiums as authors correctly."
it seems we are not parsing the 'collective name'  element.

[2014-10-27 10:01] julie-sullivan opened #782 "Entrez gene resolver changed MGI ID format, ID resolver failing"
From @JoelRichardson

[2014-10-28 12:32] julie-sullivan opened #783 "Class keys - can they use references"
needed for stepZ

[2014-10-28 14:08] alexkalderimis opened #784 "Categories should be first class objects"
We organise things frequently by the concept of data-categories, but these things only appear in the configuration. They should be elevated to first class objects with their own business logic.

This means they should be:
- Configurable at runtime
- Queryable ("what categories does this mine support?")
- Able to be used in queries ("Give me all the templates in the Interactions category").

This p

[2014-11-04 09:37] julie-sullivan opened #786 "Query with outer join does not validate"
@ZFIN created a template but the template could not be run and prevented the rendering of the my mine page.
1. Fix the error with outer joins and constraints
2. Catch the exception gracefully so at least the users can get to their other templates.

[2014-11-05 13:43] #752 closed, assigned to rachellyne

[2014-11-06 15:12] #769 closed, assigned to julie-sullivan

[2014-11-06 15:22] #765 closed, assigned to julie-sullivan

[2014-11-06 15:36] #692 closed, assigned to julie-sullivan

[2014-11-06 15:54] #648 closed, assigned to julie-sullivan

[2014-11-06 15:55] #631 closed, assigned to sergiocontrino

[2014-11-06 16:10] #580 closed, assigned to alexkalderimis

[2014-11-06 16:13] #575 closed, assigned to alexkalderimis

[2014-11-06 16:14] #574 closed, assigned to alexkalderimis

[2014-11-06 16:20] #564 closed, assigned to rachellyne

[2014-11-06 16:20] #563 closed, assigned to julie-sullivan

[2014-11-06 16:28] #512 closed, assigned to julie-sullivan

[2014-11-06 16:31] #504 closed, assigned to alexkalderimis

[2014-11-06 16:38] #477 closed, assigned to alexkalderimis

[2014-11-06 16:55] #401 closed, assigned to rachellyne

[2014-11-06 17:03] #273 closed, assigned to alexkalderimis

[2014-11-06 17:10] julie-sullivan opened #788 "Add Protein.interactions collection"
Tell @rachellyne

[2014-11-06 20:27] alexkalderimis opened #789 "services.json should contain mine appropriate defaults"
Currently the service documentation contains several hardcoded defaults - it should contain placeholders: (eg: `{foo.bar}`), which get interpreted as `webProperties.getProperty("services.defaults." + "foo.bar")`.

[2014-11-06 22:02] alexkalderimis opened #790 "GenomicRegionBedService has an undocumented parameter"
https://github.com/intermine/intermine/blob/f906ee114f65f9cc35588b57711e786c531d3b7d/bio/webapp/src/org/intermine/bio/webservice/GenomicRegionBedService.java#L33

That parameter should be in the web-bio.xml file. Also it should be less insane in the way it is parsed.

[2014-11-07 13:45] #782 closed, assigned to julie-sullivan

[2014-11-07 16:34] #780 closed, assigned to julie-sullivan

[2014-11-11 11:41] #476 closed, assigned to rachellyne

[2014-11-11 11:48] JoelRichardson opened #792 "Don't show empty fields (results table dialogs)"
In the results table dialogs (add columns, add filter), add a toggle like in the query builder to show/hide empty fields.

(Lower priority)

[2014-11-11 11:49] #792 closed, assigned to nobody

[2014-11-11 11:51] JoelRichardson opened #793 "Show id fields when logged in as superuser"
In result table dialogs (add column, add filter), show id fields if logged in as superuser.

[2014-11-11 11:53] JoelRichardson opened #794 "Allow subtype constraints in results table dialogs"
In results table dialogs (add column, add filter), allow subtype constraints. I run into this one with some
regularity when trying to add a column that's defined by a subclass. In terms of the UI, you'd want this in the add filter dialogue, clearly. But I also think you'd want it in the add columns dialogue, because that's
where you discover you need it.

Higher priority.

[2014-11-11 11:56] JoelRichardson opened #795 "Support option lists in 'add filter' dialog"
When defining a new filter in a results table, display option lists where appropriate. For example, to pick an organism name rather than have to type it.

[2014-11-11 11:58] JoelRichardson opened #796 "Support one/none of operator"
In results table add filter dialog, allow use to select multiple values with a one/none of operator.
(medium priority)

[2014-11-11 11:59] JoelRichardson opened #797 "Add UI support for range queries."
In both the query builder and in the add filter dialog, add support for defining range queries.
(high priority)

[2014-11-11 12:01] JoelRichardson opened #798 "Define multiple filters at once"
When adding filters in a results table, it would be nice to be able to define more than one.
In the same context, it would be useful if clicking on the 'x' to remove a filter did not have immediate effect, but was applied with any other changes. (low priority)

[2014-11-11 12:02] JoelRichardson opened #799 "Allow editing logic expression"
In add filter dialog, allow user to edit the logic expression. (medium priority)

[2014-11-11 12:04] JoelRichardson opened #800 "Angle bracket issue in column summary dialog"
In a column summary dialog, angle brackets need to be escaped (unless changed by the escapeXml field config).
(high priority)

[2014-11-11 12:06] JoelRichardson opened #801 "Loop constraints between attribute values"
Currently you can only define loop constraints between object references. Would be useful to allow loop constraints between simple values.
(low priority)

[2014-11-11 12:08] JoelRichardson opened #802 "Region search file upload (bug + request)"
If you upload a file to the region search that has a blank line, you get an internal error message. Should just ingore these.

Also, it would be useful to be able to upload GFF (or BED, or...) files.

(medium priority)

[2014-11-11 12:09] JoelRichardson opened #803 "Support coordinate mapping using SyntenicRegions"
Maybe this is something we could do, but we'd need you help. I actually
built something that sorta works, but it's a separate little app, all in
JavaScript (uses imjs), non-configurable, etc. To do it right, I think it
would have to run on the server side, to handle uploaded files, if for no
other reason. For now, this could just be a new option in the
RegionSearch. Maybe later consider a coordina

[2014-11-11 13:34] julie-sullivan opened #804 "Add complex interaction data to InterMine"
We want to add  complex interaction data to InterMine.

* Don't change the interactions data model (if possible)
* Need data to power complex viewer
* Need data to answer certain queries (e.g. gene <--> complex)
* Parse 2.5 data, then 3.0 data when ready
  * Yeast are going to load these data but probably won't have extra data in 3.0 (yet)

Tell @kkarra and @marine3

[2014-11-13 16:53] julie-sullivan opened #807 "oAuth2 provider"
InterMine should be an oAuth2 provider.

@alexkalderimis this is need for stepZ but is it needed for the Xmas release?

[2014-11-14 17:28] #617 closed, assigned to alexkalderimis

[2014-11-17 12:18] julie-sullivan opened #809 "BioGRID: append MGI prefix"
From @JoelRichardson

Here's a sample MGI xref:

[code]

They omit the leading "MGI:" on the id.

[2014-11-17 12:47] julie-sullivan opened #811 ""No simple name for class" error"
From @JoelRichardson

[2014-11-17 16:45] sneuhaus opened #812 "Issues with Date data type"
Other than java.util.Date being a valid type, I couldn't find any documentation on creating date attributes.
They can be created using a millisecond time stamp. Maybe some other format works?
Once in the database they are nicely formatted in the webapp.
Dates can't be constrained in the query builder (no popup for constraints appears).
Dates don't seem to sort correctly in the datatables.

[2014-11-17 21:09] kkarra opened #813 "maintain 'List' input order"
We have had a couple of users write in asking about their input List items order being maintained. I think it might be nice feature if is possible or easy to do. I would assume the order has to be maintained for further actions as well as in piping it to a template etc.

"Hey SGD. I like your new YeastMine tool a lot. However, why is it that when I search a gene list from the YeastMine home page (

[2014-11-18 09:53] julie-sullivan opened #814 "OrthdoDB - fail if taxon ID is not found"
OrthoDB uses organism name instead of taxon ID. So we use the organism repository to look up taxon IDs.

If an organism name is not found in the organism repository, do the following:
1. use web services to find the name
2. throw an exception

See 330309caac713ceb950f5e6efa6a4fdd53ced1ac

[2014-11-18 11:54] #470 closed, assigned to alexkalderimis

[2014-11-18 14:05] #777 closed, assigned to sergiocontrino

[2014-11-18 14:56] joshkh opened #816 "Test of github-notify, please ignore."
This is a test of the github-notify application. Please ignore.

[2014-11-18 16:12] #716 closed, assigned to julie-sullivan

[2014-11-18 16:21] alexkalderimis opened #817 "JSON formatting is mangling backwards slashes"
The following query run against a testmodel:

[code]

Should return `Backwards slash \` and `Double backwards slash \\`. These names do not seem to be correct.

[2014-11-18 16:27] joshkh opened #818 "Test of github-notify, please ignore."
Test of github-notify, please ignore.

[2014-11-18 16:28] #816 closed, assigned to joshkh

[2014-11-18 16:28] #818 closed, assigned to joshkh

[2014-11-18 16:31] alexkalderimis opened #819 "testmodel data set needs some dates in it."
In order to test date handling we need some date data in the testmodel fixture set.

[2014-11-18 16:33] alexkalderimis opened #820 "Documentation on date formats (Items XML)"
We need to let users know how to correctly enter dates. See #812

[2014-11-18 16:34] alexkalderimis opened #821 "Query Builder - allow dates to be constrained."
Need UI elements for handling dates. See #812

[2014-11-18 16:51] alexkalderimis opened #822 "travis builds are stalling at the selenium stage."
Our builds are being aborted when selenium times out, which it did at `test/query-history-test.py` on the last run. My local selenium runs complete without error. Investigate.

[2014-11-19 09:41] julie-sullivan opened #824 "Duplicate human genes in data file"
The humanmine build failed because of duplicate genes in the data file:

[code]

[2014-11-20 12:20] julie-sullivan opened #826 "PDB failing with out of memory error"
Out of memory with 50 GB of memory. The data hasn't been updated since 2013-04-17 and the converter before that. So what's going on?

[code]

[2014-11-20 12:26] julie-sullivan opened #827 "Hikari docs"
@rnsmith and I can help with this.
1. People will need to update some settings, including max number of connections
2. Can add other settings - how to do this?
3. A human-readable summary of what's changed.

There's actually lots of good info here about why this is so much better: https://github.com/brettwooldridge/HikariCP

[2014-11-21 10:37] #811 closed, assigned to julie-sullivan

[2014-11-21 10:48] #727 closed, assigned to julie-sullivan

[2014-11-21 12:01] julie-sullivan opened #829 "BioPAX file name change"
[code]

[2014-11-21 12:07] julie-sullivan opened #830 "Throw exception with helpful error message on finding ontology term without a name"
Should we handle ontology terms without a name? Is that legal? `ends_at_start_of` has no name. Options:
1. Update the code to throw an build exception
2. Update the code to set the name to be UNKNOWN, log an error

fly_development.obo

[code]

[2014-11-21 12:15] julie-sullivan opened #831 "Organism config - needs updating"
This file was generated several years ago, need to generate again.

[code]

[2014-11-21 14:40] julie-sullivan opened #832 "Build failing on wrong classes"
Conflicting values for field Gene.sequenceOntologyTerm between rgd-identifiers (value
This is what @JoelRichardson saw in #811 I believe.

For some reason some classes are wrong. e.g. this SO term is correctly stored as a `SOTerm` object in `homologene` but the `rgd-identifiers` source has a `AnatomyTerm,SOTerm` class for some reason.

[code]

[2014-11-21 23:55] alexkalderimis opened #834 "Fresh install on beta has issues with java 8"
I tried to install from scratch on OSX which involved installing a new JDK (slightly painful), ant (less so) and so on. However once I got round to actually running a build I got this stack-trace:

[code]

This build is from alexkalderimis/intermine#jwt-task on OSX 10.10.1 on Arctic Tern (MacBook Air (13-inch, Mid 2011).

[2014-11-23 18:29] alexkalderimis opened #835 "Travis: ObjectStoreTranslatingImplTest FAILED"
On a recent travis-ci (https://travis-ci.org/intermine/intermine/builds/41889816) run the following failure was observed:

[code]

This is related to the absence of bioseg

[2014-11-24 11:38] julie-sullivan opened #836 "OrthDB - fail if invalid config"
From Aditi Tayal

[2014-11-24 12:13] sergiocontrino opened #837 "keyword search results: now limited to 100 items"
currently in beta the keyword search results are limited to a max of 100 items. it is fine in the previous intermine release (see flymine 40).

blocks the merging of lucene improvements.

![beta](https://cloud.githubusercontent.com/assets/1004258/5164733/1dc0fd2e-73d3-11e4-9104-6f80576ed206.png)

[2014-11-24 13:54] mlyne opened #838 "Remove filter icon not being displayed"
When a filter has been applied with a results table, only the edit filter icon is being displayed.

To reproduce:
In FlyMine, run a template and apply a filter through column summary.
Either a) Click the funnel icon in the column header or,
b) click filters button.
Remove filter icon is not displayed

Observed in Chrome.

![image](https://cloud.githubusercontent.com/assets/1152769/5165796/4eb40b3e

[2014-11-24 16:49] mlyne opened #839 "Missing icons in Results tables"
Some icons missing from Modify Columns dialogue box.
Close icon and 'drag and drop' icons missing from 'Add / Remove ...'

To reproduce:
In FlyMine, run a template. within Results, click Columns. Icons missing.

Observed in Chrome.

[2014-11-25 11:16] mlyne opened #841 "List upload fails in metabolicMine"
Observed in Chrome on PC running Windows 7 64 bit

List analysis page generates an error:
error
Unable to construct query:

... but no stack trace.

Error message from the console generates:
 ƒ InterMine JavaScript Library loaded
imtables.js:5635 Object
http://cdn.intermine.org/js/intermine/imjs/latest/imjs.js Failed to load resource: the server responded with a status of 404 (Not Found)
http://me

[2014-11-25 12:04] alexkalderimis opened #842 "JSONResultsIteratorTest contains a Heisenbug"
I am fairly sure that the JSONResultsIteratorTest contains a heisenbug of a 1hour timespan depending on the time GMT - it fails between 12:00GMT and 13:00GMT due to a date construction and parsing issue.

[2014-11-25 14:52] #714 closed, assigned to julie-sullivan

[2014-11-25 15:34] alexkalderimis opened #844 "Bio tests are failing on travis"
See https://travis-ci.org/alexkalderimis/intermine/jobs/42087352,

The failing tests are:
- `org.intermine.bio.dataconversion.IdResolverTest::testFileRoundTrip`
- `org.intermine.bio.dataconversion.EntrezGeneIdResolverFactoryTest::testReadConfig`

relevant portion of the logs:

[code]

[2014-11-25 17:15] julie-sullivan opened #845 "Some tests fail occasionally"
This only happens every fifth time you run the test via eclipse but happens when you run the test via intermine/all.

We should replace custommonkey with a more up-to-date library.

[code]

[2014-11-26 10:06] julie-sullivan opened #846 "InterPro - description text is too long for index"
Here is our solution before, not sure if it's the best thing to do:

https://github.com/intermine/intermine/blob/beta/bio/sources/uniprot/main/src/org/intermine/bio/dataconversion/UniprotConverter.java#L486-L494

[2014-11-27 10:21] julie-sullivan opened #848 "Report page: templates expanded by default"
From @antcsmith

[2014-11-27 10:28] julie-sullivan opened #849 "Template dropdown is missing an entry"
Dropdown has the correct values:

http://yeastmine-test.yeastgenome.org/yeastmine-dev/template.do?name=gene_overlapping_flanking_regions&scope=global

Dropdown is missing a value:

http://yeastmine-test.yeastgenome.org/yeastmine-dev/template.do?name=FeatureType_Gene&scope=global
`tRNA_gene` is missing from the dropdown but is a valid value:

[code]

[2014-11-27 16:19] mlyne opened #851 "Adding numerical constraint in results filter does not accept minus values"
Observed while constraining to a numerical value when applying a new filter in results tables. Although the field covers a range of - to + values, when entering a minus value the filter interprets the minus and resolves to 'NaN'.

As a workaround, you can add the value first, then prefix with the minus.

Observed in Chrome under Ubuntu 14.04.

[2014-11-28 10:03] #696 closed, assigned to joshkh

[2014-11-28 13:07] #830 closed, assigned to sergiocontrino

[2014-11-30 19:26] alexkalderimis opened #854 "Google is shutting down OpenID"
It was good while it lasted, but now it is going away. Luckily we already have OAuth 2.0 support, but we need to prepare a transition plan and include it in a release before April.

See https://developers.google.com/accounts/docs/OpenID#shutdown-timetable

[2014-12-01 10:41] #844 closed, assigned to nobody

[2014-12-01 11:01] #842 closed, assigned to alexkalderimis

[2014-12-01 11:36] julie-sullivan opened #856 "ShutdownHook - Null pointer exception"
java.lang.NullPointerException
        at org.intermine.objectstore.intermine.ObjectStoreInterMineImpl.close(ObjectStoreInterMineImpl.java:1051)
        at org.intermine.objectstore.intermine.ObjectStoreInterMineImpl.shutdown(ObjectStoreInterMineImpl.java:1089)
        at org.intermine.util.ShutdownHook.shutdown(ShutdownHook.java:76)
        at org.intermine.util.ShutdownHook.run(ShutdownHook.java

[2014-12-01 14:18] #676 closed, assigned to sergiocontrino

[2014-12-01 14:19] #809 closed, assigned to sergiocontrino

[2014-12-01 15:04] #781 closed, assigned to sergiocontrino

[2014-12-01 15:19] julie-sullivan opened #857 "Unable to get sub-ObjectStore for Translating ObjectStore"
I am running a single source for FlyMine on a new server and with a different user than normal.

I get this error:

[code]

The parameters are here:

https://github.com/intermine/intermine/blob/beta/flymine/default.intermine.integrate.properties#L70-L73

This isn't a problem on my local machine. It's likely to do with being on a new server. Are the properties getting overwritten somewhere?

[2014-12-01 15:37] #829 closed, assigned to sergiocontrino

[2014-12-02 09:49] #452 closed, assigned to julie-sullivan

[2014-12-02 16:19] julie-sullivan opened #858 "Update count on list upload to be count of all identifiers submitted"
@joshkh Can you take a look at component 400 for me?

Specifically this count:
https://github.com/intermine/intermine/blob/dev/intermine/webapp/main/resources/webapp/bagUploadConfirm.jsp#L53

For the same file, the count of identifiers is different for MouseMine and FlyMine. I checked whitespace and line endings.

Where does that count come from?

Tell @JoelRichardson

[2014-12-02 16:41] #827 closed, assigned to sergiocontrino

[2014-12-03 12:53] #712 closed, assigned to alexkalderimis

[2014-12-03 15:20] #841 closed, assigned to joshkh

[2014-12-03 21:17] alexkalderimis opened #860 "InterMine leaks like a sieve"
InterMine's heap is very leaky indeed:

![tomcat-heap](https://cloud.githubusercontent.com/assets/436846/5288978/cc44a188-7b31-11e4-839e-403cc1929efe.png)

[2014-12-04 00:59] JoeCarlson opened #861 "postprocessing 'do-sources' with many sources fails"
I've recently seen 2 issues when attempting to run the postprocessing step 'do-sources' with many sources (about a dozen).

1) db connections are opening and not closing. At a certain point, I hit my limit and cannot connect to the objectstore. (I have not yet gone to the hikari connection pooling; will this fix the problem?)

2) properties persist between sources. This may be a thing fundamental

[2014-12-04 16:46] #837 closed, assigned to sergiocontrino

[2014-12-04 17:30] #718 closed, assigned to sergiocontrino

[2014-12-05 09:35] julie-sullivan opened #864 "Human intermine - add config"
* add config for widgets
* add data sources - http://metabolicmine.org/beta/dataCategories.do

[2014-12-05 10:50] julie-sullivan opened #865 "Delete mystery properties"
What are these?

[code]

[2014-12-05 10:51] #839 closed, assigned to joshkh

[2014-12-05 10:52] #848 closed, assigned to joshkh

[2014-12-05 10:54] #857 closed, assigned to julie-sullivan

[2014-12-05 11:20] #570 closed, assigned to julie-sullivan

[2014-12-05 11:37] #832 closed, assigned to julie-sullivan

[2014-12-05 11:51] #681 closed, assigned to sergiocontrino

[2014-12-05 13:09] julie-sullivan opened #866 "Panther - rat genes"
@rachellyne It looks like Rat genes are in the panther file three different ways:

1. Systematic name, e.g. CLEC6A
2. Ensembl, e.g. ENSRNOG00000046921
3. RGD, e.g. 1564571

Am I wrong? Do you think you might contact Panther and ask them for a unified way to refer to rat genes?

[code]

[2014-12-08 05:51] JoeCarlson opened #867 "Feature request: configuable parameter"
Genomic region search initializing is very slow with a mine with a large number of scaffolds. Resetting query batch size to a larger value speeds up the initializing in this case. Can this query batch size be a configurable parameter?

[2014-12-08 12:27] julie-sullivan opened #868 "create-references postprocess fails"
Fails on humanmine and flymine.

[code]

[2014-12-08 14:22] julie-sullivan opened #869 "ERROR: function bioseg_create(integer, integer) does not exist"
@rnsmith I am getting a lot of these in my LOG files:

[code]

Since I am on 9.3 I didn't install Bioseg. Can we get rid of these?

[2014-12-09 09:57] julie-sullivan opened #870 "create-overlap-view fails"
[code]

[2014-12-09 11:00] #838 closed, assigned to joshkh

[2014-12-09 13:22] julie-sullivan opened #871 "Replace bobo with Lucene facets"
We don't have to go to Lucene 4.0 but facets were added to Lucene in 3.6 I think. We should remove bobo so we don't have to worry about it's memory issues.

This would address #603.

[2014-12-10 15:31] alexkalderimis opened #875 "java8: tests fail due to reliance on undocumented hashmap behaviour"
Some of our tests fail in java 8 since map iteration order is no longer reliable (it was never part of the contract).

[2014-12-10 15:42] julie-sullivan opened #876 "Enrichment widgets: can't select NONE from error correction dropdown"
You can't select NONE:

![none](https://cloud.githubusercontent.com/assets/1663057/5378587/1b04d166-8083-11e4-81ea-152a82555eba.png)

[2014-12-10 16:07] #868 closed, assigned to julie-sullivan

[2014-12-10 22:46] kkarra opened #877 "Regions Tab export file columns"
Is it possible to add a column (e.g. feature type ) to the file tab, csv file(s) generated from the Regions tab Results page?

[2014-12-11 10:36] julie-sullivan opened #878 "summarise-objectstore is taking a very long time"
It's been going for 12 hours:

In November, the entire build took 27 hours and the `summarise objectstore` portion only took two hours.

[2014-12-11 11:46] #826 closed, assigned to julie-sullivan

[2014-12-11 11:47] #835 closed, assigned to nobody

[2014-12-12 13:33] #870 closed, assigned to rnsmith

[2014-12-12 13:45] julie-sullivan opened #880 "Blank home page - Initialiser Plugin should be more helpful"
If you encounter a problem launching a webapp, sometimes you get errors like this:
![class-count](https://cloud.githubusercontent.com/assets/1663057/5412510/07f691a8-8205-11e4-8919-f0262686deb9.png)

But not always. We should try to eliminate all thrown exceptions in Initialiser Plugin.

[2014-12-12 14:48] julie-sullivan opened #881 "Remove encoding from project build script"
The postgres encoding is hardcoded in the project build script. It shouldn't be.

[2014-12-12 14:55] #772 closed, assigned to alexkalderimis

[2014-12-15 09:37] #849 closed, assigned to julie-sullivan

[2014-12-15 09:54] julie-sullivan opened #886 "Template fails - select list has duplicate columns"
http://www.flymine.org/release-40.0/template.do?name=Organism_GOtermsOrthologues

This used to work. Must have done. We did the template comparison so would have noticed. Right?

[2014-12-15 10:41] #603 closed, assigned to sergiocontrino

[2014-12-15 14:08] julie-sullivan opened #888 "Human InterMine failed - huge-gwas source file has random tab on one line"
[code]

[2014-12-16 10:47] #449 closed, assigned to julie-sullivan

[2014-12-18 21:46] alexkalderimis opened #895 "corporate jbrowse needs lots of love"
This branch is very important for supporting range queries, but it has test problems, the most annoying of which is the incompatibility with truncated schemas:

[code]

[2014-12-18 23:26] alexkalderimis opened #896 "keyword search task aborts silently if it encounters an error"
If an exception is thrown during indexing, an error message is logged, and then the index is closed. It must fail loudly.

[2014-12-19 11:24] #876 closed, assigned to julie-sullivan

[2014-12-19 13:27] #742 closed, assigned to julie-sullivan

[2014-12-19 16:42] #679 closed, assigned to rnsmith

[2014-12-22 17:27] alexkalderimis opened #897 "reverse-reference system cannot capture some relationships"
In the testmodel there are Employees that have departments that have employees - so `Employee::department` is the reverse reference of `Department::employees`, naturally enough. However there are also Managers (a subtype of Employee) who also have departments which have managers, but `Manager::department` is not a reverse reference of `Department::manager`, even though they are in fact reverse-ref

[2014-12-22 17:34] alexkalderimis opened #898 "The testmodel should have subsystem analogous to GO"
There are two bio-specific domains that are very important to the bio models, but basically absent from the testmodel, making features that depend on them difficult to develop and test.

The first is one-dimensional partitioned ranges, viz. `Gene::chromsomeLocation`. This has been addressed recently (see the `corporate-jbrowse` branch).

The second is ontologies, such as GO, where we model graphs

[2014-12-30 14:37] alexkalderimis opened #900 "unicode constraint values are failing"
This seems to be a regression. It is very important!

[2015-01-05 10:19] julie-sullivan commented on #897
If manager is a subclass of employee, it will inherit the department reference.

I don't understand what part of this is failing. The only way this wouldn't work if a Manager was not also an employee of the department they are managing, which isn't possible.

I could be misunderstanding you though. I'm a little groggy still from all the Xmas chocolate.

[2015-01-05 11:04] julie-sullivan commented on #878
Looks good!

[code]

[2015-01-05 11:04] #878 closed

[2015-01-05 11:33] alexkalderimis commented on #897
The problem is that the scenario is logical, but the system forbids
it.

[2015-01-05 11:45] julie-sullivan commented on #896
Here is an example of a silent failure:

[code]

[2015-01-05 11:49] julie-sullivan commented on #897
How is it failing? Manager *does* have a department, it inherits it from employee.

The only way this wouldn't work if a Manager was not also an employee of the department they are managing, which isn't possible.

Where is the problem?

[2015-01-05 12:03] julie-sullivan opened #901 "OBO file contains different ontologies"
FlyBase anatomy file includes some GO terms. This is creating GO terms and calling them anatomy terms.

I set the priorities to be:

[code]

But this ends up with an anatomy term that is also a SO term:

[code]

Ontology terms merge on name+ontology or identifier.

How to fix?

@rachellyne Is this illegal?

http://oboformat.googlecode.com/svn/trunk/doc/GO.format.obo-1_2.html

[code]

So that sort

[2015-01-05 12:05] julie-sullivan commented on #901
Causes #832

[2015-01-05 12:25] julie-sullivan commented on #901
Apparently this is a thing now so we have to deal with it somehow.

1. GO creates a go-full file with lots of ontologies. It also has a go-basic file with just GO terms. Maybe ask Fly to do the same?
2. `namespace` is supposed to be unique, this is enforced by the consortium. However InterMine has no idea which are the legal namespaces for an ontology. There is a default one set at the beginning o

[2015-01-05 12:29] julie-sullivan commented on #901
The same anatomy file has some other troubling entries:

[code]

[2015-01-05 12:51] alexkalderimis commented on #896
Yes - that was precise what I was trying to deal with: the Lucene's thorough failure to handle dynamic objects.

[2015-01-05 12:55] alexkalderimis commented on #897
If you read the original message I am not trying to add a field to manager, which as you say inherits one from Employee, but to Department (well, to add the rev-ref attr to that field). The object-store system prohibits marking `Department::manager` as the reverse reference of `Manager::department`

This is not a high priority issue.

[2015-01-05 19:49] cmdcolin commented on #860
I started using this for memory monitoring http://www.mkyong.com/tomcat/jconsole-jmx-remote-access-on-tomcat/ but i'm still curious about the tool you use.

I have also been tweaking the setenv parameters noticed the need to add -Dorg.apache.el.parser.SKIP_IDENTIFIER_CHECK=true in tomcat7. Will probably keep adjusting as things come up

[2015-01-06 10:46] rachellyne commented on #901
@julie-sullivan, do you know where we are getting this file from?  It looks wrong - it shouldn't have genes and biological processes in it, these are not anatomy.  I just had a quick look at the file online and it looked fine.  I'll download this manually and then take a look at the download script.

[2015-01-06 12:27] alexkalderimis opened #902 "Report page error with non-bio-entities"
Stack trace:

[code]

[2015-01-06 13:42] #902 closed

[2015-01-06 14:26] julie-sullivan commented on #901
It looks like we are getting it from:

http://svn.code.sf.net/p/fbbtdv/code/fbbt/releases'

I don't know why I get it from there.

[2015-01-06 14:34] rachellyne commented on #901
I have a feeling we had the same problem last build.  This file looks fine:

http://flybase.org/static_pages/downloads/FB2014_06/ontologies/fly_anatomy.obo.gz

[2015-01-07 10:04] julie-sullivan opened #906 "ID resolver - add option to return ensembl identifiers"
Default ID resolver returns Entrez IDs for human but all of human InterMine data comes from Ensembl. We need to be able to configure which identifiers are returned by the resolver.

[2015-01-07 10:13] julie-sullivan commented on #901
Another possible solution, process the OWL file:

http://www.obofoundry.org/id-policy.shtml

It's got the full URI.

[2015-01-07 11:43] julie-sullivan opened #907 "JBrowse - don't hardcode location"
The URL for JBrowse is set in jbrowseDisplayer:

[code]

This should be a parameter in web.properties instead.

[2015-01-07 12:07] julie-sullivan opened #908 "JBrowse - show symbol instead of name"
JBrowse is displaying the gene name instead of the symbol. It's also repeating.

![jbrowse](https://cloud.githubusercontent.com/assets/1663057/5645299/bce5c812-9665-11e4-89ae-d5eaf645dee5.png)

[2015-01-07 12:10] julie-sullivan commented on #908
Transcripts and exons look fine though.
![transcripts](https://cloud.githubusercontent.com/assets/1663057/5645334/22f4b82a-9666-11e4-8c10-d02ba12bc622.png)

[2015-01-08 03:52] dmgood11 commented on #778
Hi, was wondering if this made it's way into the 1.4 beta?

[2015-01-08 10:13] rnsmith commented on #865
These are mappings between NCBI and UCSC names for human and mouse genome builds. I expect they are used by the region search in metabolicMine.

[2015-01-08 10:49] rnsmith commented on #860
The PermGen out of memory issues should be fixed in InterMine 1.4.

Although tomcat still reports a memory leak only weak references are retained which do get removed once a full garbage collection is carried out. I've redeployed a webapp tens of times without getting PermGen errors.  Additional tomcat settings are also required to force cleanup of Timer threads created by some libraries we use.

[2015-01-08 10:49] #860 closed

[2015-01-08 17:45] julie-sullivan commented on #778
Not yet. If this change doesn't make it into 1.4 it'll be in the next release, 1.4.1 which will only be changes related to the query results. Should be ready for testing in a few weeks.

[2015-01-08 20:00] kkarra commented on #686
This works fine in 1.4

[2015-01-09 13:07] joshkh opened #910 "Usernames containing upper-case letters created via the web service can never log in."
Intermine converts users' login names to lower-case when they are registered and authenticated through the web interface.  Users created through the web service do not go through the lower-case conversion process and their names are stored in the user-profile "as is." Therefore, users created through the web service with usernames containing upper-case letters can never log-in using the web interf

[2015-01-12 18:03] kkarra commented on #568
Will re-open if I see any errors. It looks good for now.

[2015-01-12 18:03] kkarra commented on #664
Works fine.

[2015-01-14 14:25] julie-sullivan opened #912 "Better error message for running out of connections"
This error message is caused by having too many connections. There is no way to tell that's the problem from this stacktrace.

[code]

[2015-01-15 11:41] julie-sullivan commented on #728
Fixed by #889

[2015-01-15 11:41] #728 closed

[2015-01-15 11:57] #864 closed

[2015-01-15 19:56] arremb opened #913 "Biogrid throws a NullPointerException when organism (Genus,Species) is unknown"
Biogrid import fails with a NullPointerException at line 158 of file bio/sources/biogrid/main/src/org/intermine/bio/dataconversion/BioGridConverter.java
when organism is unknown.

[2015-01-16 13:48] julie-sullivan opened #915 "ID resolver fails when human is only taxon"
This method is from the IDResolver service, which is used by most sources (e.g. UniProt, Pubmed etc). It uses Entrez gene resolver for most organisms save worm and human. However if worm / human are the only organisms of interest this method returns NULL and the ID resolver is not used. This needs to be refactored.

[code]

[2015-01-16 17:35] rnsmith commented on #861
There is definitely a problem with leaking connections during post-processing, it doesn't seem to be limited to do-sources - running enough postprocess operations of any type exhausts available connections. The same is true for integration but sources are usually run in separate JVMs by the `project_build` script.

Hikari doesn't make a difference.

The `ObjectStoreWriter` is being closed - it loo

[2015-01-16 17:47] kkarra commented on #779
Julie, is the fix in 1.4?  I was wondering what to change if I wanted to push the fix to yeastmine before I switch to 1.4.
thanks,
-Kalpana

[2015-01-19 11:44] julie-sullivan commented on #779
This ticket going to be part of the 1.4.1 milestone which should be ready for testing in a few weeks. We didn't have time to put any of the results tables fixes in 1.4 so they are getting their own release.

Here's the announcement email: http://mail.intermine.org/pipermail/dev/2015-January/003176.html

[2015-01-19 11:54] julie-sullivan opened #917 "JBrowse - update config"
- Showing feature density by default, should be showing features.

Also, I would suggest we start JBrowse in embedded mode:
 http://gmod.org/wiki/JBrowse_Configuration_Guide#Embedded_mode
At least the nav should be turned off, and possibly the tracklist:

[2015-01-19 13:48] joshkh commented on #717
Fixed: e7827ced5d7c8389191ac8522d775bfdc5d34353 in branch [cytoscape](https://github.com/intermine/intermine/tree/cytoscape)

Root cause:
Adobe applied a security update to Flash that prevents its sandbox from sending HTTP requests with headers. This removed feature is required by CytoscapeWeb's exportNetwork() function.

Solution:
Use CytoscapeWeb's individual export functions to return its netwo

[2015-01-19 14:37] julie-sullivan opened #918 "GOAnnotation has an empty publications collection"
GOAnnotation has an empty publications collection. This should be removed from the model.

[2015-01-20 11:55] julie-sullivan commented on #867
@JoeCarlson Would you be able to test #916? To see if it solves your problem?

[2015-01-20 12:29] julie-sullivan commented on #858
That pseudogene is now a gene so try these examples instead:

    Gm19239
    MGI:88388

The list upload will say you entered one identifier when you really entered two.

[2015-01-21 10:12] rnsmith opened #919 "Unhelpful error when no database connections available"
When there are no available database connections `ObjectStoreInterMineImpl.getInstance()` throws an exception instructing you to run `build-db`, it should state that it couldn't acquire a database connection.
[code]

[2015-01-21 14:06] julie-sullivan commented on #888
@rachellyne Here is the new file:

[code]
Here is a typical line:
[code]
I don't know if you can see, but I think "NR	4p13" might contain a tab. Oh no!

1. can you see if the updated file has this line removed?
2. I've removed that line from the data file and put it in a new directory `2014-10-14-edited`

[2015-01-21 14:12] julie-sullivan commented on #907
Fixed by #911

[2015-01-21 14:12] #907 closed

[2015-01-21 14:23] julie-sullivan commented on #901
I am going to set a `prefix` parameter for each OBO source. If the ontology term does not match the set prefix, then it will be discarded.

Tell @kkarra

[2015-01-21 14:27] julie-sullivan commented on #901
A list of prefixes is available at obofoundry.org

[2015-01-21 14:36] rachellyne commented on #888
It does.  I've downloaded again but it's still a tab.  It may be deliberate but I'm not sure what NR means.

[2015-01-21 14:38] julie-sullivan commented on #888
@rachellyne Can you ask them to fix it? You can't have a tab delimited file with tabs in random spots, that's illegal!

I put that I removed that line in the README. Can we collectively try to remember to remove this line for next time? Should I start a data source spreadsheet?

[2015-01-21 14:46] julie-sullivan commented on #901
**A summary**

The fashion now is to cross reference terms from other ontologies in a single OBO file. In this case, the Fly anatomy file contains GO terms. However the OBO file format does not specify that the ontology has to be defined. Meaning there is no ontology associated with each ontology term.

Currently the OBO parser assumes a single ontology per OBO file. This means that all ontology t

[2015-01-21 15:11] julie-sullivan commented on #877
@kkarra Here are the docs:

http://intermine.readthedocs.org/en/latest/webapp/region-search

I know that page is difficult to read but there is a parameter under `web.properties`:

[code]

That should be what you need!

[2015-01-21 15:11] #877 closed

[2015-01-21 15:12] #856 closed

[2015-01-21 15:13] julie-sullivan commented on #875
See #845

[2015-01-21 15:16] julie-sullivan commented on #822
Travis tests are all passing now.

[2015-01-21 15:16] #822 closed

[2015-01-21 15:20] julie-sullivan commented on #813
@kkarra Outputting in the same order wouldn't help your user regardless. Identifiers don't map 1-to-1 to genes! An identifier can match 0, 1 or many genes.

What they really want is the "DOWNLOAD SUMMARY" blue button on the list upload summary page. That maps between what they entered and what's in the database.

[2015-01-21 15:27] #770 closed

[2015-01-21 15:27] julie-sullivan commented on #761
This is working as expected now.

[2015-01-21 15:27] #761 closed

[2015-01-21 15:28] julie-sullivan commented on #755
You can log in now via the docs, so that's good enough.

[2015-01-21 15:28] #755 closed

[2015-01-21 15:33] julie-sullivan commented on #738
You can already ignore classes: http://intermine.readthedocs.org/en/latest/database/database-building/post-processing/objectstore-summary-properties

[2015-01-21 15:36] #738 closed

[2015-01-21 15:39] julie-sullivan commented on #726
Duplicate of #846

[2015-01-21 15:39] #726 closed

[2015-01-21 15:43] julie-sullivan commented on #706
@rachellyne Do you agree?

[2015-01-21 15:45] julie-sullivan commented on #703
I get this now:
![404](https://cloud.githubusercontent.com/assets/1663057/5839186/7825ec82-a184-11e4-93c5-458fa8be88ca.png)

Is that good enough @joshkh ?

[2015-01-21 15:46] julie-sullivan commented on #702
@joshkh Can you investigate?

[2015-01-21 15:51] julie-sullivan commented on #695
If they are on three different proteins then we are correctly creating three features. We are doing the right thing! :)

[2015-01-21 15:51] #695 closed

[2015-01-21 15:54] julie-sullivan commented on #688
@sergiocontrino Can we close this ticket?

[2015-01-21 15:56] #685 closed

[2015-01-21 15:57] julie-sullivan commented on #674
@sergiocontrino Can we close this ticket?

[2015-01-21 15:58] julie-sullivan commented on #666
All tests are working now.

[2015-01-21 15:58] #666 closed

[2015-01-21 16:07] sergiocontrino commented on #688
yes @julie-sullivan , let's close

[2015-01-21 16:07] #688 closed

[2015-01-21 16:08] #674 closed

[2015-01-21 16:08] julie-sullivan commented on #620
This query works as expected in FlyMine:

[code]

All the genes have WBgene identifiers.

[2015-01-21 16:08] #620 closed

[2015-01-21 16:08] julie-sullivan commented on #627
Fixed by #712

[2015-01-21 16:08] #627 closed

[2015-01-21 16:10] julie-sullivan commented on #602
Some InterMines may want this feature. Maybe put on the docs how to disable?

[2015-01-21 16:10] #602 closed

[2015-01-21 16:12] julie-sullivan commented on #601
Works as expected.

[2015-01-21 16:12] #601 closed

[2015-01-21 16:15] julie-sullivan commented on #586
@sergiocontrino I've just assigned this ticket to you. Let me know if you need help with the post-process.

[2015-01-21 16:18] julie-sullivan commented on #569
@sergiocontrino So this issue is fixed?

[2015-01-21 16:21] sergiocontrino commented on #569
yes, was fixed with https://github.com/intermine/intermine/pull/634

[2015-01-21 16:21] #569 closed

[2015-01-21 16:22] sergiocontrino commented on #569
i mean, the thalemine issue, don't know about the general issue raised in the ticket.

[2015-01-21 16:24] julie-sullivan commented on #569
Yes, I think I created this ticket because of the issues AIP were having.

[2015-01-21 16:32] julie-sullivan commented on #566
@sergiocontrino Did you make a change that ignored all integers? I guess it would be around here:

https://github.com/intermine/intermine/blob/beta/intermine/api/main/src/org/intermine/api/lucene/InterMineObjectFetcher.java#L159

[2015-01-21 16:36] julie-sullivan commented on #565
Fixed by 0fb2df6c24ddca6a4366609b430376b519bd5473

[2015-01-21 16:36] #565 closed

[2015-01-21 16:38] julie-sullivan commented on #557
Duplicate of #225

[2015-01-21 16:40] julie-sullivan commented on #710
Duplicte of #547

[2015-01-21 16:40] #710 closed

[2015-01-21 16:44] julie-sullivan commented on #506
Works as expected

[2015-01-21 16:44] #506 closed

[2015-01-21 16:48] julie-sullivan commented on #481
I can't read my screenshot. @sergiocontrino Reopen this ticket if need be.

[2015-01-21 16:48] #481 closed

[2015-01-21 16:50] julie-sullivan commented on #466
Working as expected.

[2015-01-21 16:50] #466 closed

[2015-01-21 16:52] #459 closed

[2015-01-21 16:53] julie-sullivan commented on #419
This works as described, in 1.4

[2015-01-21 16:53] #419 closed

[2015-01-21 16:57] julie-sullivan commented on #406
The database drops successfully -- which I don't know if is a good idea!

[2015-01-21 16:57] #406 closed

[2015-01-21 16:57] #393 closed

[2015-01-21 16:58] julie-sullivan commented on #374
@rachellyne Can we close this ticket?

[2015-01-21 17:00] julie-sullivan commented on #546
See #375

[2015-01-21 17:01] julie-sullivan commented on #616
See #366

[2015-01-21 17:02] julie-sullivan commented on #801
@JoelRichardson See @ZFIN's ticket #376. Is that what you mean?

[2015-01-21 17:05] julie-sullivan commented on #316
@cmpich Let me know if you are able to push the changes. I think it would be helpful for other interminers! :)

[2015-01-21 17:07] julie-sullivan commented on #311
@joshkh Can you confirm this is still an issue? And close this ticket if you can't replicate? Use beta.flymine.org to test as it's up to date with 1.4

[2015-01-21 17:08] julie-sullivan commented on #297
@rachellyne And I think we wanted data provenance per data field.

[2015-01-21 17:11] #286 closed

[2015-01-21 17:11] kkarra commented on #813
If the user sorts their original input in one way and then intermine results the same way it might be all they need. Not sure what this user had in mind regarding combining with existing annotations. I just brought it up to see if it had merit and if there was some easy solution like 'Match on case' ..may be 'Keep input order'. If it is not that straightforward, please feel free to close it.

[2015-01-21 17:14] #221 closed

[2015-01-21 17:15] JoelRichardson commented on #801
@julie-sullivan Yes, exactly.

[2015-01-21 17:19] julie-sullivan commented on #813
But we can never "keep input order" because identifiers don't match objects in the database one-to-one. Does that make sense? So we are unable to keep order.

gene1 (synonym A, B, C)
gene2
gene3

What happens if I enter this in the list upload and click on [X] Keep in order:

1. A (will return gene1)
2. Monkey
3. gene2
4. B (gene1 again!)

So really we should return:

1. gene1
2. no results
3. gen

[2015-01-21 17:21] julie-sullivan commented on #813
What they want is the download button on the list upload page here:

![download](https://cloud.githubusercontent.com/assets/1663057/5841071/e8ceb664-a191-11e4-964c-814986a3d1fd.png)

This *is* in order!!

[2015-01-21 17:21] #813 closed

[2015-01-21 17:22] julie-sullivan commented on #200
@joshkh Can you confirm this is still an issue?

[2015-01-21 17:23] julie-sullivan commented on #191
There does not seem to be any demand for this.

[2015-01-21 17:23] #191 closed

[2015-01-21 17:24] julie-sullivan commented on #141
@rachellyne Can we close this ticket?

[2015-01-21 17:25] julie-sullivan commented on #60
@alexkalderimis Can we close this ticket?

[2015-01-21 18:21] rnsmith commented on #861
My previous comment was partially correct. The issue is actually that postprocessing steps are being run in separate ClassLoaders so are unable to share database connections. The connections don't get closed until the JVM exist and `ShutdownHook` is called so we end up creating too many connections.

I've fixed the problem for some postprocessing by not for `do-sources`, I've added a hack to force

[2015-01-21 18:23] rnsmith commented on #861
I haven't looked at point 2 - persisting ant properties. It may be possible to fix with changes to `PostProcessTask` in `im-ant-tasks`. For the moment setting a property to an empty string in sources that don't have a value might be the best workaround.

[2015-01-22 09:55] rachellyne commented on #141
Has it been fixed?   I don't see any change on preview.

[2015-01-22 10:05] rachellyne commented on #374
I still don't think remove column is particularly obvious.  Can we have a cross?  This would be consistent with the results tables and clear to everyone.

[2015-01-22 10:08] rachellyne commented on #706
That sounds wrong to me.  We have the reference and altered sequences anyway.

[2015-01-22 10:08] rachellyne commented on #888
yes, I'll email them.

[2015-01-22 10:13] julie-sullivan commented on #706
But the SNPs sequence will be the reference sequence. That's not right is it?

[2015-01-22 10:19] rachellyne commented on #706
That's not right, but we load the reference and altered sequence directly don't we?

[2015-01-22 15:14] julie-sullivan opened #922 "List upload: exception thrown when it can't find default organism"
On human.intermine.org:

[code]

[2015-01-23 22:15] kkarra opened #924 "results table multi-column graphing ability"
This was a request that came up when I was showing rna-seq data in a results table. I had stage and expression/abundance value in two separate columns. I was told it would be nice if a user could select 2 columns and be able to do a line-graph on that data. I thought it was a neat idea and wanted to pass along. Right now, we do have the histograms and summarizing of values in a given column. If we

[2015-01-25 10:29] alexkalderimis commented on #924
+1 I think this is a good idea, and would be straightforward to implement.

[2015-01-26 13:19] julie-sullivan commented on #745
http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/index.html#7
" This table contains the XML Schema components for Java EE 7 schema. All new schemas are in the http://xmlns.jcp.org/xml/ns/javaee/ namespace. Most older schemas remain in the http://java.sun.com/xml/ns/javaee/ namespace. "

We need to update web.xml to reference `web-app_3_1.xsd`

[2015-01-26 16:01] julie-sullivan opened #925 "CHEBI data source"
The complex interactions contain small molecules and proteins. We load UniProt for proteins but don't have a data source for CHEBI, so all the molecules only have an identifier.

ftp://ftp.ebi.ac.uk/pub/databases/chebi/

What data do we need?

[2015-01-26 16:04] julie-sullivan commented on #925
So far there are only 12 though:

[code]

[2015-01-26 17:27] julie-sullivan commented on #925
@kkarra Maybe don't load the source and just link out to chebi?

[2015-01-27 01:28] JoeCarlson commented on #834
Is this issue of the incorrect hikari version ("hikari-java6" vs "hikari") in the build process? The description on the hikari page indicates the -java6 version is for JDK 6 and 7; the other is JDK 8.

The jar version I see in the intermine 1.4 release is Hikari-1.38; does this require a refresh?

[2015-01-27 11:16] julie-sullivan opened #926 "Import from Cytoscape Desktop"
@badryan wants this.

[2015-01-27 14:44] julie-sullivan opened #927 "Reactome - assigning too many pathways"
There may be a problem with the way we process the reactome data.  Taking example "metabolism of lipids and lipoproteins" we have about 450 more proteins than in reactome.  Do we maybe take proteins from parent pathways as well, as some I have checked are under other forms of metabolism.  These are the dodgy proteins for this pathway:

A5LHX3
O00217
O00221
O00231
O00232
O00233
O00445
O00468
O00483

[2015-01-27 15:41] julie-sullivan commented on #927
http://www.reactome.org/download/current/UniProt2Reactome.txt
@rachellyne doesn't contain the pathway "metabolism of lipids and lipoproteins"

I was thinking of processing the flat file because I can't read the OWL file.

[2015-01-28 10:28] julie-sullivan commented on #927
@rachellyne I processed the flat file with UniProt proteins and I get a different number of pathways:

<table>
<tr>
<td>flat file</td>
<td>2,424</td>
</tr><tr>
<td>biopax</td>
<td>3,096</td>
</tr>
</table>

The pathway "metabolism of lipids and lipoproteins" isn't even there, which it should be. We have a few options.

1. There is an ensembl to pathway file.
2. I could upgrade the library I use to

[2015-01-28 10:48] julie-sullivan commented on #927
When I process that file, I get 3,171 total pathways, including `metabolism of lipids and lipoproteins`. Also, for protein A5LHX3 it has `Metabolism of amino acids and derivatives` instead of the lipids pathway.

`Metabolism of amino acids and derivatives` now has a total of 189 Proteins which matches the reactome site exactly.

So it seems like the biopax library is assigning too many pathways to

[2015-01-28 11:06] rachellyne commented on #927
Yes, let's try that.  I'll tell reactome that there data is wrong.

[2015-01-28 11:21] hkmoon commented on #753
In my firefox, when I use "head.js.results.RESULT_TABLES = CDN/js/intermine/im-tables/1.7.x/imtables-mini-bundle.js" in global.web.properties, it shows the weird box.
However, using CDN/js/intermine/im-tables/1.6.x/imtables-mini-bundle.min.js does not have that problem.

[2015-01-28 11:26] julie-sullivan commented on #927
@rachellyne I think it's probably the biopax parsing library I am using that is the problem. I'll post a message to their dev list. I can't really tell of course because I can't grep the biopax to see if the data is correct!

[2015-01-30 10:23] julie-sullivan opened #929 "PDB hardcoded for FlyMine"
https://github.com/intermine/intermine/blob/dev/bio/sources/pdb/main/src/org/intermine/bio/dataconversion/PdbConverter.java#L57

Get the data set name from the project XML file, or just remove DMEL.

[2015-01-30 11:29] julie-sullivan commented on #925
From @rachellyne  - In the names.tsv file the second column is the CHEBI identifier (without the CHEBI prefix) - same for the chemical data file - except this one only contains a few of your ids below (not sure why).

[2015-01-30 13:43] julie-sullivan opened #930 "Blog for InterMine / human InterMine"
We would like a word press blog just like FlyMine's.

[2015-01-30 13:45] julie-sullivan opened #931 "Logo for human InterMine"
We have a nice logo for human InterMine but some people say we could update it.

Options:

1. @joshkh has some suggestions
2. leave as-is
3. Use InterMine's logo
4. the dreaded Helix

[2015-02-02 11:51] joshkh commented on #930
HumanMine Blog has been stood up. See private email for details.

@julie-sullivan Just to clarify the request, were you asking for two blogs (InterMine and HumanMine), or one blog that serves both?

[2015-02-02 15:07] julie-sullivan commented on #925
This file has 180,000 lines:

ftp://ftp.ebi.ac.uk/pub/databases/chebi/Flat_file_tab_delimited/names.tsv.gz

The yeast complexes have 12 small molecules so far.

It seems a bit overkill to load 180,000 objects when we only need 12?

Maybe only run as a postprocess? e.g. only load the CHEBIs that are already in the database. @kkarra? Does it matter?

It would be nice if there were a web service we c

[2015-02-02 15:09] julie-sullivan commented on #925
Oh there is:

http://www.ebi.ac.uk/webservices/chebi/2.0/test/getCompleteEntity?chebiId=9532

[2015-02-02 15:38] #922 closed

[2015-02-03 10:32] julie-sullivan opened #932 "List upload: default name always is named "Gene" list"
From @chenyian-nibio

[code]

[2015-02-03 14:34] #930 closed

[2015-02-03 14:44] julie-sullivan commented on #753
@sneuhaus says this is still an issue:

[2015-02-03 14:45] julie-sullivan opened #935 "Query results - popups don't work after paging"
From @sneuhaus

[code]
#753 covers number A.

[2015-02-03 14:46] julie-sullivan commented on #935
From @sneuhaus

[code]

[2015-02-03 14:56] #548 closed

[2015-02-03 16:07] #869 closed, assigned to julie-sullivan

[2015-02-04 15:10] #925 closed

[2015-02-04 15:10] #913 closed

[2015-02-04 15:57] julie-sullivan commented on #897
Manager *has* a department reference.

Department *has* an employee collection. If you want only managers, you constrain the subclass to be Manager.

It's preventing you from duplicating a collection. The model is working how it's supposed to.

[2015-02-04 16:02] julie-sullivan commented on #774
BRENDA requires a license to download see http://www.brenda-enzymes.org/copy.php

[2015-02-04 16:07] #623 closed

[2015-02-04 16:23] julie-sullivan opened #937 "Travis isn't checking bio packages."
Can you update travis to run checkstyle in bio/test-all too?

e.g. this build had a checkstyle error in bio/sources/biogrid but the checkstyle test passed:

    https://travis-ci.org/intermine/intermine/builds/47166969

[2015-02-05 11:15] joshkh opened #938 "Add HumanMine to list of mines in global properties."
1. Add HumanMine to list of known mines.
[code]

2. Also, change ZFIN color to better match its theme.
[code]

[2015-02-05 11:20] julie-sullivan commented on #938
See #933

[2015-02-05 11:21] julie-sullivan commented on #938
If we change the colours now, the colours will be different for the mines depending on which mine you are at. Is that going to be confusing? @sergiocontrino ? What do you think?

Also, only some mines (that update) will have humanmine, the rest will have metabolicmine.

We need a registry!

[2015-02-05 11:29] joshkh commented on #938
I'm creating a separate issue for a mine registry.

Also, I'll push my changes into the human-debut branch rather than create another pull request.

[2015-02-05 11:32] joshkh commented on #938
Done: See d339395ef65329b1e00a761d931d03271c7545c3

[2015-02-05 12:52] #717 closed

[2015-02-05 15:37] julie-sullivan commented on #938
Let's merge this now but put up a proper registry for 2.0

[2015-02-06 11:58] #938 closed

[2015-02-06 11:58] #706 closed

[2015-02-06 11:58] #901 closed

[2015-02-06 11:58] #927 closed

[2015-02-06 12:00] julie-sullivan commented on #926
@badryan - Which sort of file format from Cytoscape were you looking to import?

[2015-02-06 12:01] badryan commented on #926
I actually don’t know. That’s an internal. The provide a Java API with gene objects, to which you would have access.

[2015-02-06 16:47] alexkalderimis opened #939 "Support HTTP last-modified-since caching for queries"
Currently the queries insist on 'nocache' as their cache policy, but we could improve this to last-modified-since, if:
  * The database maintained a last-modified time
  * Each list maintained a last-modified time

The the last-modified time of a query is the most recent of the relevant times, which are the last modified time of the data-base and the last-modified times of the lists involved in it

[2015-02-06 16:47] alexkalderimis commented on #939
notify @joshkh, @julie-sullivan

[2015-02-06 17:06] joshkh opened #940 "Need public registry for friendly mines."
Currently, each mine accesses its own local properties file to find information about other mines. These properties, by default, come from our code base. This is bad.
- We need to version InterMine every time a new mine is added or a property of an existing mine is changed.
- Changes do not propagate to existing mines unless they pull from us.
- Different versions of InterMine will have different

[2015-02-06 17:08] joshkh commented on #940
At the very least, each mine will need a UID and a URL.

Up for debate is whether or not we store branding information. Thoughts:

I suggest that we optionally store each mine's branding information in our registry. Each mine should check our registry first, and if no branding information is found then it checks the mine directly (branding API).

In the end, branding information would rarely exist

[2015-02-09 16:19] julie-sullivan opened #941 "im-ant-tasks JAR can't be created"
Moved to a new repo:
https://github.com/intermine/im-ant-tasks

Need to copy over library.xml too

But compiling the JAR didn't work in the main repo either:

[code]

[2015-02-11 19:07] alexkalderimis commented on #897
This isn't about adding another collection - just marking an existing reference as a reverse reference of another reference (of which is is a logical reverse reference).

[2015-02-12 10:12] julie-sullivan commented on #937
bio/test-all build fails because I removed biopax but forgot to remove it from the testmodel. Why is travis still passing?

[2015-02-17 12:28] alexkalderimis commented on #793
We would like to know what problem this is  meant to solve.

[2015-02-17 12:35] alexkalderimis commented on #641
testmodel needs a case for this

[2015-02-17 12:35] JoelRichardson commented on #793
Mmm...I actually don't remember! It was just something I noticed one day where the results table functionality doesn't match/replace the query builder.

[2015-02-17 12:42] alexkalderimis commented on #553
needs discussion - especially regarding the effects of constraints.

[2015-02-17 13:45] alexkalderimis commented on #794
This is tested in /test/bundles/test-active-constraint.html

[2015-02-23 10:31] julie-sullivan opened #942 "Allow superclass lists in template list constraints"
From @JoelRichardson:

Sounds good to me! Can you make a pull request?

[2015-02-23 13:00] julie-sullivan opened #943 "results table no longer supports removing a filter"
results table no longer supports removing a filter

[2015-02-23 15:40] alexkalderimis commented on #942
That sounds completely sensible - the type check should be of the form "does the constraint path share a common type with the bag type".

[2015-02-23 17:10] alexkalderimis commented on #796
this is complete. Needs testing upon integration.

[2015-02-24 10:52] joshkh commented on #943
The remove filter button is still present on the DOM but it's being rendered as 0px by 6px. Clicking it programmatically removes the filter as expected, but obviously it can't be clicked with the mouse in its current state.

The <i> element is only the height of its own padding so I think it's safe to say that the FontAwesome character used for the close icon can't be located.

[2015-02-25 10:53] alexkalderimis opened #947 "Make sure all endpoints honour the filename parameter"
See the comments here: https://github.com/intermine/intermine/pull/945

Note that this feature adds orthogonal complexity to the InterMine system, so it will need fairly thorough testing.

The simple-data-service issue should be addressed with a request header (eg. `X-FileName`)

[2015-02-25 11:05] #932 closed

[2015-02-25 11:34] julie-sullivan commented on #797
@alexkalderimis I still get this error when I try to use some constraints:

[2015-02-25 18:49] gcornut opened #948 "Error during ant build-db on bio/test-all/dbmodel"
Hello,

I'm on InterMine 1.4.2 and I've encountered an error when running `ant clean build-db` in the `bio/test-all/dbmodel` folder.
The log finishes with this:
[code]

So naturally I searched the `biogrid_additions.xml` file which was not in the indicated directory but in `bio/sources/retired/biogrid/biogrid_additions.xml`.
This error disappeared when I corrected this path in the `bio/test-all/db

[2015-02-26 10:05] julie-sullivan commented on #948
This has been fixed by 0988f1728813846c1f00b587857d7b6d273e1914, I'll push this fix into master ASAP!

Thanks!!

[2015-02-26 14:35] julie-sullivan commented on #599
Maybe just specify the path you want, e.g. `Gene.locations`

[2015-02-26 14:59] alexkalderimis opened #949 "Remove hardcoded test from webapp"
We do not show tables for bags of type 'Submission'. This is hardcoded into the jsp. This is terrible. We should:
  * Move this particular blacklist to properties
  * Perform this test in a helper (wrapped in a tile even)
  * Have a test for this behaviour

[2015-02-26 15:24] alexkalderimis opened #950 "Escape list description"
Attackers can gain control of the webapp by injecting malicious content into a list description, which is unescaped. As proof set your list description to `<script>alert('pwned');</script>`

[2015-02-26 15:57] alexkalderimis commented on #950
I am changing this on the branch I am working on, btw.

[2015-02-27 02:57] alexkalderimis opened #951 "Allow users to remove items from their lists"
This needs to be added back - it went away with the advent of the results tables.

[2015-02-27 13:50] alexkalderimis opened #952 "We do not ask for confirmation when deleting lists"
This is a destructive operation - it would be much better to ask for confirmation. Also, this is particularly bad since on the lists page the `copy` button (which *preserves* data) and the `delete` button (which *destroys* data) are right next to each other, so it is easy to imagine silly mistakes ending up being regretted.

[2015-02-28 18:33] alexkalderimis opened #953 "Provide a one-click install"
This seems like a very clever way to do that:

https://github.com/seven1m/do-install-button

And we could provide a website that could generate such projects/yml files (is this Gos' holy grail of site you go to, upload a few fasta and gff3 files, specify remote sources to integrate and get a data-warehouse?)

[2015-03-03 12:04] #774 closed

[2015-03-03 16:03] julie-sullivan commented on #684
take a look at the `corporate-jbrowse` branch in testmodel/dbmodel/extra. Python used to parse XML.

[2015-03-05 16:35] julie-sullivan commented on #949
@sergiocontrino Can we remove this line: https://github.com/intermine/intermine/blob/beta/intermine/webapp/main/resources/webapp/bagDetails.jsp#L150

[2015-03-05 16:39] julie-sullivan opened #955 "UniProt fails to parse multiple Ensembl genes"
UniProt parser doesn't work with multiple genes marked as "gene designation".

[2015-03-05 16:39] julie-sullivan commented on #955
Fixed by 4696e39fab32e4912f8bf7166262b36153649760

[2015-03-05 16:39] #955 closed

[2015-03-06 13:41] #937 closed

[2015-03-06 13:47] julie-sullivan commented on #935
This is fixed on beta.flymine.org. Will want confirmation from @sneuhaus though.

[2015-03-06 13:49] julie-sullivan commented on #800
@alexkalderimis @JoelRichardson  Is there an example of an angle bracket in FlyMine? I can't think of one.

[2015-03-06 14:35] julie-sullivan commented on #779
This is working in beta. Will want @kkarra to test too.

@kkarra This fix will be in 1.5 which should be out shortly after InterMOD.

[2015-03-06 14:36] julie-sullivan commented on #778
@dmgood11 This is working now in beta, and will be part of the InterMine 1.5 release.

[2015-03-06 14:50] julie-sullivan commented on #753
This is fixed in beta

[2015-03-06 14:51] sneuhaus commented on #935
On beta.flymnie.org the details page I get after searching for 'zen' and selecting the first result crashes my browser (both firefox and chrome)

[2015-03-06 14:56] julie-sullivan commented on #641
@alexkalderimis The filter button is enabled but the checkboxes act like radio buttons, I can't select more than one. There is a case for wanting to view all FALSE and NULL values.

Also, the numbers are truncated.

![boolean](https://cloud.githubusercontent.com/assets/1663057/6527216/e69879ba-c410-11e4-903b-eaa6a4cbd2dc.png)

[2015-03-06 14:58] julie-sullivan commented on #935
Thanks @sneuhaus, Alex is looking at that now. I'll let you know when we are ready for you again. There are a few things to look at, I think.

[2015-03-06 15:00] julie-sullivan commented on #628
The column summaries appear correctly regardless of where you click on the page. This is fixed.

[2015-03-06 15:07] julie-sullivan commented on #482
@alexkalderimis I think the icons are clear. The edit filter icon has an edit filter alt text. Very clear!

1. Can the [x] icon have a "Remove filter" alt text instead of remove. this was the original source of confusion.

2. Sometimes if the constraints wrap the icons don't line up.

![constraint](https://cloud.githubusercontent.com/assets/1663057/6527420/89c6508e-c412-11e4-92d0-152ca48539df.png)

[2015-03-06 15:11] julie-sullivan commented on #374
@rachellyne beta.flymine has been updated. Take a look at the query results and close this ticket if you are happy?

I looked and think all your points have been nicely addressed.

[2015-03-06 15:12] julie-sullivan commented on #141
This is done.

[2015-03-06 15:12] #141 closed

[2015-03-06 15:35] sergiocontrino commented on #949
yes, i will check in directly on beta, if ok.

[2015-03-06 15:41] dmgood11 commented on #778
Thanks!

-David M. Goodstein
  Joint Genome Institute

[2015-03-06 16:27] #949 closed

[2015-03-06 17:07] julie-sullivan commented on #420
This is working in beta.

@JoelRichardson This fix will be part of InterMine 1.5 release.

[2015-03-06 17:08] julie-sullivan commented on #200
This is working in beta.

@kkarra This fix will be part of InterMine 1.5 release.

[2015-03-09 11:16] rachellyne opened #956 "Widgets should update when list filtered in results table"
The widgets should update on the list analysis page if the list is filtered through the results table.

[2015-03-09 17:02] julie-sullivan opened #957 "Homologues need to merge"
Treefam and panther need to merge homologues.

(maybe other sources)

e.g. FBgn0035076 and FBgn0012037 have two paralogue records one from each data set. There should only be one record.

[2015-03-09 17:20] sergiocontrino opened #958 "improve error message when creating list from set operation"
when logged in, from the MyMine section:
at the moment when you want to create a list as, for example, intersection of 2 lists and you forget to name the list first you get a message like:

 Names for lists and queries may only contain A-Z, a-z, 0-9, underscores and dashes.

that tricks users into thinking that this refers to the original lists names.

note also that in the public  list page, you

[2015-03-10 13:06] julie-sullivan opened #959 "Results tables on report pages - filter doesn't update title or making a list"
From Gos:

http://human.intermine.org/humanmine/report.do?id=401000081 (Pathway - Huntingdon's Disease)

This shows  366 human and mouse genes. If I filter to only be human, (a) the row count doesn't update (b) I can't make a list of just my 175 human genes.

[2015-03-10 14:14] julie-sullivan commented on #959
Only filtering on organism.name fails. Filtering by gene identifier and length works as expected -- the number updates and you can create a list with the filtered results.

[2015-03-10 15:19] sergiocontrino commented on #957
thalemine appears to have a similar issue, with all its homologues counted twice. it loads only panther though.
the homologue table contains the duplicated records. for an example, follow the steps below (MINE-708)

created a list of two genes
Gene > AGI ID	Gene > Symbol	Gene > Name	Gene > Brief Description
AT2G27990	BLH8	BEL1-like homeodomain 8	BEL1-like homeodomain 8
AT5G02030	RPL	REPLUMLESS	POX

[2015-03-11 10:18] julie-sullivan commented on #957
@rachellyne Panther says these 12 genes are homologues of themselves.

[code]

Here's an example line from the data file I found:

[code]

[2015-03-11 10:34] julie-sullivan commented on #957
There are only two fly genes:

[code]

[2015-03-11 12:09] julie-sullivan commented on #773
We don't use JBrowseDisplayer.java anymore.

[2015-03-11 12:09] #773 closed

[2015-03-11 12:15] julie-sullivan commented on #559
@rachellyne We can't do this because a row in intermine doesn't equal a row in the output file. Does that make sense?

[2015-03-11 12:15] #559 closed

[2015-03-11 13:21] rachellyne commented on #559
Not really.  The rows should refer to the results table regardless of the output format?

[2015-03-11 14:21] julie-sullivan commented on #881
See #615

[2015-03-11 14:21] #881 closed

[2015-03-11 14:21] julie-sullivan commented on #232
See #684

[2015-03-12 14:32] alexkalderimis opened #961 "Need way of referring to lists stably"
Changing a list name breaks queries. Staircase depends on such queries in its histories. We should have a stable identifier in addition to the name which is immutable. Both identifiers should work in queries.

[2015-03-12 14:44] julie-sullivan opened #962 "Interaction region not a Bioentity causing problems in located features collection"
Interaction region has a gene reference and a location reference. I think this is causing confusion.

If you look at the report page for ENSG00000097007 you'll see the located features collection does not load properly. I believe this is because it contains an interaction region object. I don't know how that happened.

We should make interaction region a bioentity if it's going to use the location

[2015-03-12 16:00] julie-sullivan opened #963 "Download link for Java client is broken"
It's still referring to the obsolete filedownload.do.

[2015-03-12 16:00] julie-sullivan commented on #963
See http://human.intermine.org/humanmine/api.do?subtab=java

The (download) link.

[2015-03-12 16:10] alexkalderimis commented on #963
The API tab is going away in the next release. Easy fix.

On 12/03/15 16:00, Julie Sullivan wrote:

[2015-03-12 16:16] julie-sullivan commented on #963
My favourite type of fix!

[2015-03-15 19:18] alexkalderimis opened #964 "quicksearch service should report total hits"
Currently these do not come back - they are probably good things to have in the response object. (without them we cannot know how to page or how many hits to report)

[2015-03-17 14:32] joshkh opened #965 "Web service should provide user-specific template information."
Currently there is no way to determine if templates are owned or editable by the user when queried through the web service.

[2015-03-18 09:20] sergiocontrino opened #966 "add db parameter for schema"
drupal/tripal puts the chado db in a separate schema. at the moment we have a work-around (see http://intermine.readthedocs.org/en/latest/database/data-sources/library/chado/?highlight=tripal ), but it would be better to be able to set a parameter for the connection (project.xml, database.java).

[2015-03-18 11:29] JoelRichardson opened #967 "Java client code gen errors"
1. If a query has a CONTAINS constraint, the Java codegen gives an error. Example:
[code]
Results:
[code]

2. If a query has a ONEOF constraint, the generated Java code has a syntax error:
[code]
Results:
[code]

[2015-03-18 11:39] alexkalderimis commented on #967
Thanks for reporting this issue. We will address this in the next release.

[2015-03-18 16:07] rnsmith opened #968 "Reduce tracker table size"
The `tracker` table is used by the `DataTracker` to help integrate objects from different sources, in large databases it can become huge. For each source that loads information about an object the tracker stores one row per field with the source name. When merging objects from different sources this information, along with priorities, is used to resolve conflicts between sources.

[code]

Currentl

[2015-03-18 16:27] rnsmith opened #969 "Fewer ANALYSEs while data loading"
`ANALYSE` is run during data loading to make sure object equivalence queries in the target database remain fast. For large databases the time take to analyse probably outweighs the benefir of analysing. The `ANALYSE` operations should be less frequent.

[2015-03-19 12:49] sergiocontrino opened #970 "Orthologs: add pairwise relationships for lists"
ThaleMine suggested to make available the gene to gene mapping of orthologues in a list context.

[2015-03-20 14:58] julie-sullivan opened #971 "PSI Interactions - taxon ID is strain"
The yeast taxon ID is the strain, should update to use the regular taxon ID.

Edit: Add option to config file to set the strain for a taxon ID, like we do for UniProt.

[2015-03-20 15:40] alexkalderimis opened #972 "Intermittent error creating an inline results table."
[code]

[2015-03-20 15:55] julie-sullivan opened #973 "Implement open search provider so we can be a firefox seach provider"
http://www.opensearch.org

[2015-03-20 16:20] sergiocontrino commented on #958
fixed in araport with 970744138b910919404c82db6ff890c96ae92413

[2015-03-23 14:20] alexkalderimis opened #974 "Configure imtables in properties"
Use imtables.configure, setMessages. Bonus points for supporting simple formatters.

[2015-03-24 16:48] gcornut commented on #861
I can confirm that this kind of problem with database connection occurs also during data integration. I tried integrating 14 data sources at once and I encountered the error "The table intermine_metadata doesn't exist" you reported in #919.

I splited the data integration in multiple sequential ant processes for each data source and now it works fine.

[2015-03-24 18:33] JoelRichardson commented on #608
Hi @julie-sullivan, a MouseMine user just ran into this one. Any chance it will be fixed soon? Thanks!

[2015-03-25 15:24] julie-sullivan commented on #608
@joshkh Can you take a look? Seems like it would be an easy fix!

[2015-03-25 16:24] rnsmith opened #975 "Reduce ANALYSEs while dataloading"
ANALYSE is run periodically (rules in `BatchWriterSimpleImpl.java`) in the target database during data loading to prevent lookup queries for equivalent objects becoming inefficient.  Currently these are run on all tables but could be restricted to only those tables with integration keys.

`BatchWriterSimpleImpl` doesn't know anything about primary keys but a list of analysable tables could be pass

[2015-03-26 14:36] julie-sullivan opened #976 "Portal doesn't correctly process homologues"
This line doesn't work as expected:

https://github.com/intermine/intermine/blob/beta/bio/webapp/resources/webapp/model/js/friendly-mines.js#L104

It's not keeping track of the domains properly.

e.g. In HumanMine, sending MGI identifiers to MouseMine includes the "orthologue" parameter. This causes the portal to process the mouse genes as homologues instead of mouse genes.

You end up with 5 mous

[2015-04-13 11:08] rachellyne opened #977 "Provide support for locations using FALDO"
http://biorxiv.org/content/early/2014/02/02/002121

[2015-04-14 12:58] julie-sullivan commented on #977
Do we have links to the data?

[2015-04-14 13:16] rachellyne commented on #977
FALDO is publicly available at the URL http://biohackathon.org/resource/faldo which is developed under
source code control at https://github.com/JervenBolleman/FALDO hosted by GitHub Inc

Uniprot will be providing data in this format.

[2015-04-14 16:02] sergiocontrino opened #978 "template with lookup failing if selecting the organism"
to replicate:
import template
[code]
it works with 'any' for the organism, while it fails with

Ooops...! Could not load the data-table.
Service failed. Please contact support.

when an organism is selected from the drop-down list.

stack trace:
[code]

[2015-04-15 10:16] julie-sullivan opened #979 "Keyword Search: don't index Gene.length"
Searching for 5468 brings up a gene with that length instead of pparg. That's dumb.

[2015-04-15 10:22] julie-sullivan opened #980 "FlyMine: genes not being merged correctly"
FBgn0002652 - in FlyMine but does not have a symbol. It has been merged with FBgn0267347.

One of these is not using the resolver correctly:

* Affymetrix array: DrosGenome1
* ~~BioGRID interaction data set~~
* FlyBase expression data
* GenomeRNAi data set
* ~~PubMed to gene mapping~~
* TreeFam data set

[2015-04-16 15:46] sergiocontrino commented on #935
not sure of the state of this one, but the funny expansion of cells is happening now on firefox (not on chrome).

[2015-04-16 18:04] alexkalderimis commented on #935
This should all be resolved as soon as the 2.0 tables are merged
(ie. imminently).

A.

On 16/04/15 16:46, sergio contrino wrote:

[2015-04-20 10:10] julie-sullivan opened #983 "Layout.jsp - remove old variable"
[code]

Used in the querybuilder, can be removed

[2015-04-20 10:11] julie-sullivan commented on #983
I just got this error:

[code]

[2015-04-22 15:20] julie-sullivan opened #984 "oAuth2 error text needs updating"
Also the google openID logo is still there.

[2015-04-22 15:40] julie-sullivan opened #986 "JS tests failing"
[code]

[2015-04-23 16:01] #854 closed

[2015-04-23 16:14] julie-sullivan commented on #978
1. unrelated to templates
2. happens in beta not live flymine so a new bug, introduced by me no doubt.
3. Error is on the LOOKUP on Protein.genes, so it's not handling the paths correctly.

[2015-04-23 16:15] julie-sullivan commented on #963
@alexkalderimis I think the API tab is going to stay for InterMine 1.6? Can we fix the link in the meantime?

[2015-04-24 10:11] julie-sullivan commented on #800
@alexkalderimis This isn't working as expected.

Run this template: http://humanmine.org/humanmine/template.do?name=GeneOrthAllele

Here is an allele:

[code]

The summary looks like:

[code]

The `<tm1Mmt>` is missing

[2015-04-24 11:10] julie-sullivan opened #988 "Download script failed on a few sources"
1. Reactome failed. They added underscores to their file names. Fixed by bcfb2715f32a2d9355dd93fffb0612190f26034f

2. HPO download failed;

[code]
3. Remove ensembl compara

4. The script didn't log its status in /data/download_logs so I had to look at the console. I think I disabled logging for reasons but I don't remember what those reasons were. I am certain it was a good reason.

Tell @rachell

[2015-04-27 22:43] JoeCarlson opened #989 "create-db does not clear tracker table"
When reusing a database, the object tables are cleaned out nicely, but the tracker table has accumulated records from the previous load.

This may explain my tracker table bloat.

[2015-04-28 10:55] joshkh opened #990 "/branding web service endpoint should provide more details"
The /branding web service should provide project details along with the existing branding properties.

Current values served by /branding (from global.web.properties):

[code]

Proposed additions (to global.web.properties):

[code]

Reasons why we can't source default values from elsewhere:
- I was hoping to construct a url that pointed to the webapp logo:
  [webapp.baseurl]/[webapp.path]/model/im

[2015-04-28 20:28] JoeCarlson opened #992 "InterMineObjectFetcher.run() does not report a configuration error"
When building a lucene index, if there is a misconfiguration in keyword_search.properties (such as a typo in index.references.Object = misspelledReference), then the run() method will terminate early in the finally{} block but will not report a run time error.

The ant task will finish and report a successful build, but the lucene index will not have all items in the index, depending on how many i

[2015-05-01 09:09] julie-sullivan commented on #984
@alexkalderimis  where do we put this message?

[2015-05-01 09:10] julie-sullivan commented on #895
This is done.

[2015-05-01 09:10] #895 closed

[2015-05-01 09:12] julie-sullivan commented on #851
This is working on beta.

[2015-05-01 09:12] #851 closed

[2015-05-01 09:23] julie-sullivan commented on #744
@alexkalderimis In chrome the icons look good, the main icon does not disappear. However it stops working. The icons in the subtables continue to work.

Everything works as expected in firefox.

[2015-05-01 09:26] julie-sullivan commented on #521
Now defaults to python.

[2015-05-01 09:26] #521 closed

[2015-05-01 09:44] julie-sullivan commented on #577
It now seems to append a suffix and fail to create the list:

[2015-05-01 09:56] julie-sullivan commented on #436
This is working correctly in beta.

[2015-05-01 09:56] #436 closed

[2015-05-01 10:03] julie-sullivan commented on #217
See #946

[2015-05-01 10:13] julie-sullivan commented on #78
This is done in the new UI.

[2015-05-01 10:13] #78 closed

[2015-05-01 10:14] julie-sullivan commented on #167
We have a loading table message now.

[2015-05-01 10:14] #167 closed

[2015-05-01 10:25] julie-sullivan commented on #979
@rachellyne Does it make sense at all to index integers?

[2015-05-01 10:31] julie-sullivan commented on #972
@kkarra does this still happen? On which report pages?

[2015-05-01 10:33] julie-sullivan commented on #970
Can you be more specific? Do you mean for a list show the orthologues? Or when you create a list from orthologues, keep those with the list?

[2015-05-01 10:34] julie-sullivan commented on #865
@rachellyne So do we need them in humanmine?

[2015-05-01 10:40] julie-sullivan commented on #992
See #896

[2015-05-01 10:43] julie-sullivan commented on #961
Other options:

1. warn people that their queries and histories will be broken
2. update the queries / histories with new name

[2015-05-01 10:44] sergiocontrino opened #994 "FlyMine: Warning on gene report page"
there is no apparent error on the page and the regulatory regions seem fine.

[code]

[2015-05-01 10:47] sergiocontrino commented on #970
in a list of genes, map each gene to its own orthologue (i.e. not just return the list of gene othologues to the original list)

[2015-05-01 10:50] julie-sullivan commented on #970
After which action? In which context? What's the workflow?

Do you mean just on a list analysis page? Or is there a specific action after which this should be displayed?

[2015-05-01 10:59] julie-sullivan commented on #958
@sergiocontrino Can you do a pull request?

[2015-05-01 11:01] #875 closed

[2015-05-01 11:03] julie-sullivan commented on #376
From @JoelRichardson

[2015-05-01 11:04] #801 closed

[2015-05-01 11:10] julie-sullivan commented on #642
@alexkalderimis Can we close this one?

[2015-05-01 11:15] JoelRichardson commented on #436
Yup this is great. Thanks!

[2015-05-01 12:48] julie-sullivan commented on #986
They are working now.

[2015-05-01 13:01] julie-sullivan commented on #978
Fixed by 3896038ddac497e753a77aaf8f2e5f3d33661b61

[2015-05-01 13:01] #978 closed

[2015-05-01 13:02] julie-sullivan commented on #794
@alexkalderimis How do I test this?

[2015-05-01 13:12] julie-sullivan commented on #963
Fixed by ca4ef3ef4838ee2ec569f156b664767e50f10ff7

[2015-05-01 13:12] #963 closed

[2015-05-01 13:14] julie-sullivan commented on #374
@rachellyne I am taking your silence to mean you love all the changes and this ticket can be closed.

[2015-05-01 13:14] #374 closed

[2015-05-01 13:20] julie-sullivan commented on #988
HPO fixed by 6bbbd635ac6b2b1991d61bf66d8689a0d51f3c66

[2015-05-01 13:22] julie-sullivan commented on #988
Ensembl fixed by 2f0a7c7542c7721d6f28055dd2f60836df6a31b5

[2015-05-01 13:25] #988 closed

[2015-05-01 13:36] julie-sullivan commented on #986
For sergio's last commit, the first test failed then the second one passed.

[2015-05-01 18:11] sneuhaus opened #996 "Inheritance in webconfig-model.xml is inconsistant"
Defining fields in sequencefeature results in child classes being similarly configured, but this doesn't work if fields are configured in bioentity.

This is because inheritance only takes place if the child class has no field configs defined.
Since sequencefeature already (on mousemine) had field configs, the configs in bioentity are not applied to child classes. So not a bug, just how it works.

[2015-05-05 09:40] joshkh opened #997 "github-notify test (ignore)"

[2015-05-05 09:41] rachellyne commented on #865
I don't think so - as we use ensembl now.  Something might break though.

[2015-05-05 09:43] joshkh commented on #997
@julie-sullivan fixed.

[2015-05-05 09:43] #997 closed

[2015-05-05 12:57] julie-sullivan commented on #943
This is working correctly in beta flymine.

[2015-05-05 14:08] sneuhaus commented on #996
Hi Julie,
 Do you want me to make a pull request for this. Its only those 4 lines of code?

[2015-05-05 14:28] julie-sullivan commented on #996
@sneuhaus Yes, unless you want me to make it. We'll need some sort of pull request / branch to test. Even though it's just four lines we still have to test. Does that four lines fix all of your problems?

[2015-05-05 14:29] sneuhaus commented on #996
As far as I can tell it does. I'll make a branch/pull request

[2015-05-05 14:49] julie-sullivan commented on #800
This is now working correctly. Will ask JoelRichardson to test once the fix is on the beta branch.

[2015-05-05 15:07] julie-sullivan commented on #797
This is working as expected on the branch. Will ask Joel to test once it's on the beta branch.

[2015-05-05 16:02] julie-sullivan commented on #796
@alexkalderimis This worked. However "Add value" didn't suggest an organism name for me so I had to remember how to spell *Caenorhabditis elegans*

[2015-05-05 16:03] julie-sullivan commented on #796
Just realised that is what  #795 is about, so never mind.

[2015-05-05 16:16] alexkalderimis commented on #641
In the case of wanting to view all `false` and `null` values - the user can always exclude all `true` values!

But seriously though, I will fix this.

[2015-05-05 16:18] alexkalderimis commented on #641
Also, this totally works for me! using:

[code]

[2015-05-05 16:24] julie-sullivan commented on #641
[code]

[2015-05-05 16:32] alexkalderimis commented on #641
Another easy fix - the class at issue is the following: https://github.com/intermine/im-tables/blob/dev/src/views/facets/boolean.coffee, which is short enough to quote in full:

[code]

As you can see, I will simply remove this class.

[2015-05-05 17:02] alexkalderimis commented on #950
Yup, fixed I believe, but feel free to XSS attack yourself as detailed above.

[2015-05-07 14:56] joshkh commented on #976
Flow:

1) **FriendlyMineLinkController.java** generates JSP variables:
[code]
Example:
[code]
* * *
2) **FriendlyMinesLinkDisplayer.jsp** generates javascript to run FriendlyMines.getLinks(...) on each remote mine.

For each mine in ${mines}, do the following:
[code]
Example:
[code]
* * *
3) FriendlyMines.getLinks() calls **AjaxServices.getFriendlyMineLinks**:
[code]
Example
[code]
* * *
4) AjaxSe

[2015-05-07 15:39] julie-sullivan opened #1000 "GeneLenghtCorrectionCoefficient misspelled"
In my log files

[2015-05-08 11:52] alexkalderimis commented on #641
Should be fixed in 2.0.0-beta-18

[2015-05-08 14:48] julie-sullivan commented on #996
Fixed by #998

Thanks @sneuhaus!

[2015-05-12 09:02] rachellyne opened #1003 "Add orthologue data for other drosophilas"
The drosophila orthologue data is pairwise between each drosophila and D. mel, so if you visit one of the "other" drosophilas you don't see orthologue data for all drosophilas.  You only get this from a D. mel gene.  We could add the D. mel data to the report pages so you can see orthologues between all the drosophilas.

[2015-05-13 08:04] julie-sullivan opened #1004 "FASTA and GFF3 - option to get taxon from file name"
If you have a lot of genomes, your project XML is going to be huge. If all the information is the same, we should be able to get the taxon ID from the data file or even the file name.

[code]

[2015-05-14 09:16] rnsmith commented on #989
I don't see this happening. In `flymine/integrate` I did this:
[code]
Did you do something different to observe the problem?

[2015-05-14 10:36] julie-sullivan commented on #790
1. logic should be easier to understand

[2015-05-14 10:37] julie-sullivan commented on #790
has to be backwards compatible but should accept true false too

[2015-05-14 11:02] #957 closed

[2015-05-14 11:02] #943 closed

[2015-05-14 11:02] #800 closed

[2015-05-14 11:03] #797 closed

[2015-05-14 11:03] #795 closed

[2015-05-14 11:08] julie-sullivan commented on #935
Working in beta flymine. Will ask @sneuhaus to test when the changes are on the beta branch.

[2015-05-14 11:08] #935 closed

[2015-05-14 11:11] #778 closed

[2015-05-14 11:12] #628 closed

[2015-05-14 15:34] julie-sullivan commented on #641
From @alexkalderimis

The null value constraint issue is a problem with the intermine pathquery engine. The tables are generating the correct query:
[code]
But the result returned do not include any nulls. Interestingly, on string columns that include nulls, the query engine behaves correctly.

[2015-05-14 17:35] JoeCarlson commented on #989
Hi Richard,

meebee I did not do the 'clean' step. I'll have to redo it to be sure.

I did something very similar and the tracker table was there and
populated. I guess I thought is was weird that the model object tables
were there and clean, but the tracker table was still there.

Thanks,

Joe

On 05/14/2015 02:16 AM, Richard Smith wrote:

[2015-05-15 08:05] julie-sullivan opened #1005 "ONE OF constraint doesn't handle booleans correctly"
From Alex

The null value constraint issue is a problem with the intermine pathquery engine. The tables are generating the correct query:

[code]

But the result returned do not include any nulls. Interestingly, on string columns that include nulls, the query engine behaves correctly.

See #641

[2015-05-15 10:11] julie-sullivan commented on #917
Works fine for non-genes:

Gene Flanking Region : ENSG00000228505 10.0kb upstream Homo sapiens

![jbrowse](https://cloud.githubusercontent.com/assets/1663057/7650928/2c013f14-faf3-11e4-9481-f026413531a3.png)

[2015-05-15 10:21] julie-sullivan commented on #917
okay gene is working everything is working now that I threatened it with extinction.

I don't understand computers.

[2015-05-15 10:59] joshkh opened #1006 "Add im-tables 2.0 to intermine 1.5"
Upgrade intermine 1.5 to im-tables 2.0

[2015-05-15 11:09] joshkh commented on #1006
Found in the just-imtables-2.0 branch 4858c321645955f0ca2a58658346ae3101e08ab2

[2015-05-15 11:28] alexkalderimis commented on #789
The purpose of this is to make the iodocs interactive API docs nicer by providing appropriate defaults. A good example is the query service - we cannot provide a default query because it depends on the model. But if the services endpoint can read default from the web-properties then the maintainers of a site can simply define an appropriate default query.

[2015-05-15 11:57] julie-sullivan commented on #796
Working on 1.5.1. branch

[2015-05-15 11:57] #796 closed

[2015-05-15 12:02] #753 closed

[2015-05-15 12:17] #641 closed

[2015-05-15 12:18] julie-sullivan commented on #311
This is now working correctly.

[2015-05-15 12:18] #311 closed

[2015-05-15 12:59] julie-sullivan opened #1011 "QueryBuilder- CSS needs fixing"
1. the submit button is all the way on the right side of the screen
2. when the path is too long the Query Overview panel gets shunted down to below the model browser panel.

![qb](https://cloud.githubusercontent.com/assets/1663057/7653023/8afd6684-fb0a-11e4-97a0-dd92625d4588.png)

[2015-05-15 12:59] julie-sullivan commented on #799
Works as expected

[2015-05-15 12:59] #799 closed

[2015-05-15 13:32] alexkalderimis commented on #900
if it is a regression, it seems to have unregressed. Not seen recently.

[2015-05-15 13:32] #900 closed

[2015-05-15 13:33] julie-sullivan commented on #744
Works as expected in beta flymine.

[2015-05-15 13:33] #744 closed

[2015-05-15 13:46] julie-sullivan commented on #1011
Works fine in firefox, wrapping only happens in older browsers. Chrome has the submit button way on the right hand side of the screen.

[2015-05-15 13:49] alexkalderimis commented on #683
there are some problems supporting pagination in these cases - for one, there is no one-to-one mapping between rows in the table and rows in GFF3 or FASTA records. Only when that is possible can pagination be implemented.

[2015-05-18 14:47] julie-sullivan commented on #950
Fixed by c706928c10f0f8ae8dc770d0fe9e07329c5dd686

[2015-05-18 14:47] #950 closed

[2015-05-18 15:31] sergiocontrino commented on #779
for example, using the template
"Chromosomal location --&gt; All genes."  with default values:

FBgn0031208, strand = 1 export is correct (i find the sequence has been extended by the amount required)
FBgn0002121, strand = -1 export has the right length, but i don't recognise the sequence
e.g.
no extension:
gcacactagacccaccgatcgcgactttgtgtgtgttaaaatgacgcgcatatcgttttg....
with 20 bp extension:
aaat

[2015-05-19 10:42] julie-sullivan opened #1012 "Export fails - out of memory exception"
[code]

[2015-05-19 11:33] sergiocontrino commented on #779
the new version does what i was expecting (i.e. adding the right amount of bases both ways). closing.

[2015-05-19 11:53] julie-sullivan commented on #779
Fixed by 759e0bbc0b35aa48477517b834d330f38aa65d04

[2015-05-19 12:54] julie-sullivan commented on #976
Fixed by f10b0b1d2c83672db53934e52a978fd6028f288f

[2015-05-19 12:57] julie-sullivan commented on #414
This is working

[2015-05-19 12:57] #414 closed

[2015-05-19 12:59] julie-sullivan commented on #958
Fixed by 1204dd82f48a55e6ddbdabc5d8888223fa852649

[2015-05-19 13:06] #1006 closed

[2015-05-19 13:06] #958 closed

[2015-05-19 13:06] #976 closed

[2015-05-19 13:18] #779 closed

[2015-05-19 13:19] julie-sullivan commented on #794
@JoelRichardson How could I test this?

[2015-05-20 08:35] julie-sullivan commented on #726
Tell @kkarra

[2015-05-20 08:40] julie-sullivan opened #1013 "OBO converter - fails on creating synonyms."
Here is the error

[code]

[2015-05-20 08:52] julie-sullivan commented on #1013
@kkarra - It looks like it's failing on creating a synonym key. The key includes:

* class
* type
* id
* name

How can any of these be over 2000 bytes? What kind of ontology names are these!? ha. The longest GO term name is 200 something. My suggestions:

1. Check the data. This seems wrong. This is for the synonym not for the actual term.
2. Take the name out of the key. Queries will still work b

[2015-05-20 08:55] julie-sullivan opened #1014 "Expression widget - add numeric scores to bars"
From @kkarra

![exp](https://cloud.githubusercontent.com/assets/1663057/7722252/60a28890-fed6-11e4-98c6-e9401df55910.png)

[2015-05-20 08:57] julie-sullivan commented on #1014
Here is where the query results are handled:

https://github.com/intermine/intermine/blob/beta/bio/webapp/src/org/intermine/bio/web/displayer/FlyBaseExpressionDisplayer.java#L124-L133

It looks like even though the score is in the query, it's not being added to the results. That isn't very clever! Add the score to the results.

Once you have the results, you can add them to the tooltip on the JSP:

[2015-05-20 09:01] julie-sullivan opened #1015 "Panther and Homologene - Mouse genes are not being merged correctly"
@JoelRichardson @motenko

Migrating from 1.3 to 1.5, mouse genes are not being merged correctly in these two sources.

This is a prime suspect:
https://github.com/intermine/intermine/pull/850

The NCBI changed their identifier pattern to be "MGI:MGI:", so I added a bit to the ID resolver to chop off the first "MGI:". According to @motenko this is not working as expected.

[2015-05-20 09:02] julie-sullivan commented on #1015
Also, the MGI group had their own solution for this but removed it because I said the problem was fixed.

[2015-05-20 10:10] julie-sullivan commented on #1015
1. on beta branch
1. property for ID resolver set in flymine.properties:

1. symlink with read permissions:

1. Data file from panther (2015 April):

1. Ran Panther data source by itself

1. gene looks like it loaded correctly

[code]

@motenko Can you follow these steps and post what you find? I didn't try homologene.

[2015-05-20 11:55] julie-sullivan commented on #789
@vivekkrish Can you test this fix?

[2015-05-20 12:00] julie-sullivan commented on #967
Works for me

[code]

[2015-05-20 12:25] julie-sullivan commented on #1012
This was related to my specific webapp.

[2015-05-20 12:25] #1012 closed

[2015-05-20 12:32] julie-sullivan commented on #200
The mouseovers are working correctly in safari.

[2015-05-20 12:32] #200 closed

[2015-05-20 12:41] julie-sullivan commented on #420
@joshkh I get a file download but the file is empty. This is only for Safari with XML. All other browsers and languages seem fine. There is no error in the console or tomcat logs.

[2015-05-20 12:44] julie-sullivan opened #1017 "Panther - didn't load yeast orthologues"
* I don't think yeast orthologues have loaded into HumanMine.
* Add a test for this in the acceptance tests

Tell @rachellyne

[2015-05-20 12:46] julie-sullivan commented on #1017
@rachellyne Yeast isn't in the list of organisms to load. I don't know why! https://github.com/intermine/intermine/blob/beta/humanmine/project.xml#L123

[2015-05-20 13:27] julie-sullivan commented on #797
@sergiocontrino Can you test? This looks like it's working as expected now.

[2015-05-20 17:10] vivekkrish commented on #789
cc @eriksf

Hi @julie-sullivan , sure we can test it out with ThaleMine.

However it seems that the version of web.xml in your branch (https://github.com/alexkalderimis/intermine/blob/44f3a1b2768bfbdf022bd24cb35983df1bcabc5e/intermine/webapp/main/resources/webapp/WEB-INF/web.xml) is slightly offset, in terms of lines, when compared with the web.xml in our stable branch (https://github.com/Arabidop

[2015-05-21 20:21] kkarra commented on #1014
Hi Julie,

Finally, with no help from any descriptive error, figured that the problem was the fact that I was not casting the score properly.

 String expressionLevel =  (String) row.get(2).getField();
vs
String expressionScore = ((Float) row.get(2).getField()).toString();

I now see the scores avaliable to the jsp displayer code!

Thanks,
-Kalpana

[2015-05-22 11:21] rnsmith commented on #975
I made this change here and it seems to work, with a little clean up and a full test build it should be done: https://github.com/intermine/intermine/commit/c007a6a6cafb7dc4678693152fa6cf7477921e28

[2015-05-22 11:32] rnsmith commented on #969
Make tables analyses less frequent: https://github.com/intermine/intermine/commit/5a653d3df98115b689a23b2c87c4ed021e792989

[2015-05-27 15:27] hkmoon commented on #967
Using the below
[code]
in flymine, trying to generate java code gives me Invalid query error.

[2015-05-29 15:39] JoelRichardson opened #1019 "Duplicate BioGrid interaction data"
If you load mutliple species from BioGrid (i.e., by loading each species' xml file), you end up with duplicated records for the between-species interactions. This is because each species file contains all interaction data for that species, include interactions with other species. If I load data files for both species A and species B, it get the A/B interactions twice.

FlyMine loads BioGrid data f

[2015-06-01 07:54] julie-sullivan opened #1020 "Manage columns labels gone"
![manage-columns](https://cloud.githubusercontent.com/assets/1663057/7908318/cecbe168-083b-11e5-88b0-662607a7a0f3.png)

[2015-06-01 07:55] julie-sullivan opened #1021 "View on widgets opens a blank window"
The view button on enrichment widgets opens a new window but it's blank, instead of being the results of the widgets.

[2015-06-01 08:07] julie-sullivan commented on #1019
Looking at the code, the data structure that keeps the unique list is a global variable:

So it seems like this should work for both mouse and human. The multikey is gene1+gene2 and therefore is valid regardless of organism.

I'll run the unit test for biogrid with just pax6 and see what happens. I would think it should be a quick fix.

[2015-06-01 08:09] julie-sullivan commented on #1015
From @motenko:

2. So my ID resolver is set for:
mousemine [Intermine 1.3] ==>>  resolver.file.rootpath=/var/lib/jenkins/etl_build/etl/output/entrez/latest/

Howiemine [Intermine 1.5] ==>> resolver.file.rootpath=/home/motenko/etl/output/entrez/latest/

3. We don’t use a symlink to entrez (and it’s been working fine with Intermine 1.3

4. Should I be seeing two rows when loading the Panther file –

[2015-06-01 08:12] julie-sullivan commented on #967
ONE OF queries work fine, CONTAINS still is broken.

[2015-06-01 08:38] julie-sullivan opened #1022 "Widget download broken"
Clicking on the widget download does nothing.

[2015-06-01 08:50] #1022 closed

[2015-06-01 08:50] julie-sullivan commented on #1022
Fixed by 145b794a0777fa3dd2679a2618a412b890e25e9e

[2015-06-01 09:33] #967 closed

[2015-06-01 09:35] julie-sullivan commented on #967
@hkmoon - This is now fixed on the beta branch. We hope to push this change out to the live FlyMine this week. Thanks!!

[2015-06-01 10:13] julie-sullivan opened #1024 "HumanMine config - remove bad paths"
Update webconfig-model.xml

[2015-06-01 10:14] julie-sullivan opened #1025 "HumanMine - fix SNP displayer"
There is a displayer that doesn't display on the report page.

Also, this error message could be made to be useful.

[code]

[2015-06-01 10:46] julie-sullivan opened #1026 "Report page - error message is cryptic"
Which collection? Why did it fail?

[code]

[2015-06-01 12:39] JoelRichardson commented on #1019
@julie-sullivan Just to be clear, I think it's the InteractionDetail and InteractionExperiment objects that are being duplicated, not the Interaction objects. So the key would have to include something like the BioGrid id and/or pubmed id.

[2015-06-01 12:41] julie-sullivan commented on #1019
Ah okay, that makes sense. I'll be sure to check those.

But the key wouldn't work as it's a single data source. I'll need to fix the Java instead.

[2015-06-02 07:53] alexkalderimis commented on #1020
CSS white on white maybe?

[2015-06-02 08:23] julie-sullivan opened #1027 "Outer joins break the results table"
Run this query and make experiments an outer join:

[code]

The experiments show up in the wrong place and the publications column is empty:

![outer](https://cloud.githubusercontent.com/assets/1663057/7931478/ee0b8e0c-0908-11e5-8d32-3975adc1fb84.png)

[2015-06-02 08:46] julie-sullivan commented on #1019
This query produces duplicates:

[code]

For a single interaction and experiment where the roles are the same, we would expect only one detail record. An experiment can't show twice that gene1 as bait and gene2 is prey.

[2015-06-02 09:30] sergiocontrino commented on #789
hi @vivekkrish!
not sure where we are on this. regarding web.xml the merge should be fine. there is only one addition in the araport file that will stay (a commit from svetlana, trying to remove session errors fbebac6), unless you want it out.
i have a pull request to merge 1.5.3 into stable and i was planning to do it now, please let me know if this is fine. i could then add this change into stab

[2015-06-02 10:32] julie-sullivan commented on #1015
Sorry @motenko I am not following. What does entrez only mean? The command you list looks like only homologene is loaded:

From the above it looks like Panther is okay and Homologene is the source that is now not loading genes correctly.

Is that what you meant?

[2015-06-02 10:46] julie-sullivan commented on #1015
Assuming Panther is working fine, I just ran the Homologene source with this command:

And it looks fine to me:

[code]

My homologene data file is dated 2015-04-23 and contains the relevant lines:

[code]

I am going to try using the 1.5 tag instead of the beta branch.

[2015-06-02 11:02] julie-sullivan commented on #1015
No, the 1.5 tagged code worked for me too. I can't seem to replicate your results and I don't know why. Can you clarify which sources you used?

I checked my entrez file (the one used for resolving) and it's also dated 2015-04-23 and does have the wonky "MGI:MGI:" prefix:

[code]

So what are you doing differently to me?

I see you are using the target `clean` when running `build-db` - this is goo

[2015-06-02 12:12] julie-sullivan commented on #1020
@alexkalderimis Doesn't look like it:

[code]

[2015-06-03 14:25] julie-sullivan opened #1030 "data sets should have more details - descriptions and pubs"
MGI is listed twice, as is NCBI

Also need descriptions and pubs

[2015-06-04 08:40] julie-sullivan commented on #1025
We don't do overlapping features anymore:

[code]

[2015-06-04 08:46] julie-sullivan commented on #1025
@rachellyne This displayer (SNP to gene) doesn't work anymore because we don't do overlaps.

1. What should we replace it with?
2. Should we restore overlaps? We got rid of them for performance reasons.

[2015-06-04 08:48] julie-sullivan commented on #1024
These have now been removed, this error message was old.

[2015-06-04 08:48] #1024 closed

[2015-06-04 09:07] rachellyne commented on #1030
I'm going to change this to look more like the FlyMine page.

[2015-06-04 09:12] julie-sullivan commented on #1030
@rachellyne Yes that would be useful! Also, it would be good to have details on the data be queryable. e.g. this query:

[code]

That way people can query and see details about the data. Specifically someone asked me the other day how to do this via Python.

So maybe we could fill in the URLs and descriptions. I need to copy over some URLs for some data sets but might need your help with the descr

[2015-06-04 09:43] #931 closed

[2015-06-04 09:48] julie-sullivan commented on #591
The FlyMine URL is now stable.

[2015-06-04 09:48] #591 closed

[2015-06-04 09:49] #557 closed

[2015-06-04 09:49] #547 closed

[2015-06-04 12:57] julie-sullivan opened #1032 "CORS issue - www.humanmine.org and humanmine.org"
If users go to humanmine.org the widgets don't work because the widgets are set to come from www.humanmine.org

This is confusing because browsers hide the http:// bit now and often hide the www part.

[2015-06-04 13:37] joshkh commented on #1032
Can we set up a redirect from humanmine.org to www.humanmine.org for the time being? I'm still surprised at this since the CORs spec doesn't support subdomains. Should be *, null, or exact domain.

[2015-06-04 15:18] julie-sullivan opened #1033 "Column summaries - toggle between linear and log base 10"
From Gos:

It would be great to have a toggle button when viewing the little graphs, that
would switch from the Y-axis being linear and it being log base 10.

Good example would be:

ThaleMine ->
  view lists ->
    List Analysis for Workshop Sucrose Transporters List (9 Genes)
    Scroll to bottom and open Genes --> Expression (33,384) rows
       --> column summary of Expression Signal.

A log p

[2015-06-08 09:42] ThomasLet opened #1035 "VCF data parser for InterMine"
Hi,

I was wondering if the development of a VCF data parser was planned for InterMine future releases. We work a lot with InterMine in my unit and we try to handle polymorphic data, especially data from VCF files, this kind of parser could be very useful for us !

Best regards,

Thomas

[2015-06-09 11:00] sergiocontrino opened #1036 "enrichment widget: add count of genes in reference population"
it seems it would be useful to display the count of gene used in the default reference population in the widget.

[2015-06-10 10:45] julie-sullivan commented on #1035
@ThomasLet - Absolutely! This would be very useful for us. See #210.

Did you have a specific VCF file in mind? I can write a test based on that file.

[2015-06-10 10:45] julie-sullivan commented on #1032
@joshkh What was the hack we used to get this working for the conference?

[2015-06-10 10:58] julie-sullivan commented on #485
@rnsmith We should get rid of truncated mode. Are there others we can get rid of? We should also document flat mode a bit.

[2015-06-10 11:03] joshkh commented on #1032
We had to specifically include **www** in www.humanmine.org.

It's not immediately clear to me why that works. CORS filters are usually either domain specific or a free-for-all wildcard. Out of the box, InterMine includes custom Tomcat filters:
https://github.com/intermine/intermine/blob/beta/intermine/webapp/main/resources/webapp/WEB-INF/web.xml#L3048

Maybe the answer is in the Java, possibly st

[2015-06-10 12:30] sergiocontrino commented on #246
see MINE-744 for aip.

[2015-06-11 13:27] julie-sullivan commented on #1035
@ThomasLet - I've added a VCF file parser. See http://intermine.readthedocs.org/en/latest/database/data-sources/library/variation/vcf/. The parser is currently on a different branch so you could test now, but it will be in the next InterMine release.

I tested using the Ensembl file here - ftp://ftp.ensembl.org/pub/release-79/variation/vcf/homo_sapiens/ so let me know if that varies from what's in

[2015-06-11 14:57] julie-sullivan commented on #1036
See #205

[2015-06-11 15:46] julie-sullivan commented on #975
See #969

[2015-06-11 15:46] julie-sullivan commented on #969
See #975

[2015-06-11 15:51] ThomasLet commented on #1035
Hi Julie,

We work on multi samples VCF files which contain CNV data.

Many thanks for your work, I will try the parser next week !

Best regards,

Thomas

I will test the parser next week and I will On 06/11/2015 03:27 PM,
Julie Sullivan wrote:

[2015-06-11 15:55] julie-sullivan opened #1038 "HumanMine - data model issue still lingering"
When viewing a consequence.

http://www.humanmine.org/humanmine/portal.do?class=Insertion&externalids=rs373328635

[2015-06-11 15:58] julie-sullivan commented on #1038
![con-type](https://cloud.githubusercontent.com/assets/1663057/8111669/04163f72-105b-11e5-9159-c5e12d60d292.png)

[2015-06-11 16:20] julie-sullivan commented on #1038
Fixed by 0345a05bbf3e71531ff01ae642f09608d1b19e58

[2015-06-11 16:20] #1038 closed

[2015-06-12 08:40] julie-sullivan opened #1039 "Perl client - can't create list of orthologues"
From @kkarra

[code]

[2015-06-12 09:53] julie-sullivan commented on #1039
Here we are checking the paths:

https://github.com/intermine/intermine/blob/beta/intermine/perl/Webservice-InterMine/lib/Webservice/InterMine/Query/Roles/Listable.pm#L38

In our case, it's finding Gene and Gene.organism because Gene.organism.name is in our view list.

The "type" of list to create is provided. We can be cleverer and compare the paths to the type.

[2015-06-12 10:08] julie-sullivan commented on #209
This isn't really possible as a row in the table != a row in the output. e.g. you might have outer joins, or a gene might be repeated in the table but not in the export.

[2015-06-12 10:08] #209 closed

[2015-06-12 10:38] #152 closed

[2015-06-12 12:00] julie-sullivan commented on #160
@rachellyne This would require a model change to GO and others. Maybe worth it to review some data sources (interactions? expression) and use this ECO term where possible.

Or would the effort not be worth the work?

[2015-06-12 13:13] julie-sullivan opened #1040 "MeSH terms - not loading publication relationships"
HumanMine is only loading 13 mesh terms and not relating them to publications.

[2015-06-12 16:09] julie-sullivan commented on #1040
user error. nm

[2015-06-12 16:09] #1040 closed

[2015-06-16 12:17] julie-sullivan commented on #1021
This is true on both enrichment and graph widgets

[2015-06-16 12:18] julie-sullivan commented on #1013
@kkarra Can I close this ticket?

[2015-06-16 12:20] julie-sullivan commented on #1011
worksforme

[2015-06-16 12:20] #1011 closed

[2015-06-16 12:50] #1000 closed

[2015-06-16 12:56] julie-sullivan commented on #994
[code]

[2015-06-16 14:16] julie-sullivan commented on #992
[code]

[2015-06-16 14:26] julie-sullivan commented on #986
The tests a failing consistently now.

[2015-06-16 14:26] julie-sullivan commented on #984
Can't reproduce.

[2015-06-16 14:26] #984 closed

[2015-06-16 15:18] julie-sullivan commented on #973
Lucene already can do this.

[2015-06-16 15:21] julie-sullivan commented on #956
This will be done as part of stepz. But not in the current interface.

[2015-06-16 15:21] #956 closed

[2015-06-16 15:23] julie-sullivan commented on #948
Running `build-db` in `bio/test-all/dbmodel` is now working as expected.

[2015-06-16 15:23] #948 closed

[2015-06-16 15:32] #918 closed

[2015-06-16 15:34] #846 closed

[2015-06-16 15:36] julie-sullivan commented on #866
@rachellyne Did you ever get a response?

I'm going to close this ticket and we will use the ID resolver to handle rat genes in panther.

[2015-06-16 15:36] #866 closed

[2015-06-16 15:44] #865 closed

[2015-06-16 15:45] #821 closed

[2015-06-16 16:00] julie-sullivan commented on #824
The Ensembl identifiers have been removed.

[code]

So I guess this is fixed now?

[2015-06-16 16:00] #824 closed

[2015-06-16 17:29] kkarra commented on #1013
I tried option #2 (take name out of key) and that seems to have worked.

[2015-06-17 08:14] julie-sullivan opened #1043 "BioGRID download fails when strain is included"
Here is the error:

[code]

Here is the list of organisms in the BioGRID zip file:

[code]
Here is the config we are using:

[code]

Should we make the script more robust to include all strains? Or do we want to specify which strains we want?

[2015-06-17 08:17] julie-sullivan commented on #1043
@justincc I am going to remove E coli for now. Add it back with the strain(s) that you want. Right now the script is brittle and fails completely if the strain is not correct.

[2015-06-17 08:18] julie-sullivan commented on #1043
@sergiocontrino  I am going to remove thale temporarily. Add it back with the strain that you want. Right now the script is brittle and fails completely if the strain is not correct.

[2015-06-17 08:36] #1013 closed

[2015-06-17 09:18] julie-sullivan commented on #748
@rachellyne Is this the file: http://www.affymetrix.com/estore/support/technical/byproduct.affx?product=fly-20&_requestid=142728

[code]

[2015-06-17 09:19] #722 closed

[2015-06-17 09:28] rachellyne commented on #866
No I didn't. Panther are not good at responding to emails.  If we can use the ID resolver I won't hassle them again.

[2015-06-17 09:37] rachellyne commented on #979
Pubmed IDs and NCBI Ids.   I can't think of anything else that would require you to put in a number.  You could if course - but that would be a strange way of searching this type of data and not recommended..

[2015-06-17 09:40] julie-sullivan commented on #642
The API token generation seems to be working fine.

[2015-06-17 09:40] #642 closed

[2015-06-17 09:40] #597 closed

[2015-06-17 09:41] julie-sullivan commented on #586
@sergiocontrino The child features look correct to me. I think you said Vivek said they were wrong for Thale? If so, reopen this ticket.

[2015-06-17 09:41] #586 closed

[2015-06-17 09:46] rachellyne commented on #160
I'll take a look - I don't think any others use it.  Are GO going to re-do all evidence codes?   I thought the current system was good - simple!

[2015-06-17 09:49] julie-sullivan commented on #160
@rachellyne We could ask GO people.

[2015-06-17 09:57] julie-sullivan commented on #577
It now prevents you from creating the list saying " Error No lists matched `new list`".

[2015-06-17 09:57] #571 closed

[2015-06-17 09:57] #566 closed

[2015-06-17 09:58] #554 closed

[2015-06-17 09:58] #553 closed

[2015-06-17 09:59] #501 closed

[2015-06-17 10:00] #428 closed

[2015-06-17 10:00] #353 closed

[2015-06-17 12:50] julie-sullivan opened #1045 "PRIDE data parser"
ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/

[2015-06-17 13:06] julie-sullivan commented on #1045
@rachellyne Can you help me model the data?

[2015-06-17 14:07] rnsmith commented on #989
I can't reproduce this even without a clean. `BuildDbTask` uses `con.getMetaData().getTables(null, null, "%", null)` to get all tables in the database and drops them all. I don't see how it can leave the tracker table behind.

[2015-06-17 14:07] #989 closed

[2015-06-18 08:57] rachellyne commented on #1045
Yes I can.  I am just prioritising HumanMine data sources - is this one a priority?

[2015-06-18 09:00] julie-sullivan commented on #1045
@rachellyne  @gmicklem mentioned it so I don't know. I suppose it will be relative to the other sources on the list? And how difficult the data is to model / parse.

[2015-06-18 11:45] julie-sullivan opened #1046 "XenMine - list creation error"
When I create a list, it works fine but when I go to the list analysis page I get a pop up. The console says this:

I assume this is the case for already created lists but xenmine has no public lists.

Tell @kkarra

[2015-06-18 12:11] julie-sullivan commented on #1021
Fixed by https://github.com/joshkh/intermine/commit/abed1a57e90f3b85fabc52a6c9c690777c252902

[2015-06-18 12:11] julie-sullivan commented on #1004
@justinccdev Maybe you could look into this. This would benefit synbiomine to have such a system.

[2015-06-18 14:36] #919 closed

[2015-06-18 14:40] julie-sullivan commented on #582
@kkarra is this still on your wishlist?

[2015-06-18 14:44] julie-sullivan commented on #749
See #464

[2015-06-18 14:47] #700 closed

[2015-06-18 14:48] #455 closed

[2015-06-18 16:09] kkarra commented on #582
If no one else cares, guess not.

[2015-06-18 16:20] kkarra commented on #1046
It probably has to do with the right hand corner links - "Orthologues"  - will look into removing it and trying..

18/06/15,09:18:21 ERROR        org.intermine.dwr.AjaxServices     - failed to get custom converter counts
org.intermine.objectstore.ObjectStoreException: PathQuery is invalid: [Path Gene.homologues.type in constraint is not in the model]
	at org.intermine.api.query.MainHelper.makeQuer

[2015-06-18 17:33] kkarra commented on #1046
It does look like the problem. Commenting out below section in bag-queries.xml gets rids of the error. An empty box appears though. I

[2015-06-19 09:26] #1021 closed

[2015-06-19 10:52] julie-sullivan commented on #980
RNAi source is to blame, here is the log file:

[2015-06-19 10:53] julie-sullivan commented on #980
[code]

I think the ID resolver is not using the `is_obsolete` flag.

[2015-06-19 12:02] julie-sullivan commented on #980
Everything is working as expected. I assume this was because of a lag between flybase and flymine data.

[2015-06-19 12:02] #980 closed

[2015-06-19 12:53] joshkh commented on #1020
Fixed by pull request a55759e885d992c55d4b1e5c4180a94939979c18

[2015-06-19 13:03] julie-sullivan commented on #1027
works as expected.

[2015-06-19 13:03] #1027 closed

[2015-06-19 13:05] joshkh commented on #1027
Fixed by pull request intermine/im-tables@a55759e885d992c55d4b1e5c4180a94939979c18

[2015-06-19 13:25] #1020 closed

[2015-06-23 12:48] rachellyne opened #1049 "Add a nicer error if EsyN network to large to load."
Looks a bit messy.  Can we improve how this looks if it can't load.

[2015-06-23 13:27] julie-sullivan commented on #788
@rachellyne Can you have a look at this? I'd like to do this for the next release.

[2015-06-23 13:35] rachellyne commented on #788
Yes.  Maybe discuss tomorrow?

[2015-06-23 13:39] julie-sullivan commented on #986
Tests are passing now. @joshkh Maybe you want to document how you fixed them here?

[2015-06-23 13:39] julie-sullivan commented on #1017
working as expected now.

[2015-06-23 13:39] #1017 closed

[2015-06-25 07:45] julie-sullivan opened #1051 "Cytoscape network viewer - upgrade"
We're using the old flash one, we should be using the new JS one instead.

https://github.com/cytoscape/cytoscape.js

[2015-06-25 10:23] julie-sullivan commented on #804
This is the JSON the web service is generating:

[code]

* stoichiometry isn't showing up
* interactors need uniprot identifiers
* interactions need
   * type, e.g. direct interaction
   * evidence type
   * identifier

[2015-06-25 11:45] rachellyne commented on #748
I'm stuck on this one.  I can't find an up-to-date file at affymetrix and I can't find the files we used to load from ensembl.  Apparently we had a script called  get_affy_probes but I can't find this either.  I don't know if anyone will have updated to 6.0 - it doesn't look like affymetrix have.

[2015-06-25 14:26] julie-sullivan commented on #834
Fixed by #1029

[2015-06-25 14:26] #834 closed

[2015-06-25 14:36] julie-sullivan opened #1052 "FlyMine: chromosomes are golden path fragments"
[code]

This query wouldn't run:

[code]

[2015-06-25 14:42] julie-sullivan commented on #1052
other "bad" queries:

 * GOterm_genesDrosDelDeletion

[2015-06-26 07:40] julie-sullivan opened #1053 "Simple objects fail to show in results tables with outer joins"
Running this query in humanmine fails:

[code]

With this error:

[code]

[2015-06-26 08:32] julie-sullivan commented on #1053
@rachellyne Maybe we could have a template that would do a similar query, to help us test.

[2015-06-26 14:28] julie-sullivan commented on #1053
![simple-outer](https://cloud.githubusercontent.com/assets/1663057/8379439/fe96538e-1c17-11e5-8226-0960652e2ad5.png)

[2015-06-26 14:29] julie-sullivan commented on #1053
It seems the collections on report pages use outer joins by default, hence the error. We should be able to configure the webconfig-model to use inner joins instead.

[2015-06-26 14:32] julie-sullivan opened #1054 "List upload reads your mind"
It should look in the bioentity table, get right entity and find out which type it is. People shouldn't have to know our model to make lists.

Tell @rachellyne

[2015-06-26 15:13] julie-sullivan commented on #748
@rachellyne I downloaded this file:

http://www.affymetrix.com/estore/support/technical/byproduct.affx?product=fly-20&_requestid=142728

[code]

And it looks like what we want. Can you verify?

[code]

It's got the probe and the transcript. That's all I can tell. The dates are 2014 October, so that's a few months after 6.0 came out. So maybe we're good?

Or is that the wrong data?

[2015-06-26 15:16] julie-sullivan commented on #748
Any Ensembl script we have would likely be out of date an unusable due to API changes.

[2015-06-29 13:39] julie-sullivan opened #1057 "Reactome: humans are mice"
This human protein Q08AM6 is labelled as mouse and human in the data file:

[code]

[2015-06-29 13:42] julie-sullivan commented on #1057
[code]

[2015-06-30 10:09] julie-sullivan commented on #804
See #788

[2015-06-30 10:09] julie-sullivan opened #1058 "Esyn: change to use pipe delimiter"
Change from comma to pipe.

[2015-06-30 11:06] joshkh opened #1060 "github-notify test."

[2015-06-30 11:09] #1060 closed

[2015-06-30 11:09] joshkh opened #1061 "slack integration test."

[2015-06-30 11:10] joshkh commented on #1061
This should show up in slack.

[2015-06-30 11:11] joshkh commented on #1061
Closing issue.

[2015-06-30 11:11] #1061 closed

[2015-06-30 14:19] julie-sullivan opened #1063 "FASTA: error loading locations"
This line can't be processed:

It generates this error:

[code]

[2015-06-30 15:28] julie-sullivan commented on #1063
This is what the FASTA used to look like:

[2015-07-01 09:18] julie-sullivan commented on #1052
* Chromosome_CRMOverlappingInsertion
* PointMutation_Gene_Chromosome

[2015-07-01 09:21] julie-sullivan commented on #1052
These are chromosomes:

* rDNA
* 211000022278604
* 211000022278522

[2015-07-01 09:25] julie-sullivan commented on #1052
[code]

@rachellyne Does that look right to you?

[2015-07-01 09:32] #1063 closed

[2015-07-01 09:32] julie-sullivan commented on #1052
[code]

[2015-07-01 09:50] rachellyne commented on #1052
It looks as though the chromosomes (and arms) have loaded correctly but we don't have the heterochromatin (het) and now we have a load of contig ids in addition - we don't load these as chromosomes.

[2015-07-01 10:17] julie-sullivan commented on #1052
@rachellyne How do I fix?

[2015-07-01 10:41] rachellyne commented on #1052
It might be ok - the het regions are now incorporated into the main arms, so that's why we don't have them.  There are now a smaller number of scaffolds so we might want to load them - i'll look a bit further.

[2015-07-01 10:43] julie-sullivan commented on #1052
@rachellyne Okay, let me know what I can do. I think it's going to take a bit of thought to adapt these changes to how flymine does things.

[2015-07-01 10:59] rachellyne commented on #748
The above file is still to version 5 genome.  I'll just do a liftover of the current file to version 6.

[2015-07-01 11:19] rachellyne commented on #1052
It looks mostly fine.  To be correct, if we load the extra scaffolds I think the correct SO_term is unassigned_supercontig.  What did we do previously - just ignore these?  We don't load them, so must have ignored them somehow?  Do we model assembly units with in any other databases?

[2015-07-01 11:27] rachellyne commented on #1052
Also - mitochondrion genome is missing from beta.

[2015-07-01 12:09] julie-sullivan commented on #1052
@rachellyne How I do fix?

[2015-07-01 12:09] julie-sullivan commented on #1052
@rachellyne Okay. But there are still lots of wrong templates, and the overlaps are wrong.

[2015-07-01 12:10] julie-sullivan commented on #1052
@rachellyne I don't know.

[2015-07-01 12:20] rachellyne commented on #1052
I meant just the chromosomes look ok.

[2015-07-01 12:24] julie-sullivan commented on #1052
@rachellyne Oh ha! You got my hopes up ...

[2015-07-01 12:31] rachellyne commented on #1052
Well, we didn't load the scaffolds before so maybe we shouldn't change - I don't think there will be much data attached to them.  We must have excluded them somehow before or has the CHADO database model changed more significantly?  Can we just exclude those feature ids?  They all start 211.

[2015-07-01 12:37] julie-sullivan commented on #1052
no problem, will exclude features of "unassigned_supercontig" type. I see here we tried to exclude golden paths and ultra_scaffolds:

https://github.com/intermine/intermine/blob/beta/bio/sources/chado-db/main/src/org/intermine/bio/dataconversion/FlyBaseProcessor.java#L712-L713

[2015-07-01 13:03] julie-sullivan commented on #1051
See #763 and #764

[2015-07-01 13:23] julie-sullivan commented on #83
@rachellyne I've removed PDB from FlyMine temporarily until we can update the BioJava library.

This is the error I get:

[code]

This happens in Java 6 (open-jdk only), 7 and 8. FlyMine is using sun's Java 6 where this works.

I suppose BioJava is creating an array that is too big.

[2015-07-01 14:35] joshkh commented on #684
The following command fixed this issue for me. Thanks, @julie-sullivan.

[code]

[2015-07-01 16:46] justinccdev commented on #517
On an initial look, the latest Lucene version we could currently upgrade to is 4.7.2 [1] (from 3.0.2) as InterMine still supports Java 6.  Current Lucene version is 5.2.1.

[1] http://lucene.apache.org/core/4_7_2/SYSTEM_REQUIREMENTS.html

[2015-07-02 11:23] julie-sullivan opened #1065 "FlyMine: flyfish failed on dull pointer exception"
[code]

[2015-07-02 11:33] julie-sullivan opened #1066 "List converter -- make lists of bioentities act like lists of genes"
If we have a list of bioentities that are really lists of genes, the list analysis and templates should be clever enough to know this.

[2015-07-02 11:48] justinccdev opened #1067 "More queries link in summary area on http://www.flymine.org/ fails"
Reports "Unable to load user profile".  Manually clicking templates tab is fine.  Other mines (humanmine, ratmine, synbiomine) appear to work ok.

[2015-07-02 12:38] julie-sullivan commented on #1067
[code]

[2015-07-02 12:53] julie-sullivan commented on #1065
Duplicate, see #985

[2015-07-02 12:53] #1065 closed

[2015-07-02 12:55] rachellyne commented on #1057
Is this the only case?  It's associated with both a human and mouse pathway on the reactome website too - I presume this is because the mouse is inferred from the human, but if this is an isolated case maybe it's a mistake that this is also in the file.

[2015-07-02 12:57] justinccdev commented on #1067
Same failure if you go the templates tab and then select any category to filter on.

[2015-07-02 13:36] julie-sullivan commented on #1066
Also -- when creating a list, create a list of the most specific type.

[2015-07-02 15:07] justinccdev opened #1068 "Humanmine summary tab descriptions still refer to metabolicMine"
e.g. metabolicMine loads Gene models and sequence from ENSEMBL. from [1].  May or may not be an issue.

[1] http://humanmine.org/

[2015-07-02 15:24] justinccdev opened #1069 ""Take a tour" button on humanmine.org links to flymine tour"

[2015-07-02 15:34] julie-sullivan commented on #1069
We don't have another tour.

[2015-07-02 15:34] #1069 closed

[2015-07-02 15:34] #1068 closed

[2015-07-02 15:54] julie-sullivan commented on #210
@rnsmith This source works fine but I can't get the unit test to run the source properly.

Here is the project xml file:

[code]

[2015-07-03 09:18] #1035 closed

[2015-07-03 09:32] julie-sullivan commented on #1067
Works now after a restart.

[2015-07-03 09:32] #1067 closed

[2015-07-03 10:42] julie-sullivan opened #1071 "Complexes - fails for human"
See #804

[code]

Everything loads into the items database just fine, so we must have an empty collection somewhere perhaps. We also need a better error msg.

[2015-07-06 08:21] julie-sullivan opened #1072 "Counts missing from templates on report / list pages"
The counts are missing from templates on the report page.

Tell @JoelRichardson

[2015-07-06 08:36] sergiocontrino opened #1073 "cannot change default file name in imtable export"
from an imtable, click export and then try to change the default name (e.g. 'Gene_Protein', or 'results').
araport JIRA-950

[2015-07-07 07:39] julie-sullivan commented on #725
Tell @kkarra

[2015-07-07 07:50] sergiocontrino commented on #645
after upgrade to 1.6, it seems that now this is failing silently (the page remains with the 'loading table' message. the runtime error is now
java.lang.RuntimeException: ObjectStore error has occurred in size()

[2015-07-07 09:17] julie-sullivan commented on #986
The tests are passing on github but travis says they are failing. I don't know what's going on.

https://travis-ci.org/intermine/intermine/builds/69859912

[2015-07-09 14:26] julie-sullivan commented on #996
The report page on gene looks wrong now, I need to update the config

[2015-07-10 07:44] julie-sullivan opened #1078 "error connecting to chado db"
I was running a build and got this error when running the ID resolver. For fly, this queries the flybase chado db. I assume I am running out of connections?

[code]

[2015-07-10 07:45] julie-sullivan commented on #1078
Maybe up the total number of connections, since this is our dev server. @rnsmith ?

[2015-07-10 07:54] julie-sullivan commented on #1078
@sergiocontrino Can you run a thale build on the beta branch for me? To see if these are julie-specific issues?

[2015-07-10 08:06] rnsmith commented on #1078
It looks like Hikari has a `ConnectionProxy` referencing a connection that has ceased to exist. It looks like it may not be a case of running out of connections. Could it be that the idResolver is closing a connection then trying to use it again? We'd need to see the whole stacktrace to see where the issue is.

It may also be a problem with too many connections but the flybase database should have

[2015-07-10 08:09] julie-sullivan opened #1079 "Panther not parsing homologues parameter correctly"
@kkarra is not seeing human orthologues but I see them just fine:

[code]

[2015-07-10 08:10] julie-sullivan commented on #1078
Thanks @rnsmith! I've edited the above msg to include the full stacktrace. I'll investigate the ID resolver.

[2015-07-10 10:42] julie-sullivan opened #1080 "BioGRID config doesn't work correctly for symbols"
This seems to work:

But this does not:

Which is exactly the config that Homo sapiens have.

Is that right @sergiocontrino?

[2015-07-10 10:42] julie-sullivan commented on #1080
Also should fail loudly if config not found.

[2015-07-10 13:37] julie-sullivan commented on #1079
@kkarra I just figured out what was different! And why mine worked and yours didn't.

This is what my project XML looks like:

[code]

You have a orthologues parameter. Change to use my config if you want a quick fix. I am working on this now.

[2015-07-10 14:01] julie-sullivan commented on #1079
Fixed by 3a6fb540c211b1e0626f99a07e4209464908ad6c

[2015-07-10 14:05] julie-sullivan commented on #1078
[code]

[2015-07-10 14:48] julie-sullivan commented on #1078
I didn't have the number of connections set for the chado data source. I am dumb.

[2015-07-10 14:48] #1078 closed

[2015-07-10 15:22] sergiocontrino commented on #1080
@julie-sullivan, yes. it seems that the second setting forces the use of  idResolver.

[2015-07-13 11:43] julie-sullivan opened #1082 "PDB - use restful API instead of manual download"
http://www.ebi.ac.uk/pdbe/pdbe-rest-api

[2015-07-13 11:49] rachellyne opened #1083 "Close button on pop-up summaries"
I'm finding the summary pop-ups on results tables annoying - sometimes they are hard to get rid of.  Could we have a little close (x) button on them.

[2015-07-13 13:46] sergiocontrino opened #1084 "query for all self-interacting genes"
i.e. how to retrieve the list of all the gene that interact with themselves.
the underlying query would be trivial:

select gene1id from interaction where gene1id=gene2id;

but i don't think there is a mechanism for doing it in intermine.

see FEED-454 thalemine jira.

[2015-07-13 15:18] julie-sullivan opened #1085 "Query for NOT IN collections"
Gene A

- dataset 1
- dataset 2

Gene B

- dataset 1

Return gene A but not gene B

The query returns Gene A because Gene A has a dataset where the dataset does not equal "dataset 1". It has "dataset 2".

This is of course not what we are interested in. We want all the genes where NONE of the datasets are equal to the given value. But that's not how the querybuilder works currently.

[2015-07-14 08:34] julie-sullivan commented on #968
* only write to tracker table if there are keys / priorities

[2015-07-14 08:38] julie-sullivan commented on #968
* Have an advanced setting where you wouldn't write to the tracker table unless there is a priority. Devs would know / should know that they would have to restart the build if they add / change a priority.

[2015-07-14 08:39] julie-sullivan commented on #912
Fixed by #1029

[2015-07-14 08:39] #912 closed

[2015-07-14 08:53] julie-sullivan commented on #675
Need to clean up OS first. See wiki ObjectStoreSimplification

[2015-07-14 08:57] julie-sullivan commented on #488
Speed up how it writes NotXML to db. Don't split on $_^, just store the length of next string so don't have to iterate.

[2015-07-14 10:53] julie-sullivan opened #1086 "FlyMine: load NCBI transcript IDs correctly"
From @rachellyne

We get ncbi transcript ids from flybase - in flybase they are stored as external cross-references.  For some reason we then load these as mRNA instead of transcript which then has no relationship with the transcript or gene.  Can we change this so that these ids are stored as cross-references on the transcript - in the same way we store the ncbi id for genes?

[2015-07-14 12:12] julie-sullivan commented on #1053
Didn't throw an error, which is good. But didn't show the "type" correctly either:

![simple-objs](https://cloud.githubusercontent.com/assets/1663057/8672837/e6065470-2a29-11e5-99c4-574bbd8a8af3.png)

[2015-07-14 12:16] julie-sullivan commented on #1053
@rnsmith Never mind, user error.

[2015-07-14 12:18] julie-sullivan commented on #1053
@rnsmith It works great. I checked gene, protein and publication report pages. All looks good. What else would you suggest I test for this pull request?

[2015-07-14 13:38] rnsmith commented on #1053
I think that's probably it - if the objectstore tests pass and outer joins work with normal and simple objects that should be good.

[2015-07-14 13:39] #1053 closed

[2015-07-14 16:14] sergiocontrino commented on #1084
can be done already with the loop constraint

<query name="" model="genomic" view="Interaction.gene2.primaryIdentifier Interaction.gene2.symbol" longDescription="" sortOrder="Interaction.gene2.primaryIdentifier asc">
  <constraint path="Interaction.gene1" op="=" loopPath="Interaction.gene2"/>
</query>

[2015-07-14 16:14] #1084 closed

[2015-07-14 16:14] sergiocontrino commented on #1084
e.g.
[code]

[2015-07-15 09:09] julie-sullivan opened #1088 "QueryBuilder: not handling collections correctly"
Last week I forked the master branch of Intermine (latest commit 233c6c6bca3).

I was trying to create collections with the following in my source additions.xml,

[code]

I am able to get the collection to display, as expected in the results page.
But in Query Builder, if I try to query Gene and its SNP collection, I get the following error as the result when I run the query:

I tried the same con

[2015-07-15 12:36] julie-sullivan commented on #1088
[code]

[2015-07-16 08:05] julie-sullivan opened #1089 "Collections not obeying web.collections.expandonload property"
From @JoelRichardson

I cannot seem to get this setting to work. I have set it to false in web.properties, and I've verified the value at runtime (with showProperties.do). Yet, when I go to a gene report page, collections are open by default. (Note that templates are OK. It's just collections.) Here's an example on mousemine beta:

http://beta.mousemine.org/mousemine/portal.do?class=Gene&externali

[2015-07-16 08:06] julie-sullivan opened #1090 "Report page: error when trying to make a list from a collection"
From @JoelRichardson

Another issue… when I try to save a list from a collection on a report page, I'm getting a "service failed" error.
Here's an example error:

[code]

The query looks OK to me. I can paste it into the query builder and run it with no problem.

Oh, I should mention, this is in trying to upgrade to InterMine 1.5.3.

[2015-07-16 08:56] julie-sullivan commented on #1090
I went to debug this on my local machine and it works. : / I see the problem on beta flymine though.

[2015-07-16 09:50] julie-sullivan commented on #1089
Can't replicate this on beta flymine from master branch (1.5.6) or the 1.5.3 code. Works as expected.

[2015-07-16 09:50] julie-sullivan commented on #1090
I can't replicate the problem locally or on beta flymine any more. On the master branch (1.5.6) or the 1.5.3 code. Everything is behaving as expected.

[2015-07-16 10:19] joshkh commented on #1090
I can't replicate this either. Like MouseMine I set both use.localstorage to false (which if enabled will override the automatic expanding or collapsing of collections) and web.collections.expandonload to false, and everything works as expected.

[2015-07-16 10:36] joshkh commented on #1089
Working fine here on 1.5.3+.

It looks like MouseMine's collection tables aren't being constructed with the expansion logic. Here's an example from beta flymine (working):
[code]
And here's mouse mine:
[code]

The logic is missing from MouseMine's base where the code is being generated (it should start on line 80):
https://github.com/mgijax/intermine/blob/master/intermine/webapp/main/resources/web

[2015-07-16 10:38] julie-sullivan commented on #1090
Same problem as https://github.com/intermine/intermine/issues/1089#issuecomment-121922290

[2015-07-16 11:38] JoelRichardson commented on #1089
Sorry for the confusion. We build our beta from the 'mmDev' branch of our intermine fork.
Looks like the code is there:
https://github.com/mgijax/intermine/blob/mmDev/intermine/webapp/main/resources/webapp/reportRefsCols.jsp#L78-L83

[2015-07-16 11:44] joshkh commented on #1089
Hi Joel,

That's really strange. If it's in the JSP then I can't think of a reason why it's being omitted from the built report page. Could you confirm that the reportRefsCols.jsp on your local file system has the code that you linked to? Maybe there was a merge conflict or a problem when it was pulled?

[2015-07-16 11:52] JoelRichardson commented on #1089
Yup, I verified that build has right file. Can't rule out a merge issue, though. I know Howie had some problems with that.

[2015-07-16 12:21] sergiocontrino opened #1091 "embedded imtable (e.g. template in report page): no scrolling possible on pop ups"
this can be a problem on small screens, or for the manage columns window that can be rather big.
to be able to apply your changes you end up resizing the window contents (otherwise button is unreachable).

[2015-07-16 14:15] JoelRichardson commented on #1089
Argh! It was a merge issue - we had a stale version of reportRefsCols.jsp in mousemine that was overriding the one in intermine. It wasn't until we checked the installed webapp that we realized what was going on. Sorry for the wild goose chase. You can cancel this one. (Now I'm going to check for similar issues with #1090...)

[2015-07-16 20:13] JoelRichardson commented on #1090
Well, so far I don't see a pattern. Sometimes it works to save a list from a collection and sometimes it doesn't. I added some log statements and got the following additional info. The "wrong" number of select parameters is 2. Here's an example of a query it doesn't like:
[code]
and the corresponding XML query
[code]

[2015-07-16 22:49] JoelRichardson commented on #1090
I did find an example in FlyMine that results in an error. I don't know if it's really the same thing vecause I can't see the logs, but it looks the same from this end. (1) go the the report page for FBal0000008. (2) scroll down to the table labelled "7 phenotype annotations" . (3) Try to save the one allele as a list. Choose the one with path "Allele > Phenotype Annotations > Allele". You will ge

[2015-07-17 16:58] JoelRichardson opened #1092 "Support non-null/non-empty constraints in the data model"
A simple proposal for allowing models to specify that specific fields (attributes, references, or collections) are not null. There are three parts to this:

1. In model(-additions) files:
 * Support "allowNulls" boolean attribute for attribute, reference, and collections tags. Default is "true", which is backwards compatible with current behavior. Existing models are completely unaffected. Can set

[2015-07-21 09:20] sergiocontrino opened #1093 "Add to list: does not see there other relevant lists when picking items from the table"
to replicate:
view a list, save as list, add to a list, pick items from the table.
you get
No suitable lists were found for Gene.
(but there are..)
it works if you select all the items.

[2015-07-28 17:27] joshkh opened #1094 "Code generation not updating in result tables in Safari 8"

[2015-07-29 08:17] joshkh commented on #1094
Fixed by intermine/im-tables@fe9a3e3f48d3c0c954bf5d67c8574db9dbc02bac

[2015-07-29 11:35] joshkh commented on #1094
The fix is to bust the browser's cache when a code generation request is made to Intermine and then store the results in a cache local to im-tables.

One thing to note: this problem is cascading from Safari 8 to IMJS and then to im-tables so any application using IMJS in Safari 8 could experience the same issue. So far I've only noticed it with code-generation. Either Intermine is caching the code

[2015-07-30 10:25] julie-sullivan commented on #83
@sergiocontrino @rachellyne This is still a problem.

[2015-07-30 10:25] julie-sullivan commented on #83
PDB won't be included in this next release of FlyMine.

[2015-07-30 10:43] julie-sullivan opened #1095 "FlyMine: Queries using overlaps are failing"
Running this query causes an error:

http://beta.flymine.org/beta/template.do?name=GOterm_genesDrosDelDeletion&scope=all

[code]

[2015-07-30 13:23] julie-sullivan commented on #1095
from FlyMine

[code]

[2015-07-30 13:26] julie-sullivan commented on #1095
The SQL being run by live flymine. This query runs.

[code]

[2015-07-30 14:39] julie-sullivan commented on #1095
whoops Location table doesn't have the correct index.

[code]

HumanMine does, so I've done something wrong with FlyMine

[code]

I've removed the extra postprocess here 94e81cc672ace38bc9d98ed468a820a2459220af

[2015-07-30 14:41] rnsmith opened #1097 "Tracker to use a separate table for source name"
The tracker table is too big, for large mines it can take up 100s GB.  Each row in the tracker stores the source name, which can be quite long, as a string:

[code]

Instead we could add a separate table with source names and ids and only write the id (as a `smallint`) in the tracker table each time.

It's important that no join is done when reading from tracker table, this would be slower and req

[2015-07-30 14:55] rnsmith opened #1098 "Minimal data tracker mode"
In #1096 the tracker table doesn't store unused data for null fields. It may be possible to add a mode that stores even less data. If priorities are defined at the start of a build and aren't changed at any point we could only store tracker information for fields that have a priority. If there is no priority for a field we would assume that all sources either have no value (which is overwritten) o

[2015-07-30 15:02] rnsmith commented on #485
Some new documentation on objectstore O/R mapping modes: http://intrac.flymine.org/wiki/ObjectStoreModes

[2015-07-30 15:18] rnsmith commented on #485
Truncated mode should be removed. This requires some changes to `DatabaseSchema.java` and a few simplifications in `SqlGenerator.java` (look for calls to `DatabaseSchema.isTruncate()`) and `ResultsConverter.java` (look for `objectclass`), maybe some other places as well.

The problem in doing this is with the tests.  There are tests for 'flat mode' sql generation and objectstore, but flat mode req

[2015-07-30 15:24] justinccdev opened #1099 "UniprotKB now uses evidence codes from the Evidence Ontology (ECO)"
Sometime since December 2014, UniprotKB SwissProt and Trembl started using evidence ontology codes [1] in evidence property tags instead of the GO evidence codes [2] (IEA, etc.).

For instance, currently in [3], the protein references GO:0003905 with

[code]

whereas in December 2014, at least, this was

[code]

For now, I have patched this in Synbiomine to extract the code correctly and display a

[2015-07-30 15:28] julie-sullivan commented on #1099
See #160

[2015-07-30 15:30] justinccdev commented on #1099
My current patch is at [1].

[1] https://github.com/synbiomine/intermine/commit/0903395267cdb4ae4ecbb459518e66d194be7a7b

[2015-07-30 15:39] justinccdev commented on #1099
I extracted the set of ECO codes used by my current UniprotKB files with the line

[code]

But I don't regard this as a general solution - this is just to temporarily resolve the issue so that the Synbiomine refresh doesn't get held up further.  Perhaps somewhere there is a list of all ECO codes that might be used in UniprotKB (though doesn't feel likely).  Otherwise perhaps one might have to end

[2015-07-31 08:32] julie-sullivan commented on #1095
For some reason there are bad locations in FlyMine, where end > start. This caused the overlap index to silently fail and all overl

1. Update error message. Currently reads "Index location__int4range index already existed.org" Which is not accurate.

2. Fatal error when encountering a bad location. This is a data error. We need the locations to be correct, so the build should fail loudly.

[2015-07-31 09:01] julie-sullivan commented on #1095
They all are length 1 which is a really small space between genes.

This is for intergenic_region_chr211000022278309_1111..1110

[code]

[2015-07-31 09:15] julie-sullivan commented on #1095
Chromosome 211000022278309 has a length of 1110 so there are no intergenic regions at all. I'll update the code to fix this.

Also, I don't know if we should be storing 211000022278309 as a chromosome. I don't think that's right.

[2015-07-31 10:05] julie-sullivan commented on #1095
Now fails correctly:

[code]

[2015-07-31 10:37] joshkh opened #1102 "Result table preview with many collections overflows off screen."
For items with a large number of collections, such as Genes, the item preview popover becomes too large and overflows off the screen. Since this is dependent on the data model, the functionality has been disabled by default and enabled through an Option:

See "ItemDetails.ShowReferenceCounts: false"
https://github.com/intermine/im-tables/blob/master/src/options.coffee#L36

[2015-07-31 10:39] joshkh commented on #1102
To test:

On beta flymine, change the following to properties in global.web.properties to use im-tables 2.0.0 beta42
[code]

Hover over a table cell. References should no longer appear.

[2015-07-31 10:40] joshkh commented on #1094
To test, change the following properties in global.web.properties on beta flymine:
[code]

Using Safari 8, go to a results table and generate code in each language.

[2015-07-31 11:37] julie-sullivan opened #1103 "FlyMine: bad locations being created when there are no gaps between features"
1. I don't think 211000022278309 is a valid chromosome
2. It has a length of 1110 but has a gene located on it that is also of the length 1110. This is causing the intergenic region postprocess to generate intergenic regions of size = 1.

[code]

See #1095

[2015-07-31 11:39] julie-sullivan commented on #1103
in flymine build -  330350

in flymine beta -165197

[2015-07-31 13:10] julie-sullivan commented on #1102
works as expected.

[2015-07-31 13:10] #1102 closed

[2015-08-03 08:56] #1089 closed

[2015-08-03 09:03] julie-sullivan commented on #1088
From Deepak Unni.

[2015-08-03 09:03] julie-sullivan commented on #1088
There were no error messages in the tomcat logs.

[2015-08-03 09:15] joshkh commented on #1088
Pinning this here for investigation:
Error thrown at https://github.com/intermine/imjs/blob/v3.14.0/src/path.coffee#L212

[2015-08-04 09:53] #1103 closed

[2015-08-05 09:07] julie-sullivan opened #1104 "PFam data loader"
Load PFam data.

ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam28.0/

variations in their function

See https://github.com/synbiomine/intermine/issues/9

[2015-08-05 09:07] julie-sullivan commented on #1104
I need this for humanmine.

[2015-08-05 09:30] julie-sullivan commented on #1092
A good idea!

What would be even better is if it didn't require configuration, e.g. the query system automatically knew if there were values or not. If there were no nulls, inner join. This sounds expensive to calculate but it might not be. We'd only have to run it once and cache the results.

@joshkh How difficult would this be to check a relationship before running a query? This is for collectio

[2015-08-05 13:16] julie-sullivan opened #1105 "HumanMine - add UniProt fasta"
Add UniProt fasta to get the sequences for isoforms.

[2015-08-05 13:30] julie-sullivan opened #1106 "HumanMine - add more monkeys"
Add more homologues. rodents and primates.

[2015-08-05 14:32] JoelRichardson commented on #1092
Hi Julie,
Thanks! I actually think this belongs in the model rather than being automatically inferred. Being in the model gives the dev an important measure of control that is verifiable and predictable. As for defaulting to inner joins in webconfig-model, that might solve my problem, but would change the behavior for everyone, which should be avoided I think. Also, allowing an outer attribute wou

[2015-08-05 14:41] julie-sullivan opened #1107 "Browser for proteins"
You can see it here in action on a very basic AngularJS site: http://wwwdev.ebi.ac.uk/uniprot/features-viewer/

code is here:
https://github.com/ebi-uniprot/biojs-vis-proteinFeaturesViewer

run

Grab everything in the build directory and add it to your html (css, icon fonts and minified js)

Start an instance with:
var app = require("biojs-vis-proteinFeaturesViewer");
var instance = new app({el: y

[2015-08-05 15:09] #1095 closed

[2015-08-05 15:09] julie-sullivan opened #1108 "Point Mutations: new index doesn't seem to handle features of size = 1;"
14-3-3epsilon[18A2] is a point mutation here:

http://beta.flymine.org/beta/portal.do?class=PointMutation&externalids=14-3-3epsilon%5B18A2%5D

It should have about 15 features in it's overlapping features collection but it shows none. Zero.

[2015-08-05 15:19] julie-sullivan commented on #1108
It's not in the overlap view.

[2015-08-05 16:01] julie-sullivan commented on #1108
Create the view only containing the above feature.

[code]

View is empty.
[code]

[2015-08-06 07:20] julie-sullivan commented on #1108
Running the same query above without the index works.

[code]

But it's wrong.

[code]

It overlaps every feature on the same chromosome.

[2015-08-06 07:23] julie-sullivan commented on #1108
Running the same overlap view creation query above creates the correct overlaps:

[code]

Which makes sense because the other overlaps on beta flymine are working.

[2015-08-06 07:42] julie-sullivan opened #1109 "Bioseg error messages in postgres on webapp deploy"
[code]

I was researching #1108 and I found the above error messages on releasing the webapp. I haven't loaded the webapp in the browser yet so it must be something in initialiser plugin. This is on a server which doesn't have bioseg installed.

[2015-08-06 07:43] julie-sullivan commented on #1108
There are no related messages in the postgres logs.

[2015-08-06 10:53] #968 closed

[2015-08-06 14:53] julie-sullivan commented on #60
UniProt is dropping support of their DAS server due to lack of demand. Let's think about this some more.

[2015-08-06 14:53] #60 closed

[2015-08-06 14:55] julie-sullivan commented on #8
We are going to focus on implementing other people's tools rather than creating our own. Maybe think about this one some more.

[2015-08-06 14:55] #8 closed

[2015-08-07 14:30] julie-sullivan commented on #169
@sergiocontrino @rachellyne @vivekkrish @kkarra @chenyian-nibio

Okay I've made the change to the data model to add protein domain regions, and I am certain that it will make absolutely no one happy. Good job, me!

My model:

***No changes***. None!

Proteins have protein domains, and protein domains have proteins.

That's it. But that was already in the model with the InterPro and UniProt data so

[2015-08-12 07:40] julie-sullivan commented on #992
@justinccdev Can you take a look at this? I think Alex had a fix but we didn't merge it in, I haven't looked at it. See https://github.com/alexkalderimis/intermine/commit/e840012a4b1979178bf1d3828d3404d848382707.

[2015-08-12 11:47] justinccdev commented on #992
The fix appears to work though it needed an addition to project.properties to get the ant build to work.  Pull request #1110

[2015-08-12 13:00] justinccdev commented on #992
Okay, I see now that this fails checkstyle on too long methods and unused imports (I admit I forgot to run the tests locally).  I will need to go back and fix this.

[2015-08-12 15:08] justinccdev commented on #992
Okay, I have now fixed this PR's checkstyle problems.  Checkstyle is still failing but that stems from pull request #1096

[2015-08-13 09:07] julie-sullivan opened #1111 "Overlapping queries failing on FlyMine, mRNAs in overlapping features collection"
[code]

[2015-08-13 09:22] julie-sullivan opened #1112 "GAF: do we need the OBO file"
Because I don't think we do.

[2015-08-13 09:42] julie-sullivan commented on #1071
user error.

[2015-08-13 09:46] julie-sullivan commented on #804
Use this to get ontology terms instead of hardcoding: http://www.ebi.ac.uk/ontology-lookup/

[2015-08-14 08:38] #1072 closed

[2015-08-14 08:48] julie-sullivan opened #1114 "YeastMine: serial number not being reset"
YeastMine build is getting negative numbers

[code]

[2015-08-14 08:51] julie-sullivan commented on #1114
@kkarra

1. Can you replicate this on your dev server? Can you run the same script locally?
2. Have you restarted postgres?
3. Do the postgres logs (/var/log/postgres) give any indication of what happened?
4. Do the intermine logs (intermine.log in yeastmine/integrate) give any indication of what happened?

I believe last week you ran the build manually and did not have this problem. What is the d

[2015-08-14 10:56] julie-sullivan opened #1116 "Make protein isoforms collection"
I don't know why we don't have this now.

[2015-08-14 11:01] julie-sullivan opened #1117 "QB error"
1. Run query to get all isoforms (isUniprotCanonical=true)
2. filter on fruit fly

[code]

I got this error:

[2015-08-18 16:18] justinccdev commented on #1080
I have a fix for the shortLabel problem as part of a synbiomine branch.  I will clean this up for mainline InterMine at some point.  Please let me know if you need it sooner.

[1] https://github.com/synbiomine/intermine/tree/fix-biogrid-loading

[2015-08-19 19:28] vivekkrish commented on #789
Hi @sergiocontrino,

Given that we have already merged InterMine 1.5.5 into ThaleMine `stable`, and this issue has been added to the InterMine 1.6 milestone, should we wait until 1.6 to bring this one change into our stable?

Comparing this particular commit with our stable, https://github.com/Arabidopsis-Information-Portal/intermine/compare/stable...alexkalderimis:44f3a1b2768bfbdf022bd24cb35983df

[2015-08-20 08:33] sergiocontrino commented on #789
hi @vivekkrish , yes, i think we could wait for the merge with im 1.6 after release 1.7.

[2015-08-24 10:11] joshkh opened #1119 "Move staircase tools to intermine organization (or new organization?)"

[2015-08-24 12:34] sergiocontrino opened #1120 "QueryBuilder - constraint values not updated without dropdown change"
To reproduce:

[code]

Edit constraint via the blue pen icon for "DB identifier".
In the dialog box click on: "Filter query results on this field having a specific value", and "Add to query".
No update occurs and an error message "No input given, please supply a valid expression" will be generated on the QueryBuilder page.
Click on the blue pen icon again. Select "Chr5" and Add to query. This time

[2015-08-24 15:40] eriksf commented on #1109
We have noticed this issue in ThaleMine as well (on servers without bioseg). Our DBA has been sending us snippets from the postgres log.

It looks like in https://github.com/intermine/intermine/blob/beta/intermine/objectstore/main/src/org/intermine/objectstore/intermine/ObjectStoreInterMineImpl.java#L446-L475 that it's checking for bioseg whether or not built-in range types are used.

Thanks!

[2015-09-01 09:33] julie-sullivan commented on #1109
1. put the version number in the error message.
2. fix the database.isVersionAtLeast("9.2") to correctly determine whether or not to use bioseg.

[2015-09-01 10:49] julie-sullivan opened #1121 "Query Builder: cannot query for disease names because of trailing whitespace"
From @kkarra

http://yeastmine.yeastgenome.org/yeastmine/template.do?name=Disease_Human_Yeast

[code]

@joshkh This is the query that is created:

[code]

Notice that "disease name" has two constraints:

1. the original "CONTAINS diabetes" constraint
2. the new ONE OF constraint created by the filtering of the results tables.

The first constraint should have been dropped. Can you check on how the

[2015-09-01 10:59] julie-sullivan commented on #1121
1. if you select only one value to filter on, it works fine
2. none of the other columns have problems
3. the disease names have commas and semi-colons.

What delimiter are we using? Could punctuation be our problem?

[2015-09-02 11:50] julie-sullivan commented on #1082
PDB has a RESTful API now:
http://www.ebi.ac.uk/pdbe/api/doc/

Yay!! Currently we have to download the files manually. Worse, the library we used to parse PDB files has stopped working, so I removed this source from the current FlyMine. What would be great is to use the API instead of downloading the files.

@rachellyne Can we look at the API together and see what we need to have protein structure

[2015-09-02 13:58] julie-sullivan commented on #986
The 4 that are failing are due to timeouts. Is this travis' fault? Or ours?

[code]

[2015-09-02 13:59] julie-sullivan commented on #986
The error I list above was also a timeout:

[code]

[2015-09-02 14:58] julie-sullivan opened #1124 "CORS issues"
We are having CORS issues. One problem might be that the code is looking for a parameter called [ws.response.origin](https://github.com/intermine/intermine/blob/beta/intermine/web/main/src/org/intermine/webservice/server/WebService.java#L404) but this [property](https://github.com/intermine/intermine/blob/beta/intermine/webapp/main/resources/webapp/WEB-INF/global.web.properties#L280) is not set an

[2015-09-02 15:24] justinccdev commented on #986
I would say the timeout problems are Intermine's fault in some way.  They were happening before but less viciously.

[2015-09-02 15:28] julie-sullivan commented on #1114
@sergiocontrino Did you say that you knew what happened?

[2015-09-02 15:32] yochannah commented on #1124
http://jsfiddle.net/1xLtkv0b/2/
http://jsbin.com/finobe/edit?html,console

Those links seem to show it working ok.

To sum up the *reason* setting it to `*` can be problematic, see this [security.stackexchange post](http://security.stackexchange.com/questions/43639/why-is-the-access-control-allow-origin-header-necessary).

The easiest way to fix this requires a simple-looking CSRF token implementa

[2015-09-02 15:52] julie-sullivan commented on #986
@justinccdev Except that the last tests all passed. So it seems like some careful analysis is required.

[2015-09-02 15:56] justinccdev commented on #986
Yes, something is screwed up and really needs fixing or working around.  Having the tests fail randomly stops people actually bothering to look at them.

[2015-09-02 16:01] kkarra commented on #1114
- No. I haven't found anything in the logs.
- I cannot deliberatley replicate. I haven't yet seen it happen in dev.
- No, did not restart postgres
- Did not look in postgres logs
But, I notice it happening quite often (before the recent build)..will keep an eye to see if there is a pattern (every other week or..?)
meanwhile, would appreciate the fix to make sure 'serial 'table is dropped and that

[2015-09-02 16:24] kkarra commented on #1121
The table on summarization, has 'Filter' with a pull-down and 2 options (restrict and exclude). We were curious if this is a new feature in 1.5 ? Can't remember seeing it.

It looks like if you just select one item using the above 2 buttons things works fine. When you select more than one it does not.  Probably in line with what Josh said above - a combination of 'contains' and 'one of' ?  How doe

[2015-09-03 07:17] julie-sullivan commented on #1121
@kkarra This works on fields that do not contain commas and semi-colons, so I believe we are handling the delimiters incorrectly. I will fix!

[2015-09-03 07:55] julie-sullivan commented on #1121
This also works in live flymine. I imported the query and changed yeast to fly:

[code]

I was able to filter by disease name (with punctuation) just fine.

[2015-09-03 09:59] julie-sullivan commented on #1114
the `build-db` task clearly deletes all the tables and resets the serial number:

https://github.com/intermine/intermine/blob/beta/intermine/objectstore/main/src/org/intermine/task/BuildDbTask.java#L116-L117

1. The command drops tables, not views. Is this a problem?
2. The overlap table will be quite large. Maybe it takes too long? But it's not the largest table, so that's a dumb idea.

[2015-09-03 10:01] julie-sullivan opened #1125 "UniProt: add publications to genes too"
The UniProt source only adds publications to proteins, they should add them to the genes created too.

[2015-09-03 10:19] julie-sullivan commented on #1121
@kkarra Okay, we've got it! Thanks to @sergiocontrino! We couldn't replicate this with any other data, so it seemed to be disease-specific. We looked in the database and found the disease name has a trailing whitespace. This whitespace is removed by the querybuilder, so that's why the query fails.

You can test this in your own database. Querying postgres directly, this fails:

Add a space to the

[2015-09-03 10:30] julie-sullivan opened #1126 "Pathways displayer is broken"
From @kkarra

Gives me this error about jquery version..which I thought is odd as things should have been packaged properly in CDN?

[code]

[2015-09-03 10:30] julie-sullivan commented on #1126
Put the displayer back on beta temporarily: 8af6c29415b0825be7ea6737eaf1f687caaebf07

[2015-09-03 10:33] yochannah commented on #1126
Investigating now. Initial notes: this is not a jquery version bug - the version in question is 2.0.3 - but the code to handle errors has "This app requires jQuery 2.x.x" hardcoded into it, so it'll display for any JS error.

[2015-09-03 11:50] rachellyne commented on #1082
Also we used to use JMol to view these.  I was going to take a look and see if there is anything different/better we could use now.

[2015-09-03 11:52] julie-sullivan commented on #1082
Also:
[code]

[2015-09-03 15:09] julie-sullivan commented on #1125
Do #1116 after.

[2015-09-03 15:11] julie-sullivan commented on #1111
Duplicate of #1108

[2015-09-03 15:11] #1111 closed

[2015-09-03 15:44] #896 closed

[2015-09-04 09:26] #897 closed

[2015-09-04 09:27] #675 closed

[2015-09-04 09:28] #670 closed

[2015-09-04 09:29] #485 closed

[2015-09-04 09:35] yochannah commented on #1126
Ok, this is an odd one.

The app was broken due to dependency versions being loaded incorrectly by the loader. So even if the global.web.properties specifies version 1.4 of underscore, 1.7 loads instead. And [1.7 introduces several breaking changes](http://stackoverflow.com/questions/25570559/template-error-upgrading-to-underscore-1-7). The fact that the wrong version is being loaded hasn't been r

[2015-09-04 09:39] julie-sullivan commented on #992
Fixed by #1128

[2015-09-04 09:39] #992 closed

[2015-09-04 09:40] #210 closed

[2015-09-04 09:54] rachellyne commented on #1030
Did I already do this?  I seem to remember spending a day filling out urls and descriptions.  If not, yes, we really need to do this.

[2015-09-04 10:07] julie-sullivan commented on #1108
http://www.postgresql.org/docs/9.2/static/rangetypes.html

You can change from inclusive to exclusive:

[code]

[2015-09-04 10:28] julie-sullivan commented on #1126
Can you assign this to me with instructions on how to test? I'll then forward to @kkarra so she can fix her install.

[2015-09-04 10:31] yochannah commented on #1126
yeah I didn't intend to close it - I wrote "fixes (url)" in the comments of a different pull and it auto-closed. oops.

[2015-09-04 11:18] yochannah commented on #1126
https://github.com/intermine/intermine/pull/1129 should fix it but we will need to change it to the proper cdn when it goes out of the beta branch

[2015-09-04 12:54] rachellyne commented on #1108
Test where?  beta?  That doesn't look ok.

[2015-09-04 13:18] julie-sullivan commented on #1108
@rachellyne Sorry, just rebuilt and redeployed. Look again?

[2015-09-04 13:26] rachellyne commented on #1108
Yes, looks fine now.

[2015-09-06 12:57] claus022015 opened #1133 "CORS code for a GET request"
Hello!

I'm new with CORS, and i'm trying to use it to GET information from a few websites.
First i've tried a demo script with the help of w3school and the code looks like this:

<html>
<head>
<style>
    table, th, td { border: 1px solid black; border-collapse:collapse; }
  th, td { padding: 5px; }
</style>
</head>
<body>

<script>
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome,

[2015-09-07 11:59] yochannah commented on #1094
@joshkh When you are back would you be able to show me how to replicate this? I've tried testing on Humanmine and Flymine but been unable to reproduce it so I can't be sure if it's fixed or not in beta.

[2015-09-07 12:01] yochannah commented on #1094
I tried generating code for a couple of different genes in several different languages in the mines listed above and it all seemed to be updating correctly in Safari 8.0.6.

[2015-09-08 11:03] rachellyne opened #1134 "Changes to list upgrade system"
I suggest we automatically upgrade any lists which only have synonym changes, but provide a report explaining that this has been done.  We also need to review how the changes are presented.  I know we have re-designed this once, but I'm still finding it sometimes time-consuming to identify what has changed.  e.g most recent flymine upgrade, I have one list with one less gene but I can't find out w

[2015-09-08 15:30] julie-sullivan commented on #1133
I think you have the wrong git repository?

[2015-09-08 15:30] #1133 closed

[2015-09-08 15:31] julie-sullivan commented on #1107
http://biojs.io/d/biojs-vis-proteinfeaturesviewer

[2015-09-09 08:29] julie-sullivan commented on #1051
Current cytoscape functionality

1. displays interaction network on gene report page
2. toggle between genetic and physical
3. export as different file types
4. create a gene list from the displayed genes
    * can do this via the results tables. Maybe wait for v. 2.0
5. toggle the interaction data table
6. onclick - highlights that relationship. Right click, can go to the intermine report page.

[2015-09-09 08:32] julie-sullivan commented on #1051
@yochannah I think most of the above is done. Maybe do numbers 3 (export) and 5 (toggle) and then ask @rachellyne for feedback.

We want to keep it simple I believe for the first release. Then get feedback from users as to what additions they would like.

Also, is this going to be added to stepZ too?

[2015-09-09 08:34] julie-sullivan commented on #1051
one suggestion - a "reset" button. I was goofing around and now my central gene is off the screen and I can't get it back. but maybe that's just me being dumb.

[2015-09-09 08:51] julie-sullivan commented on #986
Another weirdo error

[code]

[2015-09-09 09:18] julie-sullivan commented on #986
Right now, my solution is to re-run the tests, if they fail.

[2015-09-09 09:31] julie-sullivan commented on #1107
@joshkh Is there a way we could have a BioJS wrapper-wrapper? e.g. an easy way to plug in BioJS components?

[2015-09-09 09:55] julie-sullivan commented on #169
Okay the above won't work because there needs to be a relationship between location and cross reference.

[2015-09-09 10:02] rachellyne commented on #169
What do you mean?  We are changing the model to be like yeastmine so we can remove the cross-references?

[2015-09-09 10:09] julie-sullivan commented on #169
Here is the model we are going with:

[code]

[2015-09-09 10:20] julie-sullivan commented on #169
This isn't in our download scripts: `match_complete`

[2015-09-09 11:00] julie-sullivan commented on #169
Here's the model we are going with:

[code]

[2015-09-09 11:02] julie-sullivan opened #1135 "FlyMine: postprocess failed on UTR references"
[code]

[2015-09-09 11:58] rachellyne opened #1136 "Problem with SNV list analysis page on upload"
Uploading a set of SNVs - table displays "no results".

e.g upload:

rs190207943
 rs144023246
 rs185066721
 rs184732368
 rs113521347
 rs183827533
 rs7209929
 rs112039964
 rs367819487
 rs182692037
 rs374289282
 rs7215510
 rs147731827
 rs138910485
 rs151190301
 rs192019563
 rs376179813
 rs139016025
 rs34556017
 rs367886943
 rs78963114
 rs140659435
 rs375245594
 rs114323615
 rs372059515
 rs57094262

[2015-09-09 12:00] julie-sullivan commented on #169
We may need to remove the interpro data from the uniprot data source. If we don't, we are going to have a protein, a protein domain, and a protein domain region that is empty.

[2015-09-09 12:01] rachellyne opened #1137 "Sequence manipulation"
We should be able to download the sequence of any part of a feature or any defined length upstream or downstream. Currently we can only extend the sequence of a feature and download it all, we cannot download just the extended section.  This is something that biomart has always done very nicely:

http://central.biomart.org/sequence/?gui=Sequence_retrieval&mart=metaseq_mart_63_config

[2015-09-09 12:15] julie-sullivan commented on #169
@rachellyne Also, PDB has a protein domain reference in protein structure. I don't remember why. I am removing it though.

[2015-09-09 12:27] rachellyne commented on #169
Would this affect mapping of domains onto the structure in a 3d viewer?  This is a good things to do, but I am not sure if we would have to have this modelled in a specific way to get it work.

[2015-09-09 12:58] julie-sullivan commented on #1136
on humanmine.org?

[2015-09-09 13:00] julie-sullivan commented on #1137
@tharris This is what you were asking for?

[2015-09-09 13:03] rachellyne commented on #1136
yes.

[2015-09-10 00:53] sammyjava opened #1138 "go-annotations data source throws java.lang.RuntimeException: class "org.intermine.model.bio.Publication" has no "crossReferences" collection"
This may be a bit more w.r.t. the tutorial, but since everything has gone so swimmingly with my InterMine build from a chado data source that I thought I'd post up this error when I try to integrate GO annotations using the go-annotation datasource (and yes I sorted the annotations file). BTW the GO ontology import went fine. Here's the stack trace:
[code]

[2015-09-10 00:56] sammyjava commented on #1138
And here's my project.xml for the record:
[code]

[2015-09-10 08:18] julie-sullivan commented on #169
@rachellyne I took the enrichment widget out. How is adding region going to impact the math on these?

[code]

[2015-09-10 09:12] rachellyne commented on #169
We must use the interpro data for this.  We should carry on just using the interpro data.

[2015-09-10 09:14] julie-sullivan commented on #169
it's not hte data I am worried about, it's the math. We've changed the frequencies that the domains turn up.

[2015-09-10 09:24] rachellyne commented on #169
But not the interpro - there should be a many to one between each of the individual domains and the interpro.

[2015-09-10 09:27] julie-sullivan commented on #169
But the relationship we are counting in the widget is:

Protein > region > protein domain.

Before it was the simpler:

Protein > protein domain.

We've changed the math.

[2015-09-10 09:29] julie-sullivan commented on #169
before:

Protein > Protein Domain

Domain X annotates Protein A -- count = 1

After Protein > region > protein domain

Domain X annotates Protein A -- count = 20

[2015-09-10 09:40] rachellyne commented on #169
But if you just count the interpro ids, you get the same number of domains.  If we can only count what's in the regions class, we'll have to put an interpro id in there too?

[2015-09-10 09:43] julie-sullivan commented on #169
it's counting protein > region > protein domain.

Maybe you could compare the outcomes and make sure it's sensible?

[2015-09-10 09:48] julie-sullivan commented on #1138
Hi  @sammyjava! Sorry you are having problems.

The error message I see says that it tried to add a `cross reference` to a `publication`, but failed because `publications` have no `cross references`.

`Publications` do have `xrefs`, here is the XML that specifies this:

https://github.com/intermine/intermine/blob/beta/bio/sources/go-annotation/go-annotation_additions.xml#L25-L27

The data model is

[2015-09-10 09:50] julie-sullivan commented on #1138
Also @sammyjava, you might find our developers mailing list helpful:

http://intermine.readthedocs.org/en/latest/support/mailing-list/

[2015-09-10 10:07] rachellyne commented on #169
I looked at two lists between beta and live. They give very similar p-values and the domains enrich in the same order so I think this is ok for now.  But I don't think it is the correct way to do it and could potentially make some results wrong.  Can we change the code so that it doesn't have to count everything?

[2015-09-10 12:41] sammyjava commented on #1138
Yup, you got it, Julie. I was thinking that the MalariaMine tutorial config had added the appropriate additions to publications for go-annotations, but I have no idea why I was thinking that. :) I've joined the dev list -- I'll be getting pretty heavy into coding Chado data conversion processors, because we're building a bit InterMine for legumes off of Chado data in a Tripal database. I'll try to

[2015-09-10 12:41] #1138 closed

[2015-09-10 13:38] julie-sullivan commented on #1136
humanmine must have been experiencing network issues, because this performs fine now. I am closing this ticket but I am putting a note to check humanmine's config and see what we can do about making it more stable.

[2015-09-10 13:38] #1136 closed

[2015-09-10 13:40] julie-sullivan commented on #1135
fixed by f1d5a3475bddf22e9229f818bc052aed2dd53ba9

[2015-09-10 13:40] #1135 closed

[2015-09-10 14:08] julie-sullivan opened #1139 "Pathways from UniProt"
http://insideuniprot.blogspot.co.uk/2015/09/linking-proteins-via-pathways.html

   UniPathway is a manually curated resource of enzyme-catalyzed and
spontaneous chemical reactions.
   It provides a hierarchical representation of metabolic pathways
and a controlled vocabulary for pathway annotation in UniProtKB.
   UniPathway data are cross-linked to existing metabolic resources
such as ChEBI/Rhea,

[2015-09-12 02:43] tharris commented on #1137
Precisely.

[2015-09-14 13:08] rachellyne opened #1141 "FlyAtlas widget is showing rows rather than unique number of genes"
When mouseover a bar, the unique number of genes is shown, but the pop up box is showing the number of rows in the resulting table - this should also show number of unique genes for consistency.

[2015-09-15 08:06] julie-sullivan opened #1142 "List Analysis - doesn't show the list contents for SNVs"
I made a list of these SNVs

[code]

And got this instead of the contents of the list:

[code]

[2015-09-15 08:09] julie-sullivan commented on #1142
Since there is no config, it's using the sequence feature config which has chromosome config. Add config for SNVs (use the SNPs one?) and this will be fixed.

[code]

[2015-09-15 08:52] #1142 closed

[2015-09-15 10:07] julie-sullivan commented on #1125
FBgn0020474 gene has two proteins - Q28Z10 and Q8I1E3. A good test case

[2015-09-15 10:20] julie-sullivan commented on #1125
Does not work if the gene is related to multiple proteins. This is because we save the gene (and associated publications) to the database when we first encounter it.

Later, for example, we might come across this gene again in the record of another protein. It's already been saved to the database, so we only need to store the relationship between gene and protein. However if that protein has publi

[2015-09-15 10:21] julie-sullivan commented on #1114
@sergiocontrino Were you able to make any progress on this issue? Is this now fixed for AIP?

[2015-09-15 10:22] julie-sullivan commented on #1025
@rachellyne Should we replace this with SNVs?

[2015-09-15 10:25] #150 closed

[2015-09-15 10:34] sergiocontrino commented on #1114
@julie-sullivan, yes i think it is solved and i'll cherry pick solution shortly

[2015-09-15 10:39] julie-sullivan commented on #1125
maybe we could do a post-process. That would capture all the publications for proteins that come from other data sources too.

[2015-09-15 10:59] sergiocontrino commented on #1125
doing some test on this at the moment

[2015-09-15 11:06] rachellyne commented on #1025
I expect so.  I don't remember what the displayer did.

[2015-09-15 12:23] justinccdev commented on #1112
I agree, I can't see any trace of the ontologyfile property being used in the go annotation source.  I've removed it from the synbiomine project.xml and the also apparently unused ontologyPrefix property.

[2015-09-15 12:30] julie-sullivan commented on #1112
the ontologyPrefix is only used when processing the OBO files, not when processing the annotation. See #901

[2015-09-15 12:31] julie-sullivan commented on #1112
I will update the project XML files for flymine and humanmine and update the docs. Thanks @justinccdev!

[2015-09-15 13:28] julie-sullivan commented on #788
@rachellyne To clarify (again!): I updated the intact converter to process proteins and create the interactions collection. Do we now want to copy these to genes.interactions? including the interaction detail, roles, etc.

[2015-09-15 13:32] rachellyne commented on #788
yes, I think we do.

[2015-09-15 13:38] julie-sullivan commented on #788
Okay just for now, for intact I am going to load the interactions only on the proteins.

We'll modify the interactions tools to use these data for genes by going through proteins. If it becomes too difficult to get to the interaction data, we'll just copy it over. Let's try this way first.

We do this for gene ontology annotation, query for all the genes and proteins and copy over the annotations

[2015-09-15 14:20] julie-sullivan commented on #788
Working on BioGRID now. Question. Here is a sample entry for a protein interaction:

[code]

In FlyMine the gene `phr` has four proteins. Two of which are listed above.

What should I do? I looked at the biogrid site, but they only list genes. What would be the best way to represent these data?

[2015-09-15 17:06] kkarra opened #1145 "Results table summarize acting funny"
You can check this using this template
- http://www.flymine.org/flymine/template.do?name=Gene_Interactions&scope=global
- Summarize on one of the columns
- The column on which it is summarized displays blank and then populates
- If you click on the check box to select one of the items, all values go blank
- If you mouse over elsewhere on the results table then magically the values in the summarize

[2015-09-16 07:31] julie-sullivan commented on #1145
Which browser are you using? I can't replicate. @yochannah Can you try to replicate? Maybe using safari?

[2015-09-16 11:01] sergiocontrino commented on #1114
made pull request #1146

[2015-09-16 11:26] sergiocontrino commented on #962
i think this is fixed by #1132

[2015-09-16 11:26] #962 closed

[2015-09-16 16:38] kkarra commented on #1145
Chrome Version 45.0.2454.85 (64-bit)

[2015-09-17 09:40] yochannah commented on #1145
I've just upgraded from Chrome 44 to 45.0.2454.93 (64-bit) on Ubuntu, but I also can't replicate. Screenshot below - did I try to reproduce it correctly?

It looks the summary requests make an asynchronous call to the server. If you right click anywhere on the page, click inspect element, then choose the console tab, do you see any errors in red when your error occurs?

![issue-results-table](http

[2015-09-17 09:43] julie-sullivan commented on #1145
@yochannah can you try on an apple? I believe that's what @kkarra is using.

[2015-09-17 10:18] yochannah commented on #1145
@julie-sullivan Thanks for the tip. I tried briefly on Chrome 45.0.2454.85 for Mac, and this issue *did* occur. Good news, hopefully, though: When I upgraded to 45.0.2454.93 the problem seemed to disappear. @kkarra, can you try upgrading Chrome to .93 or greater and try again?

[2015-09-17 16:46] kkarra commented on #1145
Thanks! It now works fine on my mac and chrome Version 45.0.2454.93 (64-bit).

[2015-09-17 16:46] #1145 closed

[2015-09-18 09:51] julie-sullivan commented on #804
@joshkh I am able to generate the JSON including the linked features. Can you verify the JSON file for me?

[2015-09-18 14:53] julie-sullivan opened #1147 "Web service: speed up requests"
We reverted this: 38c14e78a3572089833df3cf2225c900c624735d

But we still need to do this, just without the CORS bug.

Tell @joshkh

[2015-09-18 19:53] kkarra commented on #1114
pull request has 'checks failed' - should I wait or get the fix?
btw, OverlapViewTask.java has code to drop overlappingfeaturessequencefeature table and view.
So, it is not 'serial' table that is used to start a new batch of IDs?

[2015-09-21 07:07] julie-sullivan commented on #1114
@kkarra No, wait. Sorry! Sergio is going to redo the pull request today to just drop all views, not just this one.

The OverlapViewTask.java is working correctly, we're trying to fix the build-db task. Since the database is not correctly dropped (because of the lingering view that OverlapViewTask creates), the serial number is not reset.

We'll get the fix to you shortly!!!

[2015-09-21 08:19] julie-sullivan opened #1148 "Build system - merging errors are caught very late and are not helpful."
Where there is a merge error people get this horrible error message:

Options:

1. human readable error message. "There was a merge error. Add ontology key to your keys file"
2. prevent this from happening somehow. We can't prevent the original merge though because there is no key, we can't tell that there are duplicate objects in the database. Have to think on this one.

Tell @zebrafishmine @ZFIN