[2015-09-21 08:46] julie-sullivan commented on #1124
I've reverted this change: 38c14e78a3572089833df3cf2225c900c624735d

Did this fix the CORS issues?

[2015-09-21 09:03] julie-sullivan commented on #1124
This test needs to be fixed:

[code]

[2015-09-21 09:05] joshkh commented on #1124
@julie-sullivan Yes, the reversion 38c14e7 fixed the CORS issue.

[2015-09-21 12:57] julie-sullivan commented on #1147
duplicate See #1124

[2015-09-21 12:57] #1147 closed

[2015-09-21 12:58] julie-sullivan commented on #1125
@sergiocontrino Can you make a pull request from what you did for AIP?

[2015-09-21 12:58] julie-sullivan commented on #1125
@sergiocontrino If not, we can put this on the next release.

[2015-09-21 12:58] julie-sullivan commented on #1119
@joshkh says this is done. I believe him.

[2015-09-21 12:58] #1119 closed

[2015-09-21 12:59] julie-sullivan commented on #652
@justinccdev Tested, this is working as expected.

[2015-09-21 12:59] #652 closed

[2015-09-21 13:00] julie-sullivan commented on #1079
@justinccdev tested this, it is working as expected. @kkarra if you are still having problems let me know and I'll reopen the ticket.

[2015-09-21 13:00] #1079 closed

[2015-09-21 13:15] julie-sullivan commented on #1121
@justinccdev Can you test this?

1. run the OMIM source as flymine
2. run a query like the one above specifically that uses the ONE OF constraint on disease.name.

Thanks!

[2015-09-21 13:15] julie-sullivan commented on #1121
@justinccdev This change is on the beta branch.

[2015-09-21 13:40] julie-sullivan commented on #1094
@yochannah says this is working and @joshkh says this is because the fix is already in the code.

[2015-09-21 13:40] #1094 closed

[2015-09-21 14:30] julie-sullivan commented on #789
@sergiocontrino I am taking this off this release. It had a checkstyle error:

https://github.com/intermine/intermine/pull/1010

Let me know if this is a priority.

[2015-09-22 08:20] julie-sullivan commented on #745
@justinccdev I've reassigned this to you. I was able to get Tomcat 8 to work but there was a constant 30 second delay regardless of the type of request made. I'm hoping #1113 will fix it.

[2015-09-22 08:41] #1019 closed

[2015-09-22 08:55] julie-sullivan opened #1150 "IntegrationWriterDataTrackingImplTest failing tests, sometimes."
@sergiocontrino Can you help me look at this? It only happens once in a while, so some sort of race condition?

[code]

[2015-09-22 12:19] julie-sullivan opened #1151 "Region search web service -"
Run this query:

[code]
Then try to generate the Python, Perl etc.

[2015-09-22 12:42] julie-sullivan commented on #1116
Fixed by #1143

[2015-09-22 12:42] #1116 closed

[2015-09-22 13:23] julie-sullivan opened #1152 "Move blogs"
The blogs are on dinosaur and have to stay there because of some weirdo dependencies.

We can host them on wordpress. Why not? Or some other solution.

Tell @joshkh

[2015-09-22 15:24] sergiocontrino commented on #1150
this looks familiar: i think it is the error (or part of it) that travis was giving after the jars update (?) (the 'upper' travis build ?)

[2015-09-22 15:31] julie-sullivan commented on #1150
@sergiocontrino Yes, I've seen this error a couple times but only once in a while. I am worried that they were caused by #1096 or #1123 but because they only happen periodically I don't know.

When you restart the travis tests, they always pass the second time.

I looked at the tests and this is a merging issue, so it does worry me.

[2015-09-22 17:09] #867 closed

[2015-09-23 08:34] julie-sullivan opened #1153 "FlyMine: create-utr-references is failing"
This was on the protein interactions branch, not sure if this is also an issue on the beta branch.

[code]

[2015-09-23 09:28] julie-sullivan commented on #940
@Hendekagon I've assigned this to you, let's chat when you have some time. There is already a partially implemented registry that Alex made somewhere. I'll try to find it.

[2015-09-23 12:54] julie-sullivan opened #1154 "Web services: tags for templates"
I need the tags for each template. Do the web services provide these? @joshkh says no! I say yes!

Tell @yochannah too.

[2015-09-24 11:01] #1114 closed

[2015-09-24 13:21] julie-sullivan commented on #788
Just FYI, maybe we don't need to do this anymore?
[code]

[2015-09-24 13:58] julie-sullivan commented on #788
@rachellyne Can a gene / protein interact with itself? I have logic that skips these.

[2015-09-24 17:05] justinccdev commented on #745
I also get the same delay failure, #1113 does not change this.

However, I determined that this is being caused by the CompressingFilter in the webapp web.xml.  If you comment out use of the filter like so

[code]

So it looks like com.planetj.servlet.filter.compression.CompressingFilter, which I believe gzips responses, is not compatible with Tomcat 8.  Our version is labelled as 1.7 and on a qui

[2015-09-29 10:04] rachellyne commented on #788
Yes, we decided to leave self interactions out.  An exception of course would be in complexes.

[2015-10-01 09:25] julie-sullivan commented on #745
Great detective work!! Yes, let's do as you recommend. Devs have to configure Tomcat anyway, so one more setting isn't going to hurt anyone.

[2015-10-01 09:42] sergiocontrino opened #1156 "restore explicit results URI for download"
from @JoelRichardson
InterMine 1.5.x seems to have lost a link that I thought was quite
useful. From a results table, the Download dialog used to provide a link
to run the query (under the "Destination" tab). This seems to be missing
from the newer interface (or maybe I'm just not looking in the right
place?). Any chance of getting it restored? Thanks!

from @vivekkrish
I also noticed that this fu

[2015-10-01 11:17] justinccdev commented on #745
#1157

[2015-10-05 15:56] kkarra opened #1160 "'Contact Us' link not working"
It could be something wrong with my setup..
http://www.xenmine.org/

I see 'Failed to load resource: the server responded with a status of 404 (Not Found)' in the browser for an error..

and the following in catalina.out ..

SEVERE: Servlet.service() for servlet [jsp] in context with path [/xenmine] threw exception [An exception occurred processing JSP page /layout.jsp at line 18

15:
16: <c:set v

[2015-10-05 22:28] cmdcolin commented on #1099
I have seen some genes with the ECO code being used as well. I think some with multiple evidence codes are used too, so some jave ECO + IEA for example. Maybe loading the evidence ontology is possible

http://www.evidenceontology.org/Download_%26_Develop.html

[2015-10-06 08:42] julie-sullivan commented on #1160
@kkarra I don't see the contact form at the bottom of the page. Why is that?

I don't see the code here: https://github.com/kkarra/xenmine

[2015-10-06 15:01] kkarra commented on #1160
Isn't it the same contactform from either top or bottom? I have the link 'Contact Us' at the top.
Did not push to github yet. Can do. I have headMenu.jsp, layout.jsp etc.  (its been a while and probably a matter of not configuring properly..)

[2015-10-06 17:14] justinccdev commented on #1099
Nice find, Colin.  Yeah, https://github.com/evidenceontology/evidenceontology/blob/master/eco.obo looks like a file we should be able to load in much the same way as other obo files like the gene and sequence ontologies.

In fact, loading the ontology may require little or no code change at all, just the creation of a bio/sources/eco source and a project.xml entry.  For instance, if you look at bi

[2015-10-08 13:04] julie-sullivan commented on #1153
@sergiocontrino None of the code has changed recently, besides the dynamic object foolishness #1123 so that is the likely culprit.

Some idiot had stupidly removed the test for UTRs. !!! 3aac2f17416aff4ccab7fd7bf40e1ddc4e1a65b0

I reverted this dumb change and the UTR test passed but another test failed. Look familiar?

[code]

Is this related to #1150?

[2015-10-08 14:54] julie-sullivan commented on #1153
That postprocess is working correctly after all. The data is wrong somehow.

OLD

[code]
NEW

[code]

[2015-10-08 15:03] julie-sullivan commented on #1153
There are lots of subclasses in the transcript table. Why is this transcript so different?

[code]

[2015-10-08 15:09] julie-sullivan commented on #1153
Sources of interest

[code]

[2015-10-08 16:01] julie-sullivan commented on #1153
#1096 - changed the data tracker
#1100  - remove multiclass dynamic objects

I ran full builds after each of these changes before merging them in
 though. Maybe I didn't update correctly.

[2015-10-09 07:50] julie-sullivan commented on #1153
I reverted #1100 and the flymine build worked fine. I thought I had tested that!! So I am going to revert this change with the idea we will fix this bug and reimplement. Hopefully this will fix our test failures too, similar symptoms I think.

[2015-10-09 08:27] #1124 closed

[2015-10-09 08:59] julie-sullivan commented on #1108
Now have overlaps in flymine:

* Point Mutation : 14-3-3epsilon[18A2]
* Exon : Dere\GG17070:1

[2015-10-09 09:14] julie-sullivan opened #1162 "Overlaps - need unit tests"
The postprocess `create-overlap-view` does not have a unit test. It needs one.

[2015-10-09 13:25] julie-sullivan opened #1163 "QueryBuilder: error querying for NULL relationships"
Tried to query for all genes that don't have probesets and got this:

Nothing untoward in the tomcat logs

[code]

In the console

[code]

[2015-10-09 13:58] julie-sullivan commented on #1153
Fixed by 0324adb182c526c2245417ec1118e787836bad85

[2015-10-09 13:58] #1153 closed

[2015-10-09 13:58] #1125 closed

[2015-10-09 13:58] #1108 closed

[2015-10-09 13:59] #1032 closed

[2015-10-09 13:59] #745 closed

[2015-10-09 14:00] julie-sullivan commented on #420
@joshkh @yochannah Can we confirm this is still a problem?

[2015-10-09 14:12] yochannah commented on #420
I just tried exporting a file in xml format in Safari 8.0.4, and it seems to have downloaded and populated the file ok.

To download the file I went to a results page, clicked 'Export', selected 'Download TSV file', then changed it to XML format instead. I am not sure if this was the right thing to do to reproduce - the UI may have changed since this bug was logged?

[2015-10-09 14:13] julie-sullivan commented on #420
@yochannah Thanks! So it looks like it's been fixed. I'll ask @JoelRichardson to test once we've got a release candidate.

[2015-10-09 14:13] #420 closed

[2015-10-09 14:28] #1121 closed

[2015-10-09 14:30] #1105 closed

[2015-10-09 14:45] #1049 closed

[2015-10-09 14:46] #1058 closed

[2015-10-09 15:21] julie-sullivan commented on #788
@rachellyne Can you take a look at the worm biogrid file? Checkout the interactor `F17E9.5`. I believe this is true for all worms.

[code]

No UniProt accession. What can we do about this?

[2015-10-09 15:28] julie-sullivan commented on #788
Whoops, just found one for FlyBase too:

[code]

[2015-10-09 15:33] julie-sullivan commented on #788
Options:

ONE

* Assign protein interactions to proteins, genetic interactions to genes
* If no UniProt accession, discard

TWO

* Assign protein interactions to proteins, genetic interactions to genes
* If no UniProt accession, assign to gene

THREE
* Assign all interactions to gene
* Postprocess to copy all gene.interactions to protein.interactions
   * only protein interactions?
   * IntAct too

[2015-10-12 10:17] julie-sullivan commented on #246
@sergiocontrino Putting this on the next milestone but should be a point release.

[2015-10-12 10:18] julie-sullivan commented on #1005
@sergiocontrino Putting this on the next milestone but should be a point release.

[2015-10-12 10:20] julie-sullivan commented on #788
@rachellyne Here's what I am going to do:

1. keep interactions on gene, as we are. Genes are what most people are looking at anyway.
2. postprocess, copy over all the interaction data to the protein.
    * copy over all physical interactions from gene to protein. including IntAct and BioGRID
    * interaction.participant1 will be protein instead of gene.
    * interactions will be "duplicated"

[2015-10-12 10:21] julie-sullivan commented on #788
@rachellyne Should we ask BioGRID why their interactors are identified as proteins? When they have gene identifiers?

[2015-10-12 10:32] joshkh commented on #1151
I can start with IMJS.

[2015-10-12 10:43] rachellyne commented on #788
We could do - although many experiments will be designed around the genes even though it's the proteins they are interested in, so I guess that's why it's like that.  I don't like there inconsistency though.

[2015-10-12 11:50] julie-sullivan commented on #1150
I think this has been fixed.

[2015-10-12 11:50] #1150 closed

[2015-10-12 13:29] julie-sullivan commented on #788
We are going to do this as a postprocess instead of in the data source (like GO does it). This will require devs to have to add this postprocess if they want to copy these data over. This is a good thing. As copying over interactions from gene to protein is new and different, it's a good thing this doesn't happen "automatically".

That's the thinking.

[2015-10-12 15:24] julie-sullivan commented on #788
@rachellyne That won't work. We can't do a postprocess for software reasons. We also can't do it as a postprocess for each data source. I'll write up the reasons but as of right now I can't find a good solution. It looks like we are going to stick with interactions on gene for now.

[2015-10-12 15:58] julie-sullivan commented on #788
<h3>ONE</h3>

Assign protein interactions to proteins, genetic interactions to genes
If no UniProt accession, discard (BioGRID only)

<h3>TWO</h3>

Assign protein interactions to proteins, genetic interactions to genes
If no UniProt accession, assign to gene (bad idea)

<h3>THREE</h3>

Assign all interactions to gene
Postprocess to copy all gene.interactions to protein.interactions

This won't wor

[2015-10-12 15:59] julie-sullivan commented on #788
Other options:

1. Put IntAct on protein, BioGRID on gene

[2015-10-12 16:08] julie-sullivan commented on #788
@rachellyne For the gene in the physical interaction, it came from `Giot L (2003)`, that big experiment. Which seems really dodgy.

[2015-10-12 16:09] julie-sullivan commented on #788
@rachellyne And FBGN0040554 doesn't have any associated proteins. (hence our problem)

[2015-10-12 18:57] kkarra opened #1164 "GO enrichment widget -- background change error"
A user wrote to us about this bug.. I can replicate this in YeastMine and Flymine.
In Flymine:
- make a list of genes on 2L using one of the templates
- make the example list provided
- go to GO enrichment widget
- change default background to use the 2L genes list.

You will see this error in the browser:
Invalid JSON Response for Gene Ontology Enrichment
error is false; was expecting Null but go

[2015-10-12 21:39] sammyjava opened #1165 "Remove unused parameter "type" from BioSequenceFactory.make(BioEntity bioEnt, SequenceType type)"
The "generic" method BioSequenceFactory. make(BioEntity bioEnt, SequenceType type), which one might assume allows an override of bioEnt's SequenceType by explicitly supplying it, doesn't do such a thing. Instead, it just queries the given BioEntity as to whether it's a Protein or a SequenceFeature and processes accordingly. I recommend that the unused parameter "type" be removed from this method s

[2015-10-13 08:48] julie-sullivan opened #1166 "GO widget download error in Safari"
From @akvallejos

This is on humanmine. I can't replicate it on Chrome or Firefox so I am assuming this is Safari-specific. We've had this problem before apparently. #331

[2015-10-13 09:27] Hendekagon commented on #940
@julie-sullivan did you find that partially-implemented registry btw ?

[2015-10-13 09:30] julie-sullivan commented on #1166
Also the view results in humanmine doesn't seem to be working but it's fine in flymine.

[2015-10-13 10:22] yochannah commented on #1163
Should be resolved by this pull request: https://github.com/intermine/im-tables/pull/152

[2015-10-13 10:39] #169 closed

[2015-10-13 10:39] #804 closed

[2015-10-13 12:43] yochannah commented on #1164
So, oddly, this was supposed to result in an error, just a more sane one. When I fix the $ interpolation issue, this is the result:
![image](https://cloud.githubusercontent.com/assets/9271438/10454982/5e66eb46-71b0-11e5-9a53-3f11a5fda569.png)

[2015-10-13 12:58] #1164 closed

[2015-10-13 17:50] kkarra commented on #1164
Thanks!

[2015-10-14 09:30] joshkh commented on #1163
Tested. Everything looks good!

[2015-10-14 09:30] #1163 closed

[2015-10-14 09:44] julie-sullivan commented on #1071
@rachellyne Take a look at tert-terc_human.xml and tert-rmrp_human.xml. They have the protein O14746 interacting with an enzyme and snoRNA.

[2015-10-14 10:03] julie-sullivan opened #1168 "PSI-Complexes -- allow for more data types"
~~@rachellyne One of the human complexes has an enzyme. The entities in the interactions in the PSI-XML are labelled with the PSI ontology terms. These don't necessarily have a direct mapping to the InterMine SO terms. For now I am going to hard code them. This is going to cause an error when we find an entity we don't know how to deal with. Temporary solution, until we can come up with a better p

[2015-10-14 10:09] julie-sullivan commented on #1071
Fixed by 40c3ec8c1702a595f99db718f06e789663317bbc

[2015-10-14 10:09] #1071 closed

[2015-10-14 10:11] rachellyne commented on #1071
Yes - that's correct.  The enzyme is a protein.  We changed the interactions so that the interactors could be any type.

[2015-10-14 10:12] rachellyne commented on #1168
Is it only labelled as an enzyme - should be labelled as a protein as well.

[2015-10-14 10:13] julie-sullivan commented on #1168
@rachellyne Yes, look at the <interactorType> section of the data file. It says enzyme. So my problem is I can't map directly from PSI-MI to SO. Not automatically anyway.

[2015-10-14 10:16] julie-sullivan opened #1169 "Query results - filtering on summary doesn't work when values > 1000"
1. run a query
2. click on a column summary
3. enter in text to filter the results. Nothing happens

It does flicker like it refreshed but nothing is filtered.

Can we summarise the first 1,000 at least? There should be a better solution. Let the user know?
There is no error on the console.

[2015-10-14 10:21] rachellyne commented on #1168
I think that may be a mistake by them - if you look at the complex portal it has interactor type "protein" and biological role "Enzyme".

[2015-10-14 10:32] yochannah commented on #1166
This problem appears to be due to a dependency bug: https://github.com/eligrey/FileSaver.js/issues/12 luckily, recent versions fix it. I'll create a pull request that points to the correct dependency version in intermine, but if anyone wants to access the fix sooner all they need to do is point to a recent version of filesaver.js here: https://github.com/intermine/intermine/blob/dev/intermine/weba

[2015-10-14 10:57] yochannah commented on #1166
This will be fixed by https://github.com/intermine/intermine/pull/1170. Note the CDN merge dependency.

[2015-10-14 12:57] julie-sullivan opened #1172 "Panther and Treefam merging issue"
FlyMine has PPARG twice. It looks like treefam and panther are setting pparg, the symbol as the primaryidentifier.

[2015-10-14 14:30] julie-sullivan commented on #1172
@rachellyne Running build now. see live flymine there are two ppargs.

[2015-10-14 14:33] julie-sullivan opened #1173 "JAR conflict for CHEBI web service"
[code]

[2015-10-14 16:04] #1173 closed

[2015-10-14 16:05] #1051 closed

[2015-10-14 16:07] julie-sullivan commented on #1166
@akvallejos Can you test this fix on beta flymine? I will push to humanmine next week.

[2015-10-14 16:18] julie-sullivan opened #1174 "Can't share lists with google logins"
From @akvallejos

[2015-10-14 16:19] julie-sullivan commented on #1174
It looks like we store the token that gmail gives us, not the actual gmail address (or password obviously). Not sure how to solve this.

[2015-10-15 10:30] rachellyne commented on #1172
Strange.  I thought we had fixed that one.

[2015-10-15 13:19] julie-sullivan opened #1175 "UniProt: protein publications seem to be wrong"
@rachellyne pointed out that ZEN1_DROME:

http://www.uniprot.org/uniprot/P09089

has five publications. But on flymine there are only three. Where did they go?

[2015-10-15 13:35] julie-sullivan commented on #1175
@rachellyne We only load the publications that have pubmed IDs. let me know if you think this is wrong. See the other two publications (that we don't load) don't have pubmed references.

[2015-10-16 08:57] julie-sullivan commented on #1172
@rachellyne Okay beta flymine is up and there is only one pparg! woo hoo! Can you test a bit more? This only impacts homologues created by panther and treefam.

[2015-10-16 12:46] #1175 closed

[2015-10-19 10:05] julie-sullivan opened #1177 "Genome browser"
Options:
- Fix JBrowse
- Find another browser to use.

Tell @rachellyne

[2015-10-19 10:06] julie-sullivan commented on #1104
@rachellyne Is this a priority? Or is the data from interpro enough?

[2015-10-19 10:16] julie-sullivan commented on #1082
@rachellyne It looks like all the structures are here:

ftp://ftp.wwpdb.org/pub/pdb/data/structures/all/

But we need to filter on taxon, here's an example line

`SOURCE  10 ORGANISM_TAXID: 622;`

Maybe there's an easier way to find out taxon? The files are compressed. need to unzip then search?

[2015-10-19 10:17] julie-sullivan commented on #1082
@rachellyne Under download, they also have `ligands`. thought that was interesting.

[2015-10-19 10:31] julie-sullivan commented on #1082
10GS, 11GS, 121P, 12CA, 12GS, 133L, 134L, 13GS, 14GS, 16GS, 17GS, 18GS, 19GS, 1A00, 1A01, 1A07, 1A08, 1A09, 1A0L, 1A0N, 1A0U, 1A0Z, 1A12, 1A15, 1A17, 1A1A, 1A1B, 1A1C, 1A1E, 1A1U, 1A1W, 1A1X, 1A1Z, 1A22, 1A27, 1A28, 1A2B, 1A3K, 1A3N, 1A3O, 1A3S, 1A42, 1A4I, 1A4P, 1A4R, 1A4V, 1A4Y, 1A52, 1A5E, 1A5H, 1A5R, 1A5Y, 1A6A, 1A6Q, 1A6Z, 1A7A, 1A7C, 1A7F, 1A7S, 1A7X, 1A81, 1A85, 1A86, 1A8E, 1A8F, 1A8J, 1A8M

[2015-10-19 10:31] rachellyne commented on #1104
Has someone asked for something specific from PFam?.  If it's just for the domains and locations we get all this from interpro.

[2015-10-19 10:32] julie-sullivan commented on #1104
variation in their function?

@Hendekagon needed this as well I think.

[2015-10-19 10:45] rachellyne commented on #1104
Between what?  Proteins, species?  I don't see immediately what this would be.

[2015-10-19 14:35] akvallejos commented on #1166
@julie-sullivan Worked for me on FlyMine (Chrome on OS X)

[2015-10-19 14:36] #1166 closed

[2015-10-19 14:36] #1172 closed

[2015-10-20 09:35] julie-sullivan commented on #1104
okay, maybe don't need. closing for now.

[2015-10-20 09:35] #1104 closed

[2015-10-20 13:05] sergiocontrino commented on #624
this is not a general intermine issue,  closing this and will fix in thalemine.

[2015-10-20 13:05] #624 closed

[2015-10-20 14:33] julie-sullivan opened #1178 "CNVs"
We should load these data:

[code]

How to model?

[2015-10-21 08:37] julie-sullivan commented on #1178
Here's a sample of the data

[code]

[2015-10-21 08:56] julie-sullivan commented on #1082
closing because API isn't good enough yet.

[2015-10-21 08:56] #1082 closed

[2015-10-21 08:56] julie-sullivan opened #1179 "PDB failing"
[code]

[2015-10-21 09:13] julie-sullivan opened #1180 "Postgres warning - connection closed"
[code]

[2015-10-21 09:44] julie-sullivan opened #1181 "Transfer sequences - not processing transcript sequences correctly"
I think this is in the wrong order:

[code]

`ts.transferToLocatedSequenceFeatures()` populates the sequence for all sequence features, `ts.transferToTranscripts()` only populates transcripts if they do not have a sequence. However this will never be the case because the transcripts would have gotten a sequence in
`ts.transferToLocatedSequenceFeatures()`.

The order should be switched. @sergiocont

[2015-10-21 09:46] julie-sullivan commented on #1180
restarting tomcat fixed this issue. on postgres 9.4

[2015-10-21 10:08] rachellyne commented on #1178
The data file is a bit limited - it just gives us locations.  Ideally we would want study/publication, and consequence/phenotype as well.  The data that is there should just slot into our sequence alterations model - although there can be more then one "Type" (e.g. gain and loss) so we may need to re-think this.     For the rows that have a "parent=xxx", in ensembl these are "evidences" for the lo

[2015-10-21 10:10] julie-sullivan commented on #1179
It doesn't like the journal in file `1a27.pdb`:

[code]

[2015-10-21 10:32] julie-sullivan commented on #1181
Update the unit test to include introns. This will test which method is actually updating the sequence.

[2015-10-21 10:46] julie-sullivan commented on #1179
`1crm.pdb`

[code]

Which has this text:

[code]

[2015-10-21 10:51] julie-sullivan commented on #1179
I ignored those and got this error:

[code]

[2015-10-21 12:06] rachellyne commented on #1175
In this case, the other two are actually database submissions, so fine not to have under publications.  I didn't look close enough!

[2015-10-21 12:28] julie-sullivan commented on #1179
And a bunch of these:

[code]

[2015-10-21 12:28] julie-sullivan commented on #1179
[code]

[2015-10-21 12:31] julie-sullivan commented on #1179
@rachellyne I made a bug report with biojava, but we are getting an "out of memory" issue when we try to parse PDB files. Leaving for now

[2015-10-21 13:13] justinccdev commented on #1177
I've done a quick survey of the genome browsers out there.  Many are old, unmaintained or wouldn't be possible to embed.  Of the ones that are left

* JBrowse (http://jbrowse.org) - written in javascript, embeddable with ability to extract data from webservices (as currently done with intermine), reasonably actively developed.  A bit ugly with the -/+ buttons required to zoom in/out instead of som

[2015-10-21 13:15] justinccdev commented on #1177
The current issue with jbrowse is that it displays on Chrome but not on Firefox (blank iframe instead).  The setup is that jbrowse is hosted remotely and fetches it's data via CORS requests to the mine.  However, it doesn't look like CORS is the issue.  jbrowse works fine both it and the mine are hosted locally.  Perhaps this is some timing issue.  I intend to ask on the jbrowse dev list to see if

[2015-10-21 14:22] julie-sullivan commented on #1154
What did we need these for? I forget.

[2015-10-21 14:24] julie-sullivan commented on #1154
Here's where the action happens:

https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/webservice/server/template/AvailableTemplatesService.java#L82-L84

It retrieves a list of templates. No tags. We could make another web service that gets tags for templates. Or we could try to append it to this webservice somehow. I know @joshkh said that he saw tags but they were

[2015-10-21 14:29] julie-sullivan commented on #1139
file format looks simple. (famous last words!)

[code]

Also, the pathways are in an OBO file. interesting! We were just talking about that.

[2015-10-21 14:30] julie-sullivan commented on #1134
When / where?

[2015-10-21 14:37] julie-sullivan commented on #1134
A review of this tool can be done as part of stepZ

[2015-10-21 14:37] julie-sullivan commented on #1134
This is already how it works. The non-automatic upgrading only happens when there are two options.

[2015-10-21 14:39] julie-sullivan commented on #1117
works as expected now. Good job!

[2015-10-21 14:39] #1117 closed

[2015-10-21 14:41] julie-sullivan commented on #1120
this works for me in firefox.

[2015-10-21 14:41] sergiocontrino commented on #1181
tested that the proposed change does not interfere with current process. logic seems fine as well.

[2015-10-21 15:33] sergiocontrino commented on #1120
if you tested on beta, it works because there is no drop-down for the chromosomes.
try with organism
[code]

[2015-10-21 15:34] yochannah commented on #1154
I think it was this? http://iodocs.labs.intermine.org/flymine/docs#/ws-available-lists/GET/lists

Sample json:

{"timestamp":1213096578494,"tags":[],"authorized":false,"title":"PL FlyAtlas_brain_top","status":"CURRENT","description":"List of the most enriched genes in the adult fly brain (Source: www.flyatlas.org) ","name":"PL FlyAtlas_brain_top","dateCreated":"2008-06-10T12:16:18+0100","type":"Ge

[2015-10-21 15:46] #1112 closed

[2015-10-21 15:47] julie-sullivan commented on #1106
is there a point to this? if we don't have any extra annotation for them?

[2015-10-21 15:47] #1106 closed

[2015-10-21 15:50] julie-sullivan commented on #1154
The JSONListFormatter prepares the lists and adds more information.

[code]

We don't have anything like that for templates. But I could write something.

[2015-10-21 15:53] yochannah commented on #1154
We possibly don't want to copy it directly as I think the tags might be broken for lists? That query has exactly 0 tags in every response. I assume there *are* some tags somewhere, they just aren't being returned?

[2015-10-21 15:54] julie-sullivan commented on #1154
ha, yes! we would want a working version. but currently the code just outputs the templates and that's it. Without any extra information, like tags.

[2015-10-21 15:56] julie-sullivan commented on #1052
@rachellyne You said I hadn't fixed this?

[2015-10-21 15:57] julie-sullivan commented on #1057
@rachellyne Did you want to ask them? Or just ignore?

[2015-10-21 15:59] julie-sullivan commented on #1083
That is a good idea.

[2015-10-21 16:01] julie-sullivan commented on #1088
This is fixed in the current release.

[2015-10-21 16:01] #1088 closed

[2015-10-21 16:04] #1043 closed

[2015-10-21 16:04] julie-sullivan commented on #1026
not enough info, past me.

[2015-10-21 16:04] #1026 closed

[2015-10-21 16:06] #974 closed

[2015-10-21 16:08] julie-sullivan commented on #972
not enough info

[2015-10-21 16:08] #972 closed

[2015-10-21 16:09] julie-sullivan commented on #888
@rachellyne it's fixed in the latest file, right? Or have we been using the same file still?

[2015-10-21 16:09] #888 closed

[2015-10-21 16:10] #886 closed

[2015-10-21 16:14] #486 closed

[2015-10-22 09:00] rachellyne commented on #1134
This definitely wasn't the case with the last FlyMine release, but looks like this is correct for the current HumanMine.

[2015-10-22 09:08] rachellyne commented on #1057
Is this still a problem?  It looks fixed on the reactome website.  We need to download the latest reactome data.

[2015-10-22 09:12] rachellyne commented on #1052
There are a huge number of contigs as chromosomes - it's messing up the chromosome viewer.

[2015-10-22 09:15] rachellyne commented on #888
They haven't updated since August 2014, so keep using the file you fixed.

[2015-10-22 09:54] julie-sullivan opened #1182 "Web service: lists don't have tags anymore"
http://iodocs.labs.intermine.org/flymine/docs#/ws-available-lists/GET/lists

Sample json:

    {"timestamp":1213096578494,"tags":[],"authorized":false,"title":"PL FlyAtlas_brain_top","status":"CURRENT","description":"List of the most enriched genes in the adult fly brain (Source: www.flyatlas.org) ","name":"PL FlyAtlas_brain_top","dateCreated":"2008-06-10T12:16:18+0100","type":"Gene","size":37}

[2015-10-22 09:54] julie-sullivan commented on #1182
Tell @joshkh and @yochannah

[2015-10-22 11:38] julie-sullivan commented on #1154
http://iodocs.labs.intermine.org/flymine/docs#/ws-list-tags/GET/list/tags

[2015-10-22 11:39] julie-sullivan commented on #1154
oh, doesn't seem to work right now:

[code]

[2015-10-22 14:18] julie-sullivan commented on #1154
The tags are empty (I think) because the profile is passed in. Instead we should use the superuser.

[2015-10-22 14:52] sergiocontrino commented on #1005
i am not sure it is a bug and if there is a case for wanting to aggregate booleans with null/not null cases.
SQL itself deals the same way with booleans.
i.e.
[code]
is the same as
[code]
QB does not allow the offending query to be constructed, and i think we should extend this to the tables.
if we want to allow this request we need to transform the query using an OR instead of using the usual IN

[2015-10-22 19:59] sneuhaus commented on #376
This is a higher priority issue for mousemine now. If this isn't very high priority on the intermine side of things maybe with some guidance we could take a stab at it. Not sure how complicated a change it is.

[2015-10-23 08:33] julie-sullivan opened #1184 "Keyword search: first search takes you to home page"
http://www.xenmine.org/xenmine/keywordSearchResults.do?searchTerm=rab35&searchSubmit=Search

The first time you click on this, if you don't have a cookie already it sends you to the home page.

[2015-10-23 08:34] julie-sullivan commented on #1184
Tell @kkarra

[2015-10-23 08:35] julie-sullivan commented on #1181
Solution: set the transcript method to not do a NULL check. This will set all transcripts in the database regardless of source. This may or may not be desirable. Will need some more thought.

[2015-10-23 10:30] julie-sullivan opened #1186 "Protein structures - visualise this"
Options:

http://cactus.nci.nih.gov/blog/?tag=structure-viewer
http://jmol.sourceforge.net/jslibrary/

There are likely more.

[2015-10-23 10:30] julie-sullivan commented on #1186
Tell @rachellyne

[2015-10-23 11:47] sergiocontrino commented on #246
a new record id added in savedtemplatequery in the userprofile when a template is updated.
messages and variables (isNewTemplate) are correct though, so maybe this is intended.
the description is correctly updated in the mymine section (not in the templates page).

[2015-10-23 12:41] julie-sullivan commented on #376
There would be several bits to update.

<h3> query builder</h3>

UI to make the query

https://github.com/intermine/intermine/blob/dev/intermine/webapp/main/resources/webapp/queryBuilderConstraint.jsp#L286

* make it so the constraint shows up in the querybuilder in the right places for the user to use
* populate the dropdown with the field names for the current class.

<h3>Path query</h3>

Update

[2015-10-23 13:00] julie-sullivan commented on #1180
beta flymine just now:

[code]

[2015-10-23 13:01] julie-sullivan commented on #1180
Can't log in:

[code]

[2015-10-23 15:43] sammyjava commented on #1165
Yeah, since I actually need the method, I ended up rewriting it to work as advertised, rather than yanking it. :) Sorry about the confusion. I'm using this rewritten method successfully in my current InterMine to display polypeptide FASTAs.

[2015-10-23 15:49] julie-sullivan commented on #1165
Thanks @sammyjava, looks great. :) We're right in the middle of a release but will test ASAP. Really appreciate the fix!

[2015-10-26 10:08] julie-sullivan commented on #1160
@kkarra Do you have this in your footer: https://github.com/intermine/intermine/blob/dev/intermine/webapp/main/resources/webapp/footer.jsp#L12

Maybe try copying that footer.jsp over yours and redeploying? Just to see if that fixes it?

[2015-10-26 10:10] julie-sullivan commented on #1160
This is where the JavaScript is to do the toggling:

https://github.com/intermine/intermine/blob/dev/intermine/webapp/main/resources/webapp/js/imutils.js#L327-L332

[2015-10-27 08:37] julie-sullivan opened #1189 "HumanMine - add illumina body map."
From @rachellyne

This data could slot straight into the model we already have for Array Express data - or put them as sub-classes to make more specific fields?:

Atlas Expression

Condition = tissue
Expression = FPKM value
Type = FPKM  ?  The other data has either organism_part or disease_state here - but we need somewhere to state what the value is.

We don't have a p-value or t-statistic for th

[2015-10-27 11:53] julie-sullivan opened #1191 "PubMed: remove obsolete classes"
ReferencesFileProcessor isn't needed anymore.

[2015-10-27 17:27] joshkh commented on #1073
Fixed in im-tables 2.0.0 release (Intermine 1.6)

[2015-10-28 08:38] julie-sullivan opened #1198 "Perl client - testing errors"
From Alastair,

I've been trying to install the Perl API but I'm getting the following error in the Build tests:

[code]

[2015-10-28 14:38] julie-sullivan opened #1199 "PDB - use mmCIF files instead"
[code]

[2015-10-29 03:16] kkarra commented on #1160
Copying over footer.jsp worked! but, I get emails if I create new account but not via 'Contact Us' even thought it says - thanks for contacting! .

Where can I find the doc for SMTP set up?  Checked here..
http://intermine.readthedocs.org/en/latest/webapp/properties/intermine-properties/

Can I use gmail to do this?
this seems to work for create account confirmation.
mail.host=localhost
mail.smtp.

[2015-10-29 10:03] julie-sullivan opened #1200 "HumanMine: load synonyms"
This gene:
http://www.ncbi.nlm.nih.gov/gene/5580

Is in HumanMine:
http://www.humanmine.org/humanmine/portal.do?class=Gene&externalids=ENSG00000163932

But does not contain the aliases:

[code]

Tell @rachellyne

[2015-10-29 12:12] julie-sullivan commented on #1160
Did you set `feedback.destination` too?

[2015-10-29 12:57] julie-sullivan commented on #1200
Line in the `humangeneidentifiers.tsv` file

[2015-10-29 13:00] julie-sullivan commented on #1200
This is the line in the NCBI file:
[code]

Why aren't we parsing this file?

[2015-10-29 14:35] julie-sullivan commented on #1198
Everything installed for me. A google search showed that updating your modules may fix the problem.

[2015-10-29 16:21] kkarra commented on #1160
Yes.
feedback.destination = xenmine@gmail.com

[2015-10-29 16:25] julie-sullivan commented on #1160
If your "welcome to xenmine" emails are working that doesn't make sense that these aren't then. Is that gmail account the sender in the working emails too?

[2015-10-29 16:25] julie-sullivan commented on #1160
never mind, yes it is.

[2015-10-29 16:33] julie-sullivan commented on #1160
* And there are no error messages in the logs? grep for ContactAction. If not, do you have debugging set up? Maybe you could walk through sending an email and see what fails.
* It doesn't make sense that the welcome message works and the contact us doesn't.
* Here's the (code)[https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/web/struts/ContactAction.java]. It lo

[2015-10-30 08:57] julie-sullivan opened #1201 "Results tables - external link outs don't work on objects without organism, e.g. Pubs"
From @kkarra

[code]

[2015-10-30 10:34] julie-sullivan opened #1202 "UniProt: comments not capturing disease"
@rachellyne I noticed the protein had duplicated comments.

Search this file for those words:

http://www.uniprot.org/uniprot/Q9BSI4.xml

It's referring to two different diseases. How can we capture these data?

[code]

[2015-10-30 10:36] #1179 closed

[2015-11-02 09:47] julie-sullivan commented on #1198
From Alastair:

[code]

[2015-11-02 09:47] #1198 closed

[2015-11-02 09:51] julie-sullivan commented on #1126
@yochannah Can you re-add your pull request but merge on the dev branch instead? Thanks!

[2015-11-02 09:54] julie-sullivan commented on #764
@sergiocontrino Can we close this ticket? I think this was fixed with InterMine 1.6

[2015-11-02 09:55] julie-sullivan commented on #763
@kkarra This is fixed with InterMine 1.6. If you get a dev version up, can you test and let us know what you think? The tool will update automatically.

[2015-11-02 09:56] julie-sullivan commented on #764
See  #1051

[2015-11-02 09:56] julie-sullivan commented on #763
See  #1051

[2015-11-02 09:56] julie-sullivan commented on #746
@sergiocontrino I think this is fixed by #1051

[2015-11-02 15:02] #764 closed

[2015-11-02 16:16] julie-sullivan opened #1204 "Cytoscape: clean up"
Remove all cytoscape JSPs and Java files that are not needed. Coordinate with @yochannah

[2015-11-04 09:48] julie-sullivan opened #1207 "Cytoscape: details not showing up for YeastMine"
From @kkarra

[code]

[2015-11-04 10:20] julie-sullivan commented on #1168
@kkarra Can you help me fix this?

Current status: fatal exception is thrown when a new type is found. Dev has to add to additions file and start over.

Options:

1. Put all potential data types in the data model now
    * e.g. by adding to [so_term](https://github.com/yeastgenome/intermine/blob/master/yeastmine/dbmodel/resources/so_term_list.txt) file
    * We know everything that can be in a com

[2015-11-04 17:03] julie-sullivan opened #1209 "Panther: Fly to human orthologues"
@rachellyne

There are only 200 human = fly orthologues in HumanMine. I feel like there should be more. There aren't any human orthologues for adh but it has all the other organisms. Just not human. That sort of sounds like a bug.

What do you think?

[2015-11-05 10:17] rachellyne commented on #1209
I'll take a look, but I have pointed out that I think Panther has gone a bit wrong (them not us).  I did email them - but as usual no reply.

[2015-11-05 10:26] julie-sullivan commented on #1209
@rachellyne Maybe load treefam too? That's what we do for flymine.

[2015-11-05 11:20] julie-sullivan opened #1212 "Web service: list union - resulting type is NULL"
From @JoelRichardson

[code]

[2015-11-05 14:02] rachellyne commented on #1209
Actually, I take that back.  Looks like something has gone wrong.  Download file looks ok from quick look.

[2015-11-05 14:19] julie-sullivan opened #1213 "Enrichment widget: expand web services"
From @JoelRichardson

@yochannah These are in the UI so they already must be web services. Right?

[2015-11-05 14:23] JoelRichardson commented on #1213
That's what I was wondering. But they're not there.

[2015-11-05 16:37] julie-sullivan commented on #1209
There are plenty of dmel genes, just 190 orthologues.

[code]

[2015-11-06 11:22] julie-sullivan opened #1215 "Web services: make template popularity available"
The popularity of a template should be available via web services.

[2015-11-06 11:28] julie-sullivan commented on #1209
There are lots now, maybe will be fixed in next build?

[code]

[2015-11-06 12:12] julie-sullivan commented on #1209
Here's the fixed numbers:

[code]
Looks correct but that's a lot of paralogues! I grepped the file and the numbers add up, but still a lot.

[2015-11-06 15:29] yochannah commented on #1207
So it looks like the yeastmine interaction model is a little bit different from the fly/human model - mostly that there are a lot of self-interactions, and that interactions don't use `role2` or `participant2.name`. I think I've compensated for it now - does this look alright? http://dry-headland-7948.herokuapp.com/ If it does I'll generate version 1.0.3 for the cdn.

[2015-11-06 15:57] julie-sullivan commented on #1207
is there a way to make this work for all models?

[2015-11-06 17:54] kkarra commented on #1207
Yo, this looks fine. Please go ahead. Just curious, if one can add other columns to the display by config?

Julie, do let me know if there is some aspect of interactions model that still needs to be fixed because I do want it to be the same as fly/human. When I loaded complexes, there is a bit of straddling of old and new ways for regular interactions vs complexes.

[2015-11-10 10:20] rachellyne commented on #1202
It look like we already process this correctly - we can have multiple comments of the same type.

[2015-11-10 10:33] julie-sullivan commented on #1207
@kkarra I think role2 and participant2.name are always empty. Do you know why that might be the case?

[2015-11-10 10:33] #1207 closed

[2015-11-10 10:33] #1209 closed

[2015-11-10 10:58] julie-sullivan commented on #1202
@rachellyne Take a look at PPARG: http://humanmine.org/humanmine/portal.do?class=Gene&externalids=ENSG00000132170

There is a comment:

[code]

But we aren't capturing the name of the disease so that makes this comment less useful. How can we capture the name of the disease? Have a "disease" reference from the comment data type?

This is how it's shown in the XML:

[code]

* We only capture the `t

[2015-11-10 11:15] rachellyne commented on #1202
oh I see.  Ok i'll take a look at all the comments and see how they are structured.

[2015-11-11 09:45] julie-sullivan commented on #961
@joshkh I don't know that it's a good idea to use the database ID. Will this cause problems later when we use database replication etc.

Changing the list name will break histories, but can we do something about that? Maybe the history is what people are going to be renaming anyway since we won't have a list analysis page anymore.

[2015-11-11 10:08] joshkh commented on #961
This is mostly a problem when someone renames a list from outside Steps using the current UI. Since the histories refer to the lists by name then Steps will lose all references.

What do you think about adding a new attribute - some UUID that never changes but isn't the database ID?

Users can still query by list name and we'll provide the UUID as well for use by more complicated applications.

[2015-11-12 04:36] kkarra commented on #763
Looks good. Am sure improvements will come with time!

[2015-11-12 04:36] #763 closed

[2015-11-12 11:56] julie-sullivan opened #1219 "XenMine: GO is missing"
I am seeing the same error as this thread..

http://mail.intermine.org/pipermail/dev/2013-September/002629.html

[code]

[2015-11-12 12:01] julie-sullivan commented on #1219
@kkarra Does this happen in dev-XenMine? With the latest code? We had some CORS issues that were causing the model to be cached. See #1124.

But that was fixed in 1.6 so likely not the issue.

What are the symptoms? When do you see this error? When looking at the report page? Querying for GO (on the live site) seems fine but GO doesn't show up on the report page.

[2015-11-12 16:26] julie-sullivan commented on #1182
[code]

My lists have tags. But the public lists do not.

[2015-11-12 23:57] kkarra commented on #1219
I switched it back (thinking it probably had to do with new GO annotation files I got).
Will get back to this if it is not a data issue

[2015-11-13 00:00] kkarra opened #1220 "YeastMine prod (1.5) no model changes since complexes"
This bug came to my attention just today (still looking into it..)

http://yeastmine.yeastgenome.org/yeastmine/template.do?name=Domain_Protein_Gene&scope=global

it works with the default value of 'WD40 repeats' but not 'Signal peptide region' (it should).  I see this error in logs with both values i.e when it works and when it does not..

bag tables: 0 ms, generate: 1 ms, optimise: 22 ms,  ms,  e

[2015-11-13 11:10] julie-sullivan commented on #1220
`Signal peptide region` doesn't have an interpro domain (which probably isn't right?). If you make the join to interpo be an outer join, the query will work:

[code]

I don't know why you are getting that error in the logs though.

[2015-11-13 11:40] julie-sullivan commented on #1182
So we want the public tags and private tags, if a user has been authorised.

[2015-11-13 14:39] kkarra commented on #1220
I have to try again but making outerkoin, removing the whole interpro thing..nothing worked which puzzled mr

Sent from my iPhone

On Nov 13, 2015, at 3:11 AM, Julie Sullivan <notifications@github.com<mailto:notifications@github.com>> wrote:

Signal peptide region doesn't have an interpro domain (which probably isn't right?). If you make the join to interpo be an outer join, the query will work:

[2015-11-13 14:51] julie-sullivan commented on #1220
Does the query above work for you? It returns 553 rows for me when I run it, with signal peptide region as the value

[2015-11-13 14:53] julie-sullivan opened #1221 "Template queries in my mine: can't export"
[code]

[2015-11-13 15:31] julie-sullivan commented on #1182
Showing the public tags was reverted here, I don't know why 910c544ea67950aad9e2c2812e317801177747e9

Put it back?

[2015-11-13 15:33] julie-sullivan commented on #1182
@JoelRichardson List tags work correctly if you are logged in. Can you verify this is the case? We used to provide the public and private tags for all lists, but this was reverted here: 910c544ea67950aad9e2c2812e317801177747e9

I don't know why. Put it back?

[2015-11-13 15:34] julie-sullivan commented on #1182
@JoelRichardson Never mind, you were talking about something else!

[2015-11-13 15:35] julie-sullivan opened #1222 "Web service: /list/tags doesn't work"
From @JoelRichardson

http://iodocs.labs.intermine.org/flymine-beta/docs#/ws-list-tags/GET/list/tags

* list tags are broken now - https://github.com/intermine/intermine/issues/1182
* List Tags service, the GET all option (where no list is specified) returns an empty list.

[2015-11-13 15:42] julie-sullivan commented on #1222
Error in logs:

[code]

[2015-11-13 15:47] kkarra commented on #1220
Yes your query works. It is exactly the query Edith and I tried and did not work (unfortunately you have to take my word for it ;-) )

[2015-11-13 15:47] #1220 closed

[2015-11-13 15:49] kkarra commented on #1220
Oh, try it in the template above. Either I have the template wrong or something odd with 'ON' 'OFF' usage..

[2015-11-13 16:01] julie-sullivan commented on #1220
Even though you have turned the interpro constraint "OFF", the interpro description is still in the output. So the query still has a join on that table, hence the 0 results.

[2015-11-13 16:17] julie-sullivan commented on #1221
Local mines are fine, we think this is an apache proxy issue.

[2015-11-13 18:24] kkarra commented on #1220
<query model="genomic" view="Gene.secondaryIdentifier Gene.symbol Gene.proteins.secondaryIdentifier Gene.proteins.symbol Gene.proteins.proteinDomains.name Gene.proteins.proteinDomains.description Gene.proteins.proteinDomains.interpro.name Gene.proteins.proteinDomains.interpro.description Gene.proteins.proteinDomains.goAnnotation.ontologyTerm.identifier Gene.proteins.proteinDomains.goAnnotation.ont

[2015-11-13 18:26] kkarra commented on #1220
Never mind!! a trailing space in input was the culprit! odd that it is not trimmed (may be it is in 1.6)

[2015-11-16 12:19] rachellyne commented on #1202
We could just place all under the Disease comment and cat the id, name description and text with a : separator.  This is what they do if you view a uniprot page as text.  Long term we probably want to look at displaying the comments in a nicer way, as they do on the default uniprot view.

[2015-11-16 14:30] julie-sullivan commented on #1202
@rachellyne Okay, so just put all the text in the Comment.description. I'll try it!

[2015-11-16 15:21] julie-sullivan commented on #1201
@kkarra This worked for me in my local flymine webapp:

[code]

The second part of the config has to be unique, it's used as a key in the data structure that processes all the links. Maybe you have another link called `Pub`?

[2015-11-16 15:24] julie-sullivan commented on #1152
Thanks @yochannah!

[2015-11-16 15:24] #1152 closed

[2015-11-16 16:10] julie-sullivan opened #1224 "UniProt: why does this gene have 79 proteins?"
http://www.flymine.org/flymine/portal.do?class=Gene&externalids=FBgn0033159

@rachellyne From their names, it looks like they should be isoforms. But they aren't. trembl's at fault?

This is a problem for next steps in that we want to show data for our protein.

[2015-11-16 16:17] julie-sullivan commented on #1224
Here's a list of genes with the protein counts:

[flies.txt](https://github.com/intermine/intermine/files/35699/flies.txt)

[2015-11-16 16:55] rachellyne commented on #1224
This is the Dscam protein - it's a very famous protein partic in Drosophila as it has so many isoforms.  I'll post details.

[2015-11-16 16:56] rachellyne commented on #1224
A homologue of the Dscam protein in Drosophila melanogaster has 38,016 isoforms [4] arising from four variable exon clusters (12, 48, 33 and 2 alternatives, respectively).[1] By comparison, the entire Drosophila melanogaster genome only has 15,016 genes. The diversity of isoforms from alternative splicing of the Dscam1 gene in D. melanogaster allows every neuron in the fly to display a unique set

[2015-11-16 16:56] julie-sullivan commented on #1224
@rachellyne But they aren't marked as isoforms, they are listed as full proteins. That's our problem.

[2015-11-16 16:57] julie-sullivan commented on #1224
In the name they say "isoform GK" (or whatever) but they are not listed as isoforms in the Uniprot file.

[2015-11-16 16:57] julie-sullivan commented on #1224
@rachellyne From their names, it looks like they should be isoforms. But they aren't. trembl's at fault?

[2015-11-16 17:17] rachellyne commented on #1224
Yes, I think it's because they are all still in tremble.

[2015-11-16 23:06] kkarra commented on #1219
Looks like that error happens in 1.5 and does not seem to effect results table(?) saw it in YM on 1.5 as well.

The problem with XenMine GO annot missing was solved by having the right integration keys in place.
(was trying to merge repos so that yeastmine and xenmine are in one - but how does one deal with different mines needing different integration keys?? looks like this is not an issue for ot

[2015-11-16 23:15] kkarra commented on #1168
I like option #3, we can discuss. This way it will not break the build. And everything in a complex should map up to BioEntity. Or if we can specify it to be 'Gene' somewhere in config, that will work too.

[2015-11-16 23:31] kkarra commented on #1201
Thanks!  realized case matters..dbPubId will not work when it is expecting DbPubId!

[2015-11-17 04:52] kkarra commented on #1184
This works fine now, can close.

[2015-11-17 04:57] kkarra commented on #1160
Stuart had to make some config change in sendmail so that mail can be sent to non-Stanford address (gmail here..)

[2015-11-17 04:57] #1160 closed

[2015-11-17 05:03] kkarra commented on #971
which config file is this in?

[2015-11-17 09:48] julie-sullivan commented on #971
There isn't a way to set the strain for a taxon for this data source yet.

If this is something you need, I can make it a priority.

[2015-11-17 09:49] #1219 closed

[2015-11-17 09:50] julie-sullivan commented on #1168
@kkarra Okay I will do that. Do you think not breaking the build is the best thing though? What if a new type has been added and I don't know about it? I guess you would see the resulting generic bioentity in the webapp.

[2015-11-17 09:51] #1201 closed

[2015-11-17 09:52] julie-sullivan commented on #1224
Is there anything we can do about this? @yochannah wants so show our nice protein displayer but it's going to show 79 times for this gene. Is there a way to tell the "good" proteins? Can we ask UniProt to update their data?

[2015-11-17 10:29] julie-sullivan opened #1225 "Cytoscape: less mean error message"
When there are no results or a data issue, we have this:

e.g human genes (homologues) in FlyMine.

This should say "no results" instead.

[2015-11-17 11:04] rachellyne commented on #1224
This is real though so isn't going to go away in swissprot - they may expand it to the full 38,000!.   How bad does it look with 79?  Can we collapse at all - only show 10 and expand for all?

[2015-11-17 11:15] yochannah commented on #1224
I think collapsing is the way forward, but if there are only three 'real' results we could be forcing the user to play 'spot the difference' to find meaningful data. Maybe I can filter out some of the results if they come through blank or identical - I'll have to experiment - but I'd rather not make a query that huge if most of the data are meaningless. I think the protein viewer will have to make

[2015-11-17 11:17] julie-sullivan commented on #1224
@yochannah Good point. This is going to be true for all protein-related tools. So something we might need to solve in general.

[2015-11-17 11:18] julie-sullivan commented on #1224
Also

omg no

[2015-11-17 11:23] rachellyne commented on #1224
I think the 38,000 is just hypothetical (at the moment).

[2015-11-17 11:48] julie-sullivan commented on #1126
Fixed but slow, due to CORS issues

[2015-11-17 11:48] #1126 closed

[2015-11-17 11:52] julie-sullivan commented on #1046
I guess because homologues aren't in the data model.

[2015-11-17 12:10] julie-sullivan opened #1226 "Userprofile backup script - improvements"
1. do a DIFF and only save if there have been changes
2. gzip

[2015-11-17 16:29] julie-sullivan opened #1228 "UniProt: update malariamine tutorial"
Build fails with;

[code]

[2015-11-17 19:38] JervenBolleman commented on #1224
Just chiming in: it would be 12,000 or so which would break a whole lot of downstream users of uniprot. So we are unlikely to 'fix' it in the data soonish. The automated TrEMBL redundancy removal won't work as these being different splice forms and sequence is too different. This wouldn't really help you guys either :( Like any hyper variable gene product its a pain to fit in the UniProt flat file

[2015-11-18 10:46] julie-sullivan commented on #1224
@JervenBolleman Thanks, good to know!

[2015-11-18 13:01] julie-sullivan commented on #517
https://github.com/flaxsearch/BioSolr

[2015-11-18 14:35] julie-sullivan commented on #533
@justinccdev @JoeCarlson Richard looked at this previously and was not able to make this change.

[2015-11-18 15:55] julie-sullivan commented on #1200
@rachellyne Let's update the human-gene data file to include these data.

[2015-11-18 15:56] julie-sullivan commented on #1180
hasn't happened again don't know what that was

[2015-11-18 15:56] #1180 closed

[2015-11-18 15:58] #1224 closed

[2015-11-18 16:20] julie-sullivan commented on #746
@sergiocontrino I am closing this because it was fixed by #1051. Please reopen if not fixed.

[2015-11-18 16:20] #746 closed

[2015-11-18 16:34] #1228 closed

[2015-11-18 16:41] justinccdev commented on #533
Any thoughts on the alternative solution of setting the starting object id to be -2^31?  A quick Google doesn't show any obvious problem in principle, though some posts about data adapters relying on negative IDs for temporary purposes (e.g. http://stackoverflow.com/questions/2473215/negative-primary-keys).  Hopefully not the case with us.

But it sounds like something went wrong recently with neg

[2015-11-18 16:48] julie-sullivan commented on #533
@justinccdev Yes it did used to work with negative numbers. @kkarra just had a problem with this and the error message listed in #1114 is the HTML header JSP which sets the title of in the browser.

[code]
That would be an easy fix but probably not @JoeCarlson's problem.

[2015-11-18 16:56] JoeCarlson commented on #533
One thing I saw was using isNumeric to check for numerical object ids. (I'm not at my desk now and cannot recall the exact source file name .... HtmlHeaderSomething.java .... Or something)

This is false for anything other than a string of digits. Negative numbers return false. It looks like This bit of code was put in a year ago.

I tried modifying this bit of code but the negative ids still did

[2015-11-18 17:02] julie-sullivan commented on #533
This is the other bit that should change too:

https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/web/struts/ReportController.java#L248-L250

[2015-11-18 17:04] justinccdev commented on #533
@JoeCarlson modifying the code led to another explicit error or something like a blank webpage?

[2015-11-18 18:00] JoeCarlson commented on #533
and the case I had seen before was

https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/web/struts/HtmlHeadController.java#L111-L116 <https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/web/struts/HtmlHeadController.java#L111-L116>

[2015-11-18 18:03] JoeCarlson commented on #533
I tried modifying HtmlHeadController. This eliminated the ‘object ID is not a number!’ message from the log file but I still got the ‘Object not found’ web page

like:

http://www.flymine.org/flymine/report.do?id=-1058901

Joe

[2015-11-18 18:15] antcsmith opened #1232 "uniprot-fasta loading problem"
I can't seem to load sequences for uniprot protein isoforms (for example A0AUZ9-2) HumanMine seems to have the same problem. I'm using the uniprot-fasta source. In my project.xml:
[code]
I can see the fasta entry in the datafile itself. However, the fasta entries themselves don't have a taxon, just the species name. How does the loader know which to entries to load - is this the problem?

Thanks,

[2015-11-18 18:22] antcsmith commented on #1232
Not sure why it won't let me add the xml but here is screen shot of my project.xml instead

![project_xml](https://cloud.githubusercontent.com/assets/2598621/11249826/248ddcee-8e21-11e5-8c82-a0c80f6e30d2.png)

I should also say I'm using InterMine 1.5.4

[2015-11-19 10:05] julie-sullivan opened #1233 "List upload: losing duplicates"
From @rachellyne

[code]

Only returns `E2f1` when you "match on case". Should say "Duplicate" instead and show `E2f2` too.

[2015-11-19 10:17] rachellyne commented on #1233
Should still be a duplicate shouldn't it?

[2015-11-19 10:29] julie-sullivan commented on #1233
Oh you are right! Yes, might be easier to change the identifier.

[2015-11-19 10:30] #1184 closed

[2015-11-19 11:55] julie-sullivan commented on #1232
@antcsmith Yes you are right! Works on FlyMine (loading the sequence of human isoforms) and works in humanmine if I load that source alone. I will fix!

To go from the name to the taxon Id, we call this method:

https://github.com/intermine/intermine/blob/dev/bio/sources/fasta/main/src/org/intermine/bio/dataconversion/UniProtFastaLoaderTask.java#L48

Which does a look up. So we would expect this t

[2015-11-19 13:48] julie-sullivan commented on #1232
@antcsmith Here's the fix: 2de3dba97a0643c02dc9b5c5c0c35bf9b6872715

It was taking UniProt as the priority data source for sequence, and UniProt said the sequence was NULL.

Remove that line from the priority file and it should work fine. Thanks for finding this!!

[2015-11-19 13:56] antcsmith commented on #1232
Thanks!

[2015-11-20 09:41] julie-sullivan opened #1236 "Keyword Search: don't show entire index if no keyword provided."
If you don't provide a keyword to the keywordSearchResults.jsp it shows everything. This takes too long.

@sergiocontrino What did AIP do? Can we merge that change into our trunk?

[2015-11-20 11:26] justinccdev commented on #1236
#1237 merged

[2015-11-20 11:26] #1236 closed

[2015-11-20 12:30] julie-sullivan opened #1239 "errorMessages tile missing?"
java.io.FileNotFoundException: The requested resource (/humanmine/errorMessages.tile) is not available

[2015-11-20 13:38] julie-sullivan opened #1240 "Keyword search: remove link to entire index"
AIP has this, I'd like it in InterMine too.

[2015-11-20 14:37] #1232 closed

[2015-11-20 16:05] julie-sullivan commented on #1233
@rachellyne Okay, here's what's happening.

1. Search for `È2f`
1. Both genes have synonym `E2F` so both genes are matched

As expected. Then ...

1. Search for `È2f` with match on case = `true`
1. Neither gene has a synonym `E2f` so neither gene is matched
1. BUT `E2f1` has a protein with `E2f` in its name `E2F_DROME`. `E2F2` does not have this protein so is not matched.

Does that make sense? So

[2015-11-23 10:30] rachellyne commented on #1233
ok, so our rules don't quite work as this is a match on synonyms AND it find duplicates. If we find one match in synonyms it is marked as a synonym match.  The synonym bit needs to be indicated as well - maybe could show the field actually matched so the user knows it is hitting synonyms.  For someone who doesn't know, it maybe assumed that the search is adding a wild card.

[2015-11-24 11:38] julie-sullivan commented on #1221
[code]

[2015-11-24 11:45] julie-sullivan commented on #1221
[code]

https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/web/struts/TemplatesExportAction.java#L88-L89

[2015-11-24 15:11] #1221 closed

[2015-11-25 10:42] julie-sullivan opened #1243 "List upload: humanmine example has protein accession that's not matched"
This is likely because the bag-query runner is querying for bioentities, which do not have an accession.

We have a special converter to match homologues. Maybe add one to match protein accessions?

[2015-11-26 15:48] julie-sullivan opened #1244 "MyMine: export tags fails"
Export tag fails. Missed as part of #1241

[2015-11-26 15:50] #1244 closed

[2015-11-26 16:03] julie-sullivan opened #1245 "Hardcoded CDN values"
From @JoeCarlson

[code]

Tell @sammyjava

[2015-11-27 12:05] julie-sullivan opened #1246 "QueryBuilder: error when removing constraint"
[code]

Started with this query:

http://humanmine.org/humanmine/template.do?name=Gene_Pathway&scope=all

Remove primary identifier. I think this is because the primary identifier is in the sort order three times for some reason.

[2015-11-30 10:14] rachellyne commented on #1200
Our gene model is based on Ensembl.  We can't parse an ncbi file and push their synonyms onto this without doing proper mapping between the two.  We load synonyms from HGNC.

[2015-11-30 10:17] julie-sullivan commented on #1200
i thought we got the human-gene data from ensembl biomart. In which case we could update the query. Sorry!

The NCBI data was here:

[2015-11-30 10:20] julie-sullivan commented on #1200
The `human-gene` file is here:

[2015-11-30 10:28] rachellyne commented on #1200
That file comes from HGNC.  I don't know why we take these from HGNC and how we merge them with the ensembl data - I wasn't involved in this so I'm trying to work out what's from where and why.

[2015-11-30 16:49] julie-sullivan commented on #1080
@justinccdev sorry for short notice but i need this for the human build, didn't realise how bad of a bug this is.

[2015-11-30 17:48] justinccdev commented on #1080
No problem. You need thus reviewed urgently? Can do so Tues if necessary, otherwise I will look as first task when I am back on Wed.

[2015-12-01 09:36] julie-sullivan commented on #1080
@justinccdev

1. You shouldn't be reading your email on holiday. >:(
2. I ran the build with my fix so I'll check now if it worked. So Wed is fine!
3. We should have a discussion, maybe after the holidays, on how we can refactor the ID resolver system. It's fairly fragile.

[2015-12-01 11:51] julie-sullivan opened #1248 "List upload: error"
[code]

[2015-12-01 12:00] julie-sullivan commented on #1248
I redeployed and now it works. I believe this is because I switched branches a bunch of times prior to this, and hadn't done a clean. user error.

[2015-12-01 12:00] #1248 closed

[2015-12-02 09:44] julie-sullivan commented on #1200
@rachellyne I think the ensembl db has the ensembl synonyms but I don't know if it has the NCBI ones, which is what Rama was referring to. When I search the ensembl biomart for MAY I don't find anything (that might just mean I don't know how to use biomart!).

[2015-12-02 14:18] #1073 closed

[2015-12-02 14:38] julie-sullivan opened #1249 "HGNC parser"
@rachellyne I am going to write a parser to parse this file:

ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt

[2015-12-02 14:38] julie-sullivan commented on #1249
Also, we use that other biomart-generated file for the human identifiers. Need to do something about that.

[2015-12-02 14:39] julie-sullivan commented on #1249
Refs #1200

[2015-12-02 14:41] julie-sullivan opened #1250 "Add synonyms to Ensembl XML generating script"
@rachellyne

1. Is this the script you use?
2. The part of the script that generates Xrefs is commented out:

https://github.com/intermine/intermine/blob/dev/bio/scripts/ensembl.pl#L427

I can't tell why. Because it had been replaced? I will uncomment and see what happens.

Refs #1200

[2015-12-02 14:42] julie-sullivan opened #1251 "NCBI parser - for synonyms"
Make a entrez2ensembl source that:

* parses the NCBI file
* for entries with one or more ensembl identifiers
* assigns the NCBI identifiers as symbols to ensembl genes

[2015-12-02 14:43] julie-sullivan commented on #1251
Tell @rachellyne

[2015-12-02 14:55] julie-sullivan commented on #1249
I put the file here:

Before this ticket is closed, add this file to data downloads.

[2015-12-02 15:45] julie-sullivan commented on #1249
@rachellyne Here are all the fields in that file:

[code]

I am parsing

[code]

and

[code]
Will be easier to see once I've done a build! But just so you know we can add / remove columns.

[2015-12-02 16:40] julie-sullivan commented on #1250
So the script says that it's only getting NCBI IDs, which we already have. Or maybe should replace file with these data?

Let's look at this tomorrow and make a decision.

[2015-12-03 10:06] julie-sullivan commented on #1200
This is working now in beta humanmine, MAY1 search gets to the correct gene.

[2015-12-03 12:21] julie-sullivan opened #1252 "ID resolver - update human IDs file."
The current file is generated by BioMart and is out of date. I can't generate a new file so I think we should use the HGNC flat file instead.

ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt

This was what we originally used but stopped in favour of BioMart. It's not documented why we switched, but I guess we'll find out.

Some mines use the NCBI identifiers whereas Human

[2015-12-03 15:44] julie-sullivan opened #1253 "Web service: error running template to list"
From @JoelRichardson

[code]

[2015-12-03 16:17] julie-sullivan commented on #1253
I fixed that error then got this error:

[code]
I don't think this ever worked.

[2015-12-03 18:18] justinccdev commented on #1080
Comments on 4c18521

1.  If we are going to set primaryIdentifier to be the identifier name by default then it makes more sense to do this in readConfig().  I think that readConfig() is logically a better place and the logic is only run once for each taxon, whereas in setGene() it is executed for every gene.

2.  Just as a general point, I find it amusing that we bother with the rslv != null check

[2015-12-04 11:04] julie-sullivan commented on #1080
1. Good point you are right. However, it could be the case that a taxon is NOT in the configuration file. In this case, we need a catch-all. Does that make sense?
2. Yes, needs attention!

Thanks for your notes, very helpful!

[2015-12-04 11:06] #1080 closed

[2015-12-04 12:29] justinccdev commented on #1080
1. As far as I can see, all taxons must be in the configuration file from this snippet of code before the single setGene() call.

[code]

[2015-12-04 15:34] julie-sullivan commented on #1080
@justinccdev Yes! You are right. What about this: ba724aad4d623b221b81605acf1062ab85022508

I put as the default value in the Config object.

[2015-12-04 15:38] justinccdev commented on #1080
Yeah, I like that.  I also think that might be simpler than having more logic to work through in readConfig().

Just to note, that commit also contains an unrelated (?) change in bio/sources/biogrid/main/resources/biogrid_config.properties.

[2015-12-04 15:38] justinccdev commented on #1080
Ah, I see that was corrected in 19baed6

[2015-12-04 15:38] julie-sullivan commented on #1080
@justinccdev thank you for keeping me honest! : ) Yes, mixing up my branches.

[2015-12-04 15:39] justinccdev commented on #1080
Just typically developer pedantry.  Happy for you to do the same to my pull requests (when there are some).

[2015-12-04 16:59] julie-sullivan commented on #929
done

[2015-12-04 16:59] #929 closed

[2015-12-04 17:00] julie-sullivan commented on #906
this needs more thought.

[2015-12-04 17:00] #906 closed

[2015-12-04 17:03] julie-sullivan commented on #724
works as expected now.

[2015-12-04 17:03] #724 closed

[2015-12-04 17:05] julie-sullivan commented on #606
@yochannah @rachellyne Nice tool for the new UI

[2015-12-04 17:07] julie-sullivan commented on #462
@rachellyne @yochannah Another nice idea.

[2015-12-04 17:12] julie-sullivan commented on #380
work as expected now.

[2015-12-04 17:12] #380 closed

[2015-12-04 17:20] julie-sullivan commented on #206
@kkarra Is this still something you need?

Here's what the results look like now:

[code]

You are saying that in addition to "matches" you'd like the identifiers of the actual genes that matched. That makes sense.

[2015-12-04 17:22] julie-sullivan commented on #189
Works as expected with humanmine.

[2015-12-04 17:22] #189 closed

[2015-12-04 17:22] julie-sullivan commented on #148
a good idea, didn't have enough time. :(

[2015-12-04 17:22] #148 closed

[2015-12-07 09:43] #1240 closed

[2015-12-07 09:43] #1222 closed

[2015-12-07 09:44] #1253 closed

[2015-12-07 13:34] yochannah commented on #1245
I've done some hunting and I'm having a hard time spotting any hardcoded values. Searching the intermine repo comes up with 55 results but the vast majority are test files and can safely be ignored. https://github.com/intermine/intermine/search?p=5&q=cdn.intermine.org&type=Code&utf8=%E2%9C%93

I've also tried pointing my local flymine to a CDN locally hosted on my machine and I didn't spot any cal

[2015-12-07 17:09] julie-sullivan opened #1258 "Enrichment widget: accept identifiers instead of just the list"
Currently the enrichment widgets only accept a list as input. We should let it analyse a set of identifiers instead.

[2015-12-07 17:09] julie-sullivan commented on #1258
Tell @joshkh

[2015-12-07 17:20] sammyjava commented on #1245
I think api/main/src/org/intermine/api/query/codegen/WebserviceJavaScriptCodeGenerator.java is the (main?) culprit:

shokin@chama:~/intermine$ grep -R cdn.intermine.org intermine/api/main
Binary file intermine/api/main/build/classes/org/intermine/api/query/codegen/WebserviceJavaScriptCodeGenerator.class matches
intermine/api/main/src/org/intermine/api/query/codegen/WebserviceJavaScriptCodeGenerato

[2015-12-07 17:39] JoeCarlson commented on #1245
There are URLs for javascript from cdn.intermine.org in:

https://github.com/intermine/CDN/blob/master/api

As I recall, if cdn.intermine.org is down, the javascript for the
enhancement widgets does not load. (And there is no exception thrown. So
it's not obvious what the issue is). This showed up for me when trying
to display the GO enhancement widget for a list of genes.

On 12/07/2015 05:34 AM,

[2015-12-07 18:00] kkarra commented on #206
Yes, that was the original request. To return the gene names of the 'matches'. We don't need it now, SGD code handles the enrichment.

[2015-12-07 18:00] #206 closed

[2015-12-07 18:05] kkarra commented on #1046
you can close this item

[2015-12-08 12:04] #1046 closed

[2015-12-08 15:12] yochannah commented on #1245
@sammyjava I think that the hardcode in [WebserviceJavaScriptCodeGenerator](https://github.com/intermine/intermine/blob/3834c5f9ce17cf6ad0a34371ec63347e89da0ebb/intermine/api/main/src/org/intermine/api/query/codegen/WebserviceJavaScriptCodeGenerator.java#L62
) is safe. As the second argument for `getProperty`, It's only there as a [default value/fallback](https://github.com/intermine/intermine/blo

[2015-12-08 22:19] JoeCarlson commented on #1245
I realized only today that this should be an issue in intermine/CDN and
not intermine/intermine

joe

On 12/08/2015 07:12 AM, Yo Yehudi wrote:

[2015-12-09 09:39] julie-sullivan opened #1259 "NCBI GFF - create parser"
@rachellyne there are some more issues with the GFF parser.

* Chromosome is set to be `NC_000001.11` instead of just 1. It's in the name though:

[code]

Might leave for the next build as will need to rewrite the parser.

* Transcript is marked with the term [`primary_transcript`](http://www.sequenceontology.org/browser/current_svn/term/SO:0000185) which is a child of transcript but not something

[2015-12-09 09:49] julie-sullivan commented on #1259
Some exons don't have a transcript ID for no good reason.

[code]
Will need to figure out an id for them.

[2015-12-09 09:50] julie-sullivan commented on #1259
Getting an error on this line:

[code]

Trying to parse the exon but it has no parent, because I excluded `C_gene_segment` types, mostly because I don't know what those are. Put back?

[2015-12-09 10:03] rachellyne commented on #1259
I'll take a look at it.  Do you want me to parse it, I'm sure you've got better things to do.

[2015-12-09 10:06] julie-sullivan commented on #1259
@rachellyne So I just put all these in the data model and the GFF source worked:

Options:

1. rewrite the GFF parser to ignore children when we are ignoring the parents.
2. add all weirdo types to humanmine, see what webapp looks like with these data. rewrite parser to exclude if we don't like.

Which one do you prefer?

[2015-12-09 10:26] rachellyne commented on #1259
I'm not sure about loading all region and match types - let me take a look.  The segments we can load, these are immunoglobulin etc segments.

[2015-12-09 10:29] julie-sullivan commented on #1259
@rachellyne okay, running build now we'll see what we get. Hopefully the merging issues will be sorted too. I think the only thing we are missing is the FASTA. I got your email but don't know which file to load.

[2015-12-09 10:34] julie-sullivan opened #1260 "Web services: add an intermine version web service"
Should we add this to flymine.org/flymine/service/version or make a new web service?

[2015-12-09 10:44] joshkh commented on #1260
The current /service/version endpoint description is "Web-Service Version" and the property that it returns is "version". Having a "version" attribute along with an "intermineVersion" attribute could be a bit confusing so I vote for a new endpoint.

[2015-12-09 10:51] julie-sullivan commented on #1260
1. Add this to return current intermine version:

2. Leave current /service/version/ as is
3. Add new endpoint for webservice version

Will return the same value as

[2015-12-09 11:42] #1165 closed

[2015-12-09 14:25] julie-sullivan commented on #1259
ftp://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/Assembled_chromosomes/seq/hs_ref_GRCh38.p2_chr1.fa.gz

[2015-12-09 15:42] julie-sullivan commented on #1259
@rachellyne This is the list of chromosomes in the GFF3 file:

[code]

Do we want all or just the "good" ones?

I am guessing we just want the good ones but I will need to hardcode these somewhere. Okay because maybe not going to change? :D

[2015-12-09 16:12] julie-sullivan commented on #1259
@rachellyne build failed on this error:

[code]

It's all the NCBI! There shouldn't be differences. That worries me. I'll set the build to use `ncbi-gene` by default but maybe you can look as to why the symbols would be different for he same gene. Maybe I shouldn't set the `ǹame` attribute to be the symbol.

[2015-12-09 17:16] julie-sullivan commented on #1259
Another error:

[code]

It looks like GWAS created two genes when ncbi-gff thinks they should be one gene.

[2015-12-10 10:11] julie-sullivan commented on #1259
Build failed again, each gene is in the GFF file multiple times.

[code]

[2015-12-10 10:12] julie-sullivan commented on #1259
Here's a partial list of dupes:

[code]

[2015-12-10 10:16] julie-sullivan commented on #1259
What I really need is a reliable way to tell which genes / chromosomes we want to load. I was hoping the 2nd column would do it but that does not seem to help. I can hardcode the chromosome identifiers, but that seems fragile. Maybe there's a list somewhere?

[2015-12-10 14:32] rachellyne commented on #1259
It might be just those that have a chromosome id starting NC_.   BUT  I'm not 100% on this.

[2015-12-10 15:40] julie-sullivan opened #1264 "Ability to track changes to lists over time."
Our list upgrade system provides a text file which lists each identifier and what happened to it.

Instead, these data should be saved in the database for reference later.

[2015-12-10 15:42] julie-sullivan opened #1265 "Publicly share private lists with non-Intermine users"
Currently you can to share lists with another person as long as both people have user accounts. Instead, we should create a google like system where lists are set:

* only viewable to specified users
* viewable to anyone with this link
* completely public

[2015-12-10 15:57] joshkh opened #1266 "result table unable to display 'NaN' values (was: Template results produce error when row count is very large.)"
Running template
http://intermine.modencode.org/thalemineval/template.do?name=gene_expression_report

With list "democyto266"
## Produces error:
## IMJS: 3.15.0
## IMTABLES: 2.0.0
## QUERY:

STACK: TypeError: Cannot read property 'column' of null
at http://cdn-dev.intermine.org/js/intermine/im-tables/2.0.0/imtables.js:6007:37
at http://cdn-dev.intermine.org/js/intermine/im-tables/2.0.0/imtables.js

[2015-12-10 16:24] julie-sullivan commented on #1266
@sergiocontrino Is there anything the log files? Also, this doesn't happen with other templates. What's different about this one?

This template works:

http://intermine.modencode.org/thalemineval/template.do?name=ge_agnes&scope=all

And it looks identical. Why is that?

I doubt this is a front end problem.

[2015-12-10 16:51] julie-sullivan opened #1267 "GFF parser - removeFeature() leaves synonyms"
This prevents the GFF feature from being stored:

[code]

But it keeps the synonyms.

[2015-12-10 16:58] sergiocontrino opened #1268 "exporting large (many records) results produce transient error message"
if a result table is big enough (seen for 400k records), clicking on the export button produce a dialogue box with an pink box error stating "ERROR: the offset is greater than the total number of resutls".
it will eventually disappear. the transient seems proportional to the size of the table.

[2015-12-11 11:12] julie-sullivan opened #1269 "GFF parser - ignoring parents leaves children orphans"
In the GFF parser, you can add types to the list to be ignored, e.g.

However, these types have children, who have valid types, e.g. exons. An exception gets thrown because the parent is not found.

I have removed this exception, which isn't great. Parents are usually before their children but that is convention not part of the specification.

[2015-12-11 14:36] julie-sullivan commented on #1259
See 0915ca46ee4d9b82107f8114c7cb0a82e016b2b7

* Deletes synonyms when we skip a feature
* Only parses features that start with `NC_`
  * This will break next release, I am sure. Maybe okay for first try
* Resolves chromosome IDs
  * This will break next release too, I am sure. Maybe okay for now.

[code]

[2015-12-11 15:03] julie-sullivan commented on #1266
@sergiocontrino I've reassigned to you, let me know if you need help debugging.

Good template:

[code]

Bad template

[code]

[2015-12-11 16:31] sergiocontrino commented on #1266
@joshkh, @julie-sullivan was right, it is a data issue.

[2015-12-11 16:45] julie-sullivan commented on #1259
@rachellyne Another error:

[code]
Same gene ID, different location

[2015-12-11 16:47] julie-sullivan commented on #1259
http://www.ncbi.nlm.nih.gov/gene/?term=100126533

[code]

[2015-12-11 16:56] julie-sullivan commented on #1259
These are the identifiers for genes with multiple locations, and the actual number of locations they have.

[code]

[2015-12-14 09:20] julie-sullivan opened #1270 "GFF parser - allow for multiple locations"
The NCBI GFF parser has multiple locations #1259

This is not handled in the GFF parser. However `SequenceFeature` has a locations collection, so this would be possible.

Would the postprocess that sets the chromosome location be able to handle?

[2015-12-14 09:29] julie-sullivan commented on #1270
[code]

Lots of organisms are involved. I think the other 40 are on X / Y

[2015-12-14 09:56] julie-sullivan commented on #1270
Gene `715` has `partial=true`. This would help if all multilocation features had this parameter.

[code]

[2015-12-14 09:59] julie-sullivan commented on #1270
Gene `100126512` does not have anything to help us identify it as a feature with multiple locations.

[code]

[2015-12-14 10:02] julie-sullivan commented on #1270
`100126488`

[code]

[2015-12-14 10:06] julie-sullivan commented on #1270
http://www.ncbi.nlm.nih.gov/gene/?term=28227 this one is on the X and Y chromosomes.

[2015-12-15 13:02] sergiocontrino commented on #1266
the error is due to imtable being unable to display NaN values in a number fields.
i'll try to avoid them in the loading, but reopen this for reference. if a quick fix is possible (treat them as null? or 0?) even better!

[2015-12-15 15:28] sergiocontrino commented on #1266
i think this happens only in thalemine, where we compute some values.
for example, in thalemineval
[code]
produces a record with the 'NaN' value.

or in the db you can
[code]

and obtain
[code]

note that 'NaN' is a upper limit and that you can use it as a value, e.g.
[code]

[2015-12-15 15:48] julie-sullivan commented on #1270
[code]

1. GFF file has dummy IDs
1. IDs are used to map to parents
1. Actual identifier we want to use is in the cross references, i.e. `Dbxref=GeneID:100287102`
1. Several genes have several locations, using different IDs.
     1. need to use actual entrez gene ID
1. If you use the Entrez ID, you cannot find the parents. Parents are found using the ID, not the identifier.

[2015-12-16 09:43] julie-sullivan opened #1271 "Cytoscape: new features"
From @JoelRichardson:
- It would be nice to be able (somewhere) to navigate to other interactors' detail pages. Right now you can't do it, unless you know to open the table view.
- When you click on a node,  the interaction details would be easier to read if they were in tabular format.
- It might be useful to display interactions among all the interactors (and be able to view/hide these edges).
-

[2015-12-16 09:48] julie-sullivan commented on #1271
Also, for the longer term: overlay expression data. Or maybe GO annotation? May be easier to do with esyN?

[2015-12-17 09:44] julie-sullivan commented on #1271
[code]

[2016-01-08 09:49] julie-sullivan opened #1274 "Publication Enrichment - download fails on NULL pubmed ID"
From @kkarra

Publication Enrichment widget will do nothing upon hitting ‘Download’ for this list of genes. (the example List works fine).

[code]

This smart user figured out that excluding null pubmedID entries from the widget makes it work. (search for null in page and find those rows in the widget)

So, it looks like publications that do not have a PMID are still used for enrichment, which is

[2016-01-08 17:19] yochannah commented on #1274
I've successfully managed to replicate this with the test model. At initial glance it looks like this is a clientside issue: there is a successful post request to the server when you try to download a list with the culprit null item selected - and the exact same number of lines in the server response when the culprit _isn't_ selected.

Given the consistent server behaviour, it's probably client si

[2016-01-11 09:40] julie-sullivan commented on #1274
@yochannah YeastMine is enriching on publication title not pubmedID, which is why we've never seen this before:
https://github.com/yeastgenome/intermine/blob/master/yeastmine/webapp/resources/webapp/WEB-INF/webconfig-model.xml#L659

[2016-01-11 16:53] julie-sullivan commented on #1258
@joshkh what do you want the endpoint to be?

Current one:

[2016-01-11 16:59] julie-sullivan commented on #1258
Also, new endpoint to list available widgets. (might need new ticket)

[2016-01-11 17:02] joshkh commented on #1258
@julie-sullivan that sounds good to me. Are we accepting database IDs or fields that identify items? If the former then I recommend calling the parameter "ids" as to not be confused with the "identifiers" parameter used in ID resolution.

[2016-01-11 20:40] kkarra commented on #1274
Looks like that bit of config is same as FlyMine..
https://github.com/intermine/intermine/blob/master/flymine/webapp/resources/webapp/WEB-INF/webconfig-model.xml
Not sure what the difference between enrich vs enrichIdentifier is..will see if I can find some doc

[2016-01-12 09:42] julie-sullivan commented on #1274
@kkarra That attribute is what's analysed. FlyMine sets that value as pubmed ID, so of course we are never going to have NULL pubmed IDs. That's why this bug was never found before. That's all I meant. Does that make sense? It's not relevant for you, I was just telling @yochannah because I had been worried that the Java code was at fault not realising our config was different.

[2016-01-12 10:07] julie-sullivan commented on #1258
@joshkh I am going to have to change all the widgets to accept a list of identifiers in addition to a list as the widget web service handles all widgets.

Maybe we should create a class that's a subclass of [InterMineBag](https://github.com/intermine/intermine/blob/dev/intermine/api/main/src/org/intermine/api/profile/InterMineBag.java) that is not stored in the database.

[2016-01-12 15:51] julie-sullivan opened #1276 "Footer - make like YeastMine"
Adapt @kkarra's footer to be generic and use for intermine

[code]

[2016-01-13 11:42] julie-sullivan opened #1277 "Complex - interacting region has two locations"
@rachellyne I am sure this is my fault but Interaction Regions has a locations collection and a location reference.

I think we should remove the location reference to prevent confusion. Where is this added?

[2016-01-13 11:49] julie-sullivan opened #1278 "Checkstyle 6"
update to latest checkstyle. new features and remove some obsolete config.

[code]

[2016-01-13 11:49] rachellyne commented on #1277
Oh yes - I wonder how that snuck in.  Yes, we should remove the reference.

[2016-01-13 12:55] yochannah commented on #1274
ok, I've found the line in the widget enrichment which goes goes wrong. Question @julie-sullivan @kkarra - is the attached file a reasonable way of handling it? See the last line, XML leader. (don't worry about the other inappropriate new lines, the test model I'm using to replicate the situation is a bit tricky).

I had to change the file extension to .txt rather than tsv to get it to upload.

[E

[2016-01-14 10:58] julie-sullivan commented on #1278
http://checkstyle.sourceforge.net/config_whitespace.html#ParenPad

[2016-01-14 11:07] julie-sullivan commented on #1278
took out everything that caused an error. Also need to look into additional checks we can add, good idea to review.

Don't add until 2.0 though so we can add non-backward compatible items. Probably only an issue for us.

[2016-01-15 13:15] julie-sullivan commented on #1277
@kkarra @rachellyne Can you comment? I removed the "gene" reference from interaction region. I think that was a mistake.

![dupe-locations](https://cloud.githubusercontent.com/assets/1663057/12353910/1d020f0e-bb8a-11e5-9a33-6b8e1b66aa94.png)

However we also had two locations - one from PSI-IntAct and one from the PSI-Complex converter. I removed one. The complex source set `location` whilst the o

[2016-01-15 17:38] kkarra commented on #1277
* where do you see both  'location' and 'locations'? I can't seem to find this view in YeastMine.
* changing the model is fine with me
* did we assume the interacting regions are identical in say biogrid  and ebi complexes?

[2016-01-25 13:41] julie-sullivan opened #1282 "stepZ - working with results sets"
We are introducing the idea of a "temporary list".

InterMine currently has this already. When a non-logged in user creates a list, the list is not stored to disk. Instead it's kept in memory and lost if the user closes the browser. However if the user logs in, the list IS stored to disk, saved in the user database forever.

These new temporary lists will treated a bit different. They will only be

[2016-01-25 13:47] julie-sullivan commented on #1282
What if I do this:

1. run a template
2. select a subset of results (here's my temp list!)
3. enrich
4. look at results, filter
5. run another tool. use the GUI to filter.
6. run complex viewer tool. while looking at complex viewer, I log in.
    * whole workflow re-runs. but I am taken from complex viewer to this other tool to reselect. I don't remember what I did.

Might be a problem?

[2016-01-25 13:51] julie-sullivan commented on #1282
Input to a tool might be a real list OR a temp list. e.g. list operations tool

[2016-01-25 14:13] joshkh commented on #1282
Just two quick thoughts:

1. /cache/result-set/add seems redundant when we could just use POST as we do with ID resolution.

To store something in the cache:
[code]
Payload:
[code]
Returns:
[code]

2. Calling GET on the cached result-set shouldn't return its contents. Instead it should return the same information as GET /lists/ when a list name is supplied.

[code]

Returns
[code]

[2016-01-25 15:47] joshkh commented on #1282
Logging in mid-stream is a problem. If a user has a temporary token, makes a history and then logs in, they'll lose access to their caches if the caches are protected by the temporary token. Sharing sessions is not an option because it couples the UI back to the server.

Solution: Don't require tokens for accessing a cache. The likelihood of someone guessing a UUID within a cache's time-to-live is

[2016-01-25 16:03] julie-sullivan commented on #1282
@joshkh @yochannah Update all the ``/list`` endpoints to also accept UUID.

(I need to figure out how to make either field required.)

[2016-01-26 13:07] julie-sullivan opened #1283 "Region search: not returning SNPs"
From Deepak Unni:

I came across a bug with the Genomic region search tool where if I search for a set of coordinates, the tool will return all features that fall within that region with the exception of SNPs.

I looked into the log files for the SQL queries that are fired for the search and here is what I got:
[code]
It seems that the range query  int4range(a5_.intermine_start, a5_.intermine_end)

[2016-01-26 13:58] rachellyne opened #1284 "App gene report page kills HumanMine"
Viewing the report page for the App gene causes HumanMine to crash.  I am guessing this is because this gene has thousands of interactions - so maybe an Esyn issue.

[2016-01-26 14:03] julie-sullivan commented on #1284
When I go to the report page, I get a few errors from esyn and cytoscape.

@yochannah Can you have cytoscape stop analysing if there are more than N interactions. I don't know what N is. Maybe where N interactions breaks the site, but N+1 does not. ha! @rachellyne? Will be unusable spaghetti monster anyway. And fix esyn displayer too? Same issue.

@rachellyne Why does this gene have so many intera

[2016-01-26 14:22] rachellyne commented on #1284
I'm not sure why it's got quite so many.  It's cleaved into a number of peptides that all have different interactions.  It's a major protein in Alzheimers so well studied.

[2016-01-26 14:46] julie-sullivan commented on #1282
Creating lists even for anonyous users writes to disk. This is dumb. Update the code so that anonymous lists are not stored in the DB until the user logs in. This will allow us to create temporary lists as discussed above, and use the same code.

[2016-01-26 15:38] julie-sullivan commented on #1258
Do this ticket whilst waiting for #1282

[2016-01-26 16:02] justinccdev commented on #1282
If anonymous user lists are only held in memory then this will fail in high availability scenarios where more than one Tomcat instance is handling requests.  However, I don't know if InterMine supports such a thing.

[2016-01-27 09:28] julie-sullivan opened #1285 "Results tables - not creating correct list"
Run this query and you get 45 genes:

[code]

If you create a list though, you only get 2 genes. Why?

[2016-01-27 09:40] julie-sullivan opened #1286 "FlyMine: make mRNA expression terms list-able"
Right now you can't make a list of expression terms. Maybe because it's not a proper ontology?

Tell @rachellyne

[2016-01-27 10:14] rachellyne commented on #1286
I could.

[2016-01-27 15:07] julie-sullivan commented on #1283
rs35149808 on humanmine is not returned by the region search correctly.     3:149187990-149187990

[2016-01-27 17:38] kkarra opened #1287 "Regions Tab - configure default regions"
Is it possible to configure different and working examples for default regions for each of the Organism selected from the drop-down in the Regions Tab? If not, is it possible to add this feature?

[2016-01-28 14:03] rachellyne opened #1288 "Check for unique number before rejecting large lists."
List upload (particularly of very large lists) - include a step that checks for actual number of genes/proteins before rejecting if list size is over 100,000.

(I tried to upload a list containing > 200,000 entries but the actual unique number was only ~17,000.  It was rejected due to the 100,000 list limit).

[2016-01-28 14:06] julie-sullivan commented on #1288
@rachellyne Can you attach your list? For testing?

[2016-01-28 14:06] julie-sullivan commented on #1288
Implement with #1282

[2016-01-28 14:19] rachellyne commented on #1288
Its says:  Yowza, that's a big file!  So doesn't look like I can.  But, its:

/local-homes/rachel/humanmine/panther/panther_humanEntries

[2016-01-29 10:23] julie-sullivan commented on #1258
This is the current request:
[code]

Here's another request using the IDs in the list instead of the list name:
[code]

The results are identical.

[2016-01-29 15:18] julie-sullivan commented on #940
@Hendekagon No, I never did.

[2016-01-29 15:19] julie-sullivan commented on #940
1. The registry should only return mines that are online now.
2. Can mines add themselves to the registry? it's low traffic so might not matter.

[2016-01-29 15:19] julie-sullivan commented on #940
Needed for:

* intermineR
* android app
* others.

[2016-01-29 15:20] julie-sullivan commented on #940
We have an intermod search tool in the works. Should we have a boolean, "MOD"? Or maybe in the tool, it can have the list of mines, and get the URLs from the registry?

[2016-01-29 15:22] julie-sullivan commented on #940
Also, should display on home page.

[2016-02-01 15:27] julie-sullivan commented on #940
Other info we might want to collect (and make optional):

* twitter
* location (vague. for our map. Just city country?)

Tell @yochannah

[2016-02-01 15:30] yochannah commented on #940
lat/long specifics would be easier, so we could do something like this: http://yochannah.github.io/mineminer/

[2016-02-01 17:54] kkarra commented on #1274
sorry, I am not sure how to comment on the attached file. Which line in widget enrichment is the one that needs fixing? thanks!

[2016-02-02 09:37] yochannah commented on #1274
Sorry, looking back at what I posted it made sense in my head at the time but I can see why it might be incredibly unclear. It was a bit tricky for me to replicate the problem because we don't have any null publication identifiers in our human/fly data sets, so I used our test "employee" data model instead.

We'll need to release a new version of the list widgets enrichment script (https://github.

[2016-02-03 15:45] julie-sullivan commented on #762
See #789

[2016-02-03 15:45] #762 closed

[2016-02-03 15:45] julie-sullivan commented on #789
From @joecarlson
[code]

[2016-02-03 17:56] JoeCarlson commented on #789
We're happy with phytomine being left out of the iodocs.labs.intermine.org. I don't see it there now. does that mean the testing is completed?

[2016-02-03 18:00] kkarra commented on #1274
no problem, I wasn't super clear either. Yes, that workaround (having n/a null value) sounds good!  Let me know when you release, I can check it out and test it. thanks!!

[2016-02-04 10:13] julie-sullivan commented on #789
@JoeCarlson No, not tested yet but should be done for next milestone (July). I've removed your username so if you don't want to be bothered with ticket updates, just delete your comment. (I think that will work?)

[2016-02-04 10:27] julie-sullivan opened #1292 "IntAct: resolve all Ensembl identifier not just the ones in NCBI file"
http://www.genenames.org/cgi-bin/statistics

1. load HGNC file to get missing 2,000 genes
    2.  merging works well, but intact is the problem.
    3. Intact uses the ID resolver, need to have a ID resolving file that has all the ensembl genes.
    4. Solution → make our own file.
5. Solution
    6. Download script
    7. write additional script to merge
    8. build as normal

[2016-02-04 12:09] yochannah commented on #1274
Okay, it's checked in to our dev branch as version 2.1.3:

https://github.com/intermine/CDN/tree/dev/js/intermine/apps-c/list-widgets/2.1.3

You'll want to make sure that your [global.web.properties](https://github.com/intermine/intermine/blob/dev/intermine/webapp/main/resources/webapp/WEB-INF/global.web.properties#L127) points to 2.1.3 at the correct CDN location.

Let me know if it helps! :smile

[2016-02-05 15:39] julie-sullivan opened #1293 "GO parser: missing additional publication IDs"
There are 13 entries in the GAF file but only 12 in FlyMine.

Run this query:

[code]
See GO:0005515 does have an annotation but only one publication is listed. There should be two.

Here's the data:

[code]

@rachellyne Can you confirm?

[2016-02-08 12:45] julie-sullivan commented on #297
@joshkh @yochannah Should be a part of stepz

@rachellyne we should update VERSION in the data set for reproducibility.

[2016-02-11 00:08] kkarra commented on #1274
I downloaded the zip file from here https://github.com/intermine/CDN/tree/dev

I did not change anything in global.web.properties as I swithced CDN directories..above CDN-dev/ as CDN/

Restarted tomcat, redeployed and cleared cache - still don't see it working.

http://yeastmine-test.yeastgenome.org/yeastmine-dev/begin.do

test genes:
YER117W YGL077C YGL103W YGR118W YHR010W YHR141C YHR143W-A
YJL13

[2016-02-11 20:52] JoelRichardson opened #1296 "List converter with subtype constraint fails"
If a list converter template contains a subtype constraint, you get an error when you try to convert a list.
The link appears on the list analysis page where it should, and has (apparently) the right count.
But clicking on the link gets this error:
java.lang.IllegalArgumentException: Mismatch between end type of prefix: OntologyTerm and type parameter: GOTermat
org.intermine.web.logic.pathqueryres

[2016-02-12 09:42] yochannah commented on #1274
Even though you're using the dev branch of the CDN I think you're still pointing to the old version (2.1.2) of the script. try changing to 2.1.3 in global web properties and redeploy?

[2016-02-15 11:28] JoelRichardson opened #1297 "Template generates bad web service URL"
On a template, if you plug in a list and then click the web
service link, you get a bad URL.

![image](https://cloud.githubusercontent.com/assets/1064767/13047459/366e023c-d3ad-11e5-967f-c424bdabf42c.png)

[2016-02-15 15:41] julie-sullivan opened #1299 "Integers summarised as strings"
From mitominer:

[code]

[2016-02-15 15:44] julie-sullivan commented on #1202
@rachellyne from Anthony:

[code]

[2016-02-16 11:34] rachellyne opened #1300 "Row offset on export keeps giving error"
"Error The offset is greater than the total number of results".

Can fix by moving the slider, but it's annoying.

[2016-02-16 11:36] julie-sullivan commented on #1300
Can you tell me which mine you were using and which query you are running?

Can you reproduce the error?

[2016-02-16 12:01] rachellyne commented on #1300
Oh yes vital detail - HumanMine (live and beta), although I haven't checked other mines.  It happens nearly every time I try to export a list.

[2016-02-16 12:35] JoelRichardson commented on #1297
#1298

[2016-02-16 12:44] JoelRichardson opened #1301 "Enabled/disabled styling on template forms"
When a template form contains a list constraint option, checking/unchecking the box switches the enabled/disabled states between user input (e.g. a LOOKUP) and list selection. The issue is that any text associated with the disabled side remains black, which is visually confusing. Text associated with the disabled controls should also be gray.

Also, when the user input is an autocomplete, it doesn

[2016-02-17 10:11] #1292 closed

[2016-02-17 16:52] julie-sullivan opened #1304 "Every list writes to disk. Should not do this."
Every list that is saved is written to the production database in the `osbag_int` table. If the user logs in, the list is saved to the user profile database.

Instead, the list should be kept in memory and only written to disk / saved to the database when the user logs in.

[2016-02-17 16:54] julie-sullivan opened #1305 "Widgets: add under-representation"
We test for enrichment but should test for under-representation too.

[2016-02-19 11:30] joshkh opened #1309 "Provide a template's popularity score in /service/templates"
This will be useful when suggesting templates to users.

The score can be included in the existing GET /service/templates endpoint. Perhaps a property called "rank" or "popularity"? "Score" might be too ambiguous.

See line 2:

[code]

[2016-02-23 11:06] yochannah commented on #1284
It's both esyn and the interaction displayer causing this problem. I'll add a blocking conditional in the JSP so that neither script initialises if there are more than 500 interactions.

[2016-02-23 11:12] julie-sullivan commented on #1285
Related to #1286

[2016-02-23 11:16] julie-sullivan commented on #1282
Closing this. We aren't going to do temporary lists, just going to pass around the identifiers.

[2016-02-23 11:16] #1282 closed

[2016-02-23 11:17] julie-sullivan commented on #1274
@yochannah to get this fix in the next release, we'll update our CDN too?

[2016-02-23 11:18] #1259 closed

[2016-02-23 11:19] julie-sullivan commented on #1250
Switched to using NCBI IDs. See #1303

[2016-02-23 11:19] #1250 closed

[2016-02-23 11:19] #1249 closed

[2016-02-23 11:20] #1191 closed

[2016-02-23 11:20] #1200 closed

[2016-02-23 11:21] #1202 closed

[2016-02-23 11:21] julie-sullivan commented on #788
We've decided to leave as is. For now. Maybe biogrid will update their data file.

[2016-02-23 11:21] #788 closed

[2016-02-23 11:22] julie-sullivan commented on #1015
@motenko Assuming this is working correctly now? Re-open if not.

[2016-02-23 11:22] #1015 closed

[2016-02-23 11:22] yochannah commented on #1274
@julie-sullivan I've only been able to test in highly contrived example scenarios, not real-word ones. But yeah, once @kkarra confirms the update does what I hope, I'll deploy to the CDN and make a pull request to the intermine repo to update global.web.properties.

[2016-02-23 11:27] julie-sullivan commented on #1239
More information when making a ticket pls.

[2016-02-23 11:27] #1239 closed

[2016-02-23 11:27] rachellyne opened #1312 "Interactions widget not displaying correctly in live humanMine"
It's lost the "matches" column.

[2016-02-23 11:27] julie-sullivan commented on #1233
@rachellyne how would you expect that to look?

[2016-02-23 11:29] #1251 closed

[2016-02-23 11:29] #1252 closed

[2016-02-23 11:34] #1270 closed

[2016-02-23 11:35] #1267 closed

[2016-02-23 11:36] julie-sullivan commented on #426
See #1297

[2016-02-23 11:36] #426 closed

[2016-02-23 11:42] julie-sullivan commented on #1286
@rachellyne I used the same list that the guy used in his query:

[code]

I get "no matches". Which terms did you try to upload? Those aren't terms, they're just keywords -- part of term names. So maybe that's why.

[2016-02-23 12:00] julie-sullivan commented on #1285
[code]

This is using the endpoint `/query/tolist`, so it's not sending the identifiers in that column. Instead it's sending the query, re-running it and making the list from that. Debug and see what happens in QueryToListService.java.

[2016-02-23 12:18] rachellyne commented on #1286
I ran this template with a list: "Gene [D. melanogaster] -> BDGP in situ data" and made a list of the terms.  That worked fine.  I don't know how list upload works with keywords - maybe the quick search would be a better place to start and filter on mRNA expression term?

[2016-02-23 12:34] joshkh opened #1313 "Add filtering to enrichment tool."
@rachellyne

[2016-02-23 14:29] sergiocontrino commented on #1297
appears to have never worked (also modmine got the bug).

[2016-02-23 16:45] #1284 closed

[2016-02-26 09:12] #1293 closed

[2016-02-26 13:58] rachellyne opened #1316 "Error when go from enrichment widget -> results -> query"
In HumanMine
1. Look at gene ontology widget
2. View results for entire widget
3. Click on "query" trail

Gives an error:

java.lang.NullPointerException
    at org.intermine.web.logic.querybuilder.ModelBrowserHelper$NodeBuilder.buildTree(ModelBrowserHelper.java:118)
    at org.intermine.web.logic.querybuilder.ModelBrowserHelper.makeNodes(ModelBrowserHelper.java:368)
    at org.intermine.web.logic

[2016-02-26 17:04] kkarra commented on #1274
It works fine now. Able to export a publication widget even null PMIDs are in the table.

[2016-03-02 03:05] chenyian-nibio commented on #1090
I think I got the same problem reported by the user.
I GUESS the problem is due to the outer join. Seems that when saving the list, the query for getting internal ids depends on the original query. If the original query contains outer join, the system will uses outer join to retrieve the internal ids for saving as a list. However, InterMine won't distinct the results for outer join queries. If the

[2016-03-03 10:10] sergiocontrino commented on #1091
this seem fixed now, the pop up is fully accessible.

[2016-03-03 10:10] #1091 closed

[2016-03-03 12:10] yochannah opened #1318 "Inconsistent session expiration"
Original error report:

[2016-03-03 12:11] yochannah commented on #1318
When this happens, it's from a list page that was open from yesterday. I could access the old session from the original window, but not any new windows. Closing the original window and starting a brand new session made it all work fine.

[2016-03-03 12:12] yochannah commented on #1318
Tell @julie-sullivan @rachellyne

[2016-03-03 12:14] julie-sullivan commented on #1318
This is likely a tomcat issue.

[2016-03-03 12:34] julie-sullivan commented on #986
@justinccdev fixed this. The tests are passing consistently now.

[2016-03-03 12:34] #986 closed

[2016-03-04 10:36] julie-sullivan opened #1319 "Tomcat: rotate logs properly"
https://confluence.atlassian.com/confkb/catalina-logs-are-not-rotated-or-removed-289276264.html

[2016-03-04 14:09] julie-sullivan commented on #1318
Tomcat has the site is www.humanmine.org but sees that you are coming from humanmine.org and thinks you are coming from a different site and Freaks Out.

Paul updated the proxy to forward humanmine.org to be www.humanmine.org. Now everything is working as expected.

Thanks to @yochannah for figuring that out!!

[2016-03-04 14:09] #1318 closed

[2016-03-07 15:48] #1297 closed

[2016-03-07 15:49] #1301 closed

[2016-03-07 16:05] sergiocontrino commented on #996
page seems fine, closing for now.

[2016-03-07 16:05] #996 closed

[2016-03-08 11:47] sergiocontrino commented on #1093
this is fixed, it appears.

[2016-03-08 11:47] #1093 closed

[2016-03-08 13:01] sergiocontrino commented on #616
@AraPort suggests also possibly a 'cancel query' button.

[2016-03-09 16:52] rachellyne opened #1322 "HumanMine keyword search is returning atomic coordinates of protein structures"
e.g. search for KRAS.

[2016-03-10 04:12] sammyjava commented on #869
I'm not so sure this should be closed. I'm running Postgresql 9.4.6 (Fedora 23 distro) and the InterMine dev version from March 7 (21fea0dae3fc3f98fcebb54eb409347c1e414947). And, I still get an error message in the Postgres log:

[code]
Now, I did not run create-location-range-index in post-process, but I also didn't run create-bioseg-location-index. I did run create-overlap-view, which is suppose

[2016-03-10 04:41] sammyjava commented on #1109
Ahhh, I should have seen this before. I'm running InterMine 1.6.5 (latest dev updates as of March 7) and Postgresql 9.4.6, and I'm getting the bioseg_create error in my pg_log:
[code]
No harm seems to result, but it's something that a picky DBA may care about. :)

[2016-03-10 14:55] #1322 closed

[2016-03-10 16:51] julie-sullivan opened #1324 "Bio tests error"
[code]

[2016-03-11 11:41] julie-sullivan opened #1325 "GFF parser - gff config should be source-specific"
Tell @JoelRichardson

The GFF parser has a [config file](https://github.com/intermine/intermine/blob/dev/bio/core/main/resources/gff_config.properties). However this makes the settings global. We should be able to add config files to the specific GFF sources that would override the main config settings.

[2016-03-14 16:05] julie-sullivan commented on #1305
From @rachellyne

[code]

[2016-03-15 11:06] julie-sullivan commented on #500
This did not work in the workshop. Maybe this code has been optimised?

[2016-03-15 15:24] joshkh opened #1327 "Query web services should accept JSON queries."
The web service endpoint `/service/query/results` only accepts PathQuery XML query definitions. This requires end users to either generate XML (uhg) or to use one of our existing libraries.

Accepting a query formatted as JSON would make working with the raw web services much more friendly.

[2016-03-16 18:33] JoelRichardson opened #1328 "Cannot change LOOKUP filter in results table"
To reproduce, run some query that has a LOOKUP parameter.
I used http://www.flymine.org/flymine/template.do?name=Gene_Location&scope=global

From the results table, go to Manage Filters and try to change the LOOKUP to a different value.
Whatever you enter is ignored and the original query is rerun.

[2016-03-17 22:35] sammyjava opened #1329 "org.intermine.task.BuildDbTask throws PSQLException: ERROR: relation "objectstore_unique_integer" already exists"
It seems like all but the first integrate task throws this exception:
[code]
I know it's a bit of a pain to test whether a sequence exists before trying to create it, but this is hugely annoying because I grep ERROR in my intermine.log as I debug my data sources, and I have to skip over this one all the time. Here's [an example solution on StackOverflow](http://stackoverflow.com/questions/13752885

[2016-03-29 08:49] julie-sullivan opened #1330 "imjs: add link to generate JavaScript code on template form"
The other clients are there but not JavaScript.

[2016-03-30 12:44] julie-sullivan opened #1331 "Web service: accept JSON queries too"
Currently the ```/query/results``` endpoint only accepts XML. It should accept JSON too.

Specifically, the R package allows users to edit the InterMine queries they run. This is impossible in XML. (You'd have to traverse nodes etc.) Editing the JSON queries is nice and simple. But then we can't then RUN that JSON query, we have to convert back to XML. That is not ideal.

[2016-03-31 15:51] deepakunni3 commented on #1283
I wasn't sure if this bug has been fixed and is being prepared for InterMine 1.6.6 but I thought I would chime in with a few things that I found.

`int4range()` has a constructor function, in PostgreSQL, that takes 3 arguments: upper-bound, lower-bound and text argument indicating inclusivity/exclusivity of bounds.
i.e. instead of `int4range(149187990, 149187990)`, it should be `int4range(14918799

[2016-04-04 14:35] #1245 closed

[2016-04-04 14:36] julie-sullivan commented on #1276
Add citation info.

[2016-04-04 15:38] julie-sullivan commented on #1331
See #1327

[2016-04-04 15:38] #1331 closed

[2016-04-05 09:09] julie-sullivan opened #1333 "Graph widgets: use filters"
Tell @sammyjava

The graph widget has a "filters" parameter. Is this used? Specifically, we'd like to be able to filter out scaffolds.

[2016-04-06 10:30] julie-sullivan opened #1334 "InterMine data map"
Goal 1: An overview of data available in an InterMine.
Goal 2: An overview of data available in a set of InterMines.
Goal 3: An overview of data available in a set of InterMines for a gene.

![tmp](https://cloud.githubusercontent.com/assets/1663057/14313670/c7fd9978-fbea-11e5-9215-d906b36014b6.png)

A bubble chart representing the data types in each Mine.
- Link from the registry?
- how to deal wi

[2016-04-07 08:18] julie-sullivan commented on #1333
Hi, devs. I've got a lot of scaffolds in a mine, which I've loaded as Chromosomes so they take advantage of all the nice chromosome features in the webapp (report heading, JBrowse, etc.). However, one thing that's very annoying is that if I look at a list of genes that are located on chromosomes, the chromosome_distribution_for_gene graphdisplayer shows all the chromosomes plus scaffolds on the do

[2016-04-07 09:24] julie-sullivan commented on #1225
![err-msg](https://cloud.githubusercontent.com/assets/1663057/14346618/e9e46bc8-fcaa-11e5-8f2e-d9f07617337a.png)

Much better!

[2016-04-07 09:24] #1225 closed

[2016-04-07 09:29] julie-sullivan commented on #1260
Fixed by #1261

[2016-04-07 12:40] #1260 closed

[2016-04-07 13:42] julie-sullivan opened #1338 "PSI-XML -> SBGN"
Tell @tschaka1904

[code]

[2016-04-07 14:17] bmeldal commented on #1338
Hi Julie,

I don't think I'm the best person to help you here :( but as you already emailed MIDAS wait for a reply there :)

Birgit

[2016-04-07 14:19] julie-sullivan commented on #1338
oops sorry! I will delete you and replace with Max!

If you delete your comment you won't get emails from this ticket. (i think!)

[2016-04-07 14:20] bmeldal commented on #1338
I'll unsubscribe :)

[2016-04-07 14:39] julie-sullivan opened #1339 "Templates - JSON export not including disabled constraints"
This template has 3 constraints but two are off by default. The constraints are present in the constraint logic. However the JSON only shows the active constraint.

[code]

[2016-04-08 11:03] julie-sullivan opened #1340 "GO - parse OWL file too"
We parse the OBO file but should parse OWL too.

[2016-04-11 08:05] julie-sullivan opened #1341 "QueryBuilder - error when removing constraint"
[code]

[2016-04-11 08:06] julie-sullivan commented on #1341
[code]

[2016-04-11 08:14] julie-sullivan commented on #1341
Query might have been generated by python client.

[code]

[2016-04-11 09:21] julie-sullivan opened #1342 "InterMine template tool"
1. build a template query
2. using the registry, try query in each mine
3. display counts from each mine
4. embed results

Do not collate the results, just enable users to see what's available.

[2016-04-11 10:33] julie-sullivan commented on #1338
Can use this library to convert:
http://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-016-1000-2

[2016-04-11 14:38] #1258 closed

[2016-04-11 14:41] julie-sullivan commented on #500
This DID work as expected in the workshop. If you generate the code with windows, it will use windows specific line endings.

That is correct behaviour.

[2016-04-11 14:41] #500 closed

[2016-04-12 10:13] julie-sullivan commented on #1277
@kkarra

* InteractionDetail.location has been changed to InteractionDetail.locations. See HumanMine for an example. We had regions with more than one location. You might have to change some templates.
* Yes, the model for InteractionDetail should be the same across interaction data sources.

[2016-04-12 10:24] #1189 closed

[2016-04-12 10:25] julie-sullivan commented on #1168
We also need to add the types to the web service. I want to prevent having to do this:

https://github.com/intermine/intermine/commit/b068d4da76d457b7b13b0ec3cc90a6473f09f648

Use ontology lookup service? it's soapy though. :(

[2016-04-12 15:18] julie-sullivan opened #1343 "Java 8 - Duplicate default methods"
`Duplicate default methods named spliterator with the parameters () and () are inherited from the types List<Object> and Set<Object>`

In Results.java (and therefore SingletonResults.java too)

[2016-04-13 09:00] julie-sullivan opened #1344 "InterMine - update wiki"
http://gmod.org/wiki/InterMine

https://en.wikipedia.org/wiki/InterMine

We could likely add some other intermine wiki pages. But to update what is there is enough. Should add pubmed papers too.

[2016-04-13 09:17] julie-sullivan opened #1345 "esyN - add option to show all interactions for all list members"
On the list analysis page, the esyN network displayer shows all interactions between list members. There is a parameter you can send esyN to show all interactions for all list members. Even if the interaction is with a gene not in the list.

We have this off by default because it takes too long to render. But maybe leave that up to the user?

Add a toggle in the UI to let the user decide which vie

[2016-04-13 09:20] julie-sullivan commented on #1345
Fail gracefully. Might be too many!

[2016-04-13 13:06] julie-sullivan commented on #1169
Also I think the limit of 1,000 is arbitrary. Can we remove? And let people page through maybe?

[2016-04-14 09:27] julie-sullivan opened #1347 "Throw an exception when source tries to load duplicate data."
From @sammyjava

I've finally resolved some extreme confusion about enforcement of unique keys defined in DATASOURCE_keys.properties. What I've found is that the production database can be loaded with two records that violate those key definitions without throwing an error; however, if you then run _another_ datasource that attempts to merge with those records, you get an error thrown as follows:

[2016-04-14 19:45] vivekkrish opened #1349 "../"

[2016-04-14 19:45] vivekkrish commented on #1349
Oops, sorry about that! Didnt mean to create an issue (mistyped on my keyboard while on the wrong window).

[2016-04-14 19:45] #1349 closed

[2016-04-15 10:16] julie-sullivan commented on #1168
Just hardcode them from here:

https://github.com/MICommunity/interaction-viewer/blob/master/src/controller/Controller.js#L493-#L505

[2016-04-18 15:00] sergiocontrino commented on #1283
dear @deepakunni3, thank you for the fix. i'll do some more testing and add it to the release.

[2016-04-19 15:25] deepakunni3 commented on #1283
@sergiocontrino Great! Thanks :)

[2016-04-19 17:56] sergiocontrino opened #1351 "postprocess for datasource with multiple entries in the project file"
request from @sammyjava:

[code]

Check the present setting.  Probably just have mechanism that impose it to be run only once.

[2016-04-20 10:41] julie-sullivan opened #1353 "Priorities config - throw nice exception if formatted incorrectly."
it throws a weird error instead.
[code]

[2016-04-20 10:42] julie-sullivan commented on #1353
There was a tab behind the previous file, so it was parsing `celegans-gff3-gene,` as a data type.

[2016-04-20 10:49] #1283 closed

[2016-04-20 10:49] #1276 closed

[2016-04-20 10:49] #1274 closed

[2016-04-20 10:50] julie-sullivan commented on #1343
If the fix for this is not backwards compatible, let's save it for InterMine 2.0.

[2016-04-20 12:08] #1277 closed

[2016-04-21 11:28] julie-sullivan opened #1355 "Query results - JSON Objects format not working?"
Trying to run this query using JSONObjects results in an error:

[code]

In tomcat logs

[code]

[2016-04-23 00:11] sammyjava commented on #1351
I think the easiest way to implement this is to run a post-processor once per data source _type_ rather than once per data source. The post-processor is listed in the project.properties file for the _type_, so that's the relevant level.

[2016-04-26 10:38] julie-sullivan opened #1358 "Protein molecular weight - change to be a float instead of integer"
Protein.molecularWeight is set to be an integer in the core intermine model:

https://github.com/intermine/intermine/blob/dev/bio/core/core.xml#L131

From @rachellyne

[code]

[2016-04-26 13:35] julie-sullivan commented on #1312
Working as expected now.

[2016-04-26 13:35] #1312 closed

[2016-04-26 14:02] #1154 closed

[2016-04-26 14:05] julie-sullivan commented on #1083
The summary popups now close correctly.

[2016-04-26 14:05] #1083 closed

[2016-04-26 14:21] julie-sullivan commented on #595
http://intermine.readthedocs.org/en/1.5.0/webapp/lists/list-upgrade/

[2016-04-26 14:21] #595 closed

[2016-04-27 09:54] julie-sullivan opened #1359 "Query results - add JSON query export"
We can export the query in XML but not JSON.

[2016-04-27 14:57] julie-sullivan commented on #640
This is done in the IQL, just need to map it to the path query.

[2016-04-27 15:38] julie-sullivan commented on #1085
Somewhere between MainHelper.java and SqlGenerator.java, we'll have to update the != constraint to be a subquery.

Unless there is a better way.

[2016-05-12 09:42] rachellyne opened #1361 "Update Panther homologue labels"
static {
        TYPES.put("LDO", "least diverged orthologue");
        TYPES.put("O", "orthologue");
        TYPES.put("P", "paralogue");
        TYPES.put("X", "homologue");
        TYPES.put("LDX", "least diverged homologue");
    }

Change X and LDX to be:

X = horizontal gene transfer.
LDX = least diverged horizontal gene transfer.

[2016-05-12 10:03] #1361 closed

[2016-05-13 07:43] julie-sullivan commented on #1343
@sammyjava Reports this issue

[code]

[2016-05-16 09:09] julie-sullivan opened #1364 "Web service: for enrichment, gene length correction requires list"
https://github.com/intermine/intermine/blob/dev/flymine/webapp/resources/webapp/WEB-INF/webconfig-model.xml#L908

The web service fails for enrichment widgets when they correct for gene length. `org.intermine.bio.web.widget.GeneLengthCorrectionCoefficient` expects `bag` in constructor which we don't have.

[2016-05-16 10:42] #1182 closed

[2016-05-16 14:08] danielabutano commented on #1343
Current code:
1) the interface LazyCollection<E> extends Lazy and Set
2) LazyCollection is implemented only by 2 classes: Results and ProxyCollection
3) Results extends AbstractList and ProxyCollection extends AbstractSet
4) SingletonResults extends Results (that extends AbstractList) but implements Set<Object>

Proposal changes:
1) update the LazyCollection to extend Collection instead of Set
2)

[2016-05-16 15:21] cmpich commented on #316
With our zfinmine last checkin into github you should have access to the code changes to support the default context.

[2016-05-16 15:23] julie-sullivan commented on #316
Thanks @cmpich!! Do you have the commit hash? Because I don't see it https://github.com/ZFIN/intermine/commits/dev

[2016-05-17 11:51] yochannah opened #1366 "Gene expression bar charts missing labels"
![image](https://cloud.githubusercontent.com/assets/9271438/15321372/ebe1047a-1c2d-11e6-9248-4e429b34a16e.png)
Note in the attached image, the number of bars doesn't equal the number of images. This may be due to the fact that this is google charts - google may have changed the chart behaviour. Remove this dependency if possible.

[2016-05-17 11:52] yochannah commented on #1366
the labels are misaligned, too, although the chart is floating so far away from the labels it's hard to tell

[2016-05-17 13:08] rachellyne opened #1367 "HumanMine: report page data summary bar: alleles"
This should link to a summary table/template about the actual allele rather than the phenotypes of the allele as not all alleles have recorded phenotypes.  The phenotype viewer should appear below the allele table.

[2016-05-17 13:51] julie-sullivan commented on #1367
Update this line to point to alleles collection instead of displayer:

https://github.com/intermine/intermine/blob/dev/bio/webapp/src/org/intermine/bio/web/displayer/MetabolicGeneSummaryDisplayer.java#L68

[2016-05-17 19:25] JoelRichardson opened #1368 "Some LOOKUP strings cause a service error"
A user was querying MouseMine for deletions on chromosome 8 using a LOOKUP constraint on SequenceFeature. She entered "Del(8_", because all chr 8 deletions begin with this string.
The result is a "server error" message. By escaping the parenthesis "Del(8_", the search works. (Better yet, restructure the query not to depend on nomenclature - but that's another story.)

[2016-05-18 17:14] JoelRichardson opened #1369 "Deleting templates doesn't really delete them"
Thought I was going crazy.

If you delete a template via the MyMine UI, it's gone from the UI, but doesn't actually get deleted from the db. Next time you restart the webapp, the deleted templates reappear!

[2016-05-19 10:26] terrymun opened #1370 "Issues with https"
Thanks for the amazing project. I have managed to deploy the malariamine web app with the help of the step-by-step guide, with one issue: the CDN still insists on being loaded via HTTP, which breaks the SSL encryption and causing all CDN resources to be blocked from loading:

![screen shot 2016-05-19 at 12 26 56](https://cloud.githubusercontent.com/assets/5593067/15390634/1a0a4556-1dbd-11e6-9a7a-6

[2016-05-19 10:30] julie-sullivan commented on #1370
@terrymun Hi Terry! Yes, HTTPS is still broken, but should be fixed in the next release. You should be able to pull in this fix however:

https://github.com/intermine/intermine/pull/1360

And have everything work for you. I believe the web service clients are still to be tested, I don't know if that's an issue for you.

@sergiocontrino Can you comment on @terrymun's comment on the home page?

[2016-05-19 10:42] sergiocontrino commented on #1370
hi @terrymun, when simply commentig out the <html:base/> bit we had an issue with the templates (on the front page) loosing part of the path. please have a look at #1370 for a fix.
i notice now that probably we should pass the protocol type via a property. let us know how your testing goes! thanks

[2016-05-19 10:43] terrymun commented on #1370
Thanks @julie-sullivan and @sergiocontrino, thanks for the quick reply. I have pulled the fix, and redeployed the webapp but it seems like the changes aren't being made. Do I have to rebuild Intermine and redeploy the web app again? Sorry if the questions are really pedestrian, it's not exactly what I'm good at.

[2016-05-19 10:46] sergiocontrino commented on #1370
hi @terrymun , please rebuild e deploy the webapp (ant default remove-webapp release-webapp in the mine/webapp directory). thanks.

[2016-05-19 11:08] terrymun commented on #1370
Hi @sergiocontrino, seems like modifying the original layout.jsp (`intermine/webapp/main/resources/webapp/layout.jsp`) didn't work for me, so I hand-edited the generated layout.jsp instead, and it worked :) thanks for the help!

I do not encounter any further warnings or error 👍 thanks guys!

[2016-05-19 11:08] #1370 closed

[2016-05-31 15:14] julie-sullivan commented on #517
Tell @cmdcolin

[2016-05-31 15:31] justinccdev commented on #517
To record a bit more of previous discussion/research.

* The current InterMine implementation uses a third-party plugin called Bobo to handle faceting.  Unfortunately, this is long dead, probably because Lucene introduced its own facets implementation.  This implementation is not well documented and is considerably different from the Bobo API (not least because Lucene considerably changed its API

[2016-06-01 09:53] justinccdev commented on #517
Link to Google groups discussion https://groups.google.com/forum/#!category-topic/intermine/8mB6S8fBhOI

[2016-06-01 11:15] julie-sullivan opened #1372 "Human data: add ClinVar data parser"
Add a data converter for ClinVar data.

ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz

[2016-06-02 14:22] julie-sullivan commented on #1372
@rachellyne I've forgotten what I was supposed to do with duplicates.

[code]
I'm ignoring them for now.

[2016-06-02 14:31] julie-sullivan commented on #1372
The reason this source took so long is that it has these entries:

[code]
The OMIM value `MedGen:C2749659,OMIM:^@ ` is what postgres thinks is binary, so it errored out with a weirdo message. I've updated the converter to fix and notified the clinvarians.

[2016-06-02 15:48] julie-sullivan opened #1374 "Data download script: don't download if version is the same."
Currently the download script will download everything then compare, removing if a duplicate. The InterPro files are too big to use this method.

[code]

We can get the version (see the biogrid script). We just need to get the version first and only download if it's new.

@rachellyne until this ticket is complete, we'll have to run the InterProProtein source manually.

[2016-06-06 14:05] yochannah commented on #1344
Also, need to do:

- http://www.openhelix.com/search.cgi
- Biosharing
- http://www.programmableweb.com/api/intermine

Wikipedia proper is done.

[2016-06-07 07:27] julie-sullivan opened #1375 "Mail: add replyto param"
Tell @rachellyne

[code]

Need to update to new mail server.

[2016-06-07 10:25] julie-sullivan commented on #1375
Reply to is "intermine.org", could add "replyto" param to set the reply address to be humanmine / flymine specific.

[2016-06-07 10:30] julie-sullivan commented on #1375
https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/util/MailUtils.java

[2016-06-07 12:19] julie-sullivan opened #1376 "HTTPS - still not working as expected"
From @sammyjava regarding 0041c93406231f9c524760b964e90a8edeb678c3
[code]

[2016-06-08 07:32] julie-sullivan commented on #1375
[code]

[2016-06-09 07:11] julie-sullivan opened #1378 "OMIM script fails"
I am pretty sure it works, just does not exit gracefully.

[code]

Also, took a brazillon hours to run, guessing could be quicker. Tell @rachellyne

[2016-06-09 07:57] julie-sullivan commented on #1378
No, the script failed after all.

The older file is 2.9 mb and our file is now at 900 k. So something went wrong.

[2016-06-09 08:04] julie-sullivan commented on #1378
Failed on ID `616527`

[2016-06-09 08:21] julie-sullivan commented on #1376
I've reverted the code temporarily.

[2016-06-09 09:24] julie-sullivan commented on #1378
I will use mimTitles.txt now instead.

How do I parse?

`Mim Number` - Disease identifier
`Preferred Title` - Disease name

Do I do anything with the rest? Synonyms?

[code]

[2016-06-09 09:31] rachellyne commented on #1378
We have disease synonyms too.

[2016-06-09 09:33] julie-sullivan commented on #1378
So I should make all the rest of the entries synonyms? "symbol Alternative Title(s); symbol(s) Included Title(s); symbols"

[2016-06-09 09:37] rachellyne commented on #1378
Just the alternative titles.

[2016-06-09 09:37] julie-sullivan commented on #1378
ok, just the first one, got it. thanks!

[2016-06-09 13:04] julie-sullivan commented on #1378
Rewriting the whole thing to use the API instead.

[] write download script
[] update parser to use API

How do I save the API key?

[2016-06-10 09:12] julie-sullivan commented on #1378
Nope, the `mim2gene.txt` file does not have all the data for some reason. e.g. this is the entry for ```DIABETES MELLITUS, INSULIN-DEPENDENT; IDDM``` which has five associated genes in current humanmine. @rachellyne Is that right? In this file it has none:

[code]

Just glancing at the data file, it looks like there is only one gene per disease.

[2016-06-10 10:20] rachellyne commented on #1378
That doesn't make sense - I'm looking at it now.

[2016-06-10 10:28] rachellyne commented on #1378
I think it might be that OMIM has changed, but let me check some over examples as well.

[2016-06-10 12:08] julie-sullivan commented on #1378
1. use genemap.txt to get the gene to disease mapping information
2. use the API to get the disease names and pubs

[2016-06-10 13:00] julie-sullivan commented on #1378
I just ended up doing what we did before. Because it was easier. Using the API doesn't seem like an option as it doesn't have the data we need. Or rather it's buried in the paragraphs.

[2016-06-10 15:07] julie-sullivan opened #1381 "InterPro - added a new database"
From @JoelRichardson and @sneuhaus

[code]

[2016-06-15 14:17] julie-sullivan opened #1382 "Templates page - my mine - add summarise all link"
From @JoeCarlson

[2016-06-16 08:19] julie-sullivan commented on #1378
Without resolver

[code]

With resolver

[code]

[2016-06-20 16:25] cmdcolin commented on #517
I started doing a bit of work for converting the lucene->solr. I chose solr since it's simialr to elasticsearch but it is more like lucene in it's libraries. I chose solrJ version 5 since solrJ 6 removes jre7 support. As far as development, I was removing a lot of the lucene code and also the faceting code, but with an interest in re-enabling faceted searching after the basic idea could be demonst

[2016-06-20 16:28] cmdcolin commented on #517
Here's an example of a query to the solr interface after running a postprocess on malariamine `curl "http://localhost:8983/solr/new_core2/query?q=*:*&rows=3"`

[code]

[2016-06-20 16:30] cmdcolin commented on #517
Better view of comparing branches https://github.com/intermine/intermine/compare/dev...cmdcolin:lucene_to_solr?expand=1

[2016-06-21 11:23] justinccdev commented on #517
Nice work, Colin.

* To summarize from my reading of the source code, this branch changes InterMine to interact with a Solr service instead of performing any document processing or storing any search data itself, correct?

* This will mean that an InterMine database will no longer be portable as a single database dump - it now needs to be accompanied by a Solr dump (if there is such a thing) or co

[2016-06-21 15:08] cmdcolin commented on #517
1) Yes. The idea of an "embedded solr store" exists, however this is apparently not recommended on a fair number of sources including their own docs for a variety of reasons. Some google searches https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=solr%20embedded%20not%20recommend
2) Yep. Not sure what requirements there might be for this, but I imagine getting database du

[2016-06-22 09:47] julie-sullivan opened #1383 "Bootstrap fails"
[code]

[2016-06-22 15:44] cmdcolin commented on #517
I got my branch finally display some search results on malariamine :) https://github.com/intermine/intermine/compare/dev...cmdcolin:lucene_to_solr?expand=1

![screenshot-localhost 8080 2016-06-22 10-43-45](https://cloud.githubusercontent.com/assets/6511937/16273194/4d3e0b38-3866-11e6-92e4-0f5ae22ea7f3.png)

[2016-06-23 10:14] julie-sullivan opened #1384 "NCBI moving to HTTPS"
Update download script. And pubmed?

[code]

[2016-06-23 11:59] julie-sullivan opened #1385 "HPO - too many diseases"
HPO is generating OMIM annotations that are not in OMIM.

The data is in the data file for HPO though.

[code]

[2016-06-23 12:14] julie-sullivan commented on #1385
@rachellyne Orphanet has a data file where we can get the names: http://www.orphadata.org/cgi-bin/inc/product1.inc.php

[2016-06-23 12:26] rachellyne commented on #1385
I know.  Do you want to add it this build?

[2016-06-23 12:29] julie-sullivan commented on #1385
If you think the names are important I can! Diseases are high visibility.

[2016-06-23 12:32] rachellyne commented on #1385
They are.  The names have been missing a long time!

[2016-06-23 12:36] julie-sullivan commented on #1385
Okay, will do for Monday.

[2016-06-23 13:41] julie-sullivan opened #1386 "Disease - add data set"
Disease has a "source" field but it's empty.

If we are going to load disease from multiple sources (OMIM and HPO) we should indicate the source.

@rachellyne Is that a good idea? Or is everything from OMIM anyway

[2016-06-23 13:47] rachellyne commented on #1386
For disease we have OMIM and orphanet.  HPO is phenotypes, but should also have a source.
At the moment the orphanet only comes in through the HPO, so we don't load the full data source.

[2016-06-23 15:03] julie-sullivan opened #1387 "Disease - add Orphanet source"
Add orphanet to get the names of diseases.

[2016-06-24 08:31] julie-sullivan opened #1388 "Docker: tomcat uses a different port"
This line gets the port from the request:

[AbstractQueryService.java](https://github.com/intermine/intermine/blob/master/intermine/web/main/src/org/intermine/webservice/server/query/AbstractQueryService.java#L60)

This works fine obviously, except in docker where the tomcat in the docker is using a different port. So in docker the region and keyword searches work fine but queries do not. Also web

[2016-06-24 18:55] zorino commented on #1388
@julie-sullivan I believe it would be better to let the user configure the port for tomcat instead of hard-coding it. Otherwise it prevents the deployment of InterMine on a system that already uses that port.

[2016-06-28 10:05] #1372 closed

[2016-06-28 15:48] cmdcolin commented on #1177
I'd be happy to look at this if there is still interest. I was testing out adding the config like in 4318f0e and I saw the jbrowse frame could load, but not the features necessarily.

[2016-06-28 15:53] justinccdev commented on #1177
Actually, after this I discovered that one of my Firefox plugins (NoScript) was stopping jbrowse displaying, though Julie has also had trouble with Chrome (which is fine for me).

I do have fixes for jbrowse integration for InterMine in branch [1].  This is not yet merged with intermine/dev. What would be really handy for InterMine is if there was some way of loading jbrowse.conf from InterMine in

[2016-06-28 15:55] julie-sullivan commented on #1177
Yes, it was blank until I turned off my adblocker. Try that @cmdcolin?

But when JBrowse did appear, the genes didn't show up as expected. There was some data if I scrolled to the left or out but there was some missing etc. It's going to take some investigation to find out why the data is wrong.

@justinccdev You got it working for synbiomine? Is that public?

@sergiocontrino You got it working fo

[2016-06-28 15:57] justinccdev commented on #1177
@julie I have it active on the beta Synbiomine.  For instance, [1].  For me, at least for the genes I've looked at, the tracks appear as I would expect.

[1] http://beta.synbiomine.org/synbiomine/report.do?id=26026345

[2016-06-28 16:10] cmdcolin commented on #1177
I see about this on the test mine as well.

I am pretty familiar with this type of thing in jbrowse though, it is just data formatting issues I believe which the backend should be able to control.

![virtualbox_lubuntu_28_06_2016_11_07_21](https://cloud.githubusercontent.com/assets/6511937/16423154/83788142-3d20-11e6-9c9b-5db9e24c2a6a.png)

For example the above formatting issues are pretty typica

[2016-06-28 19:04] cmdcolin commented on #1383
I think this should simply say ./config/download_and_configure_tomcat.sh (or "bash config/download_and_configure_tomcat.sh"). The "Bad substitution" is common if you just us "sh"

[2016-06-29 21:26] cmdcolin commented on #517
Added a couple updates to fix indexing of features. Not sure if there should be an existing config file that says which fields get indexed though?

[2016-06-30 08:54] julie-sullivan opened #1393 "Webconfig - don't allow collections. Either fail validation or update to allow"
You can't put collections in the field config.
1. QueryBuilder summary - works fine
2. Inline collections - ? fails
3. Report page - fails with the error below.

[code]

Maybe just discard the collections (for now) so that we don't get an error.  Or is that confusing?

[2016-06-30 08:55] julie-sullivan commented on #1393
Tell @kkarra

[2016-06-30 08:57] julie-sullivan commented on #1393
1. ignore error, just drop collections silently
2. fix so collections are allowed
3. forbid collections, e.g. fail validation so collections are forbidden.

[2016-06-30 12:21] julie-sullivan commented on #1386
Need data set on GWAS too. People need to be able to find the original data easily.

[2016-06-30 12:35] rachellyne commented on #1386
Yes, everything should have a dataset.  I don't know why these were not added originally.

[2016-06-30 16:47] joshkh opened #1394 "DWR javascript alerts errors to the window"
dwr.js has a catch-all error handler that alerts messages to the window. For instance, if ratmine goes down then flymine will alert an error to the browser stating that a query is failing.

dwr.js appears to be generated by dwr.jar at build time so we don't have the option of patching the javascript file.
1. Immediate fix: comment out the alert in dwr.js but this will have to be done after every r

[2016-07-04 11:53] justinccdev commented on #517
Documentation on this is at [1].  InterMine currently indexes all text fields by default and has a $MINE/dbmodel/resources/keyword_search.properties that allows you to skip some and do other search config.

[1] http://intermine.readthedocs.io/en/latest/webapp/keyword-search/

[2016-07-14 15:30] sergiocontrino commented on #1388
tested on the lastest arabidopsis branch (cherry-picking the changes listed above).
deployed public webapp and all seems to work fine.

[2016-07-14 15:30] #1388 closed

[2016-07-21 13:29] justinccdev commented on #640
Can you give me examples of such queries?

[2016-07-21 14:27] vivekkrish commented on #1381
Hi @julie-sullivan ,

Just had a quick comment about this issue.

It seems in your commit referenced above, it is looking for a `dbId` string which starts with **CD**(uppercase), but in the InterPro XML file, the string starts with **cd**(lowercase).

Recently, we encountered this problem on our end and corrected it in this [commit](https://github.com/jcvi-plant-genomics/intermine/commit/5dbe9a109

[2016-07-21 15:01] justinccdev commented on #1085
@yochannah came up with the following examples (run against [1]) to illustrate this.  Firstly, a query to simply select the genes and show datasets.

[code]

Secondly, a query that incorporates a != constraint on datasets with the name "Go Annotation from Uniprot" (hereafter GOAFU).

[code]

Current behaviour on executing this query is that InterMine returns a list of datasets for the gene that do

[2016-07-26 09:05] yochannah opened #1395 "Remove prototype library if not required."
Prototype.js is included by default on InterMine pages, except where it's explicitly excluded: https://github.com/intermine/intermine/blob/d48d60f446753de8b591611787d0ed0d156606c1/intermine/webapp/main/resources/webapp/htmlHead.jsp#L52

It's an older library in js-years (the version we include is from 2008) and maybe at the time it wasn't aware that polluting the global scope can cause undesired a

[2016-07-26 09:51] ScarabMonkey opened #1396 "template.do XSS vulnerability"
We have been advised of a cross-site scripting vulnerability in template.do - seems to affect all the installations I have tried so far.
For example:
`http://mitominer.mrc-mbu.cam.ac.uk/release-3.1/template.do?name="><svg /onload=prompt(/XSSPOSED/)>`

We were alerted due to this page:
https://www.openbugbounty.org/incidents/135287/

[2016-07-27 14:23] julie-sullivan opened #1398 "Travis tests failing"
I changed the port that queries use, and then everything started failing:

edf5f70efe963119bf4e945ad8601b8af973521a
88bfc8e60a4daad299fa4000912300d1d400f7eb
83320f173f87a0daf7e0f9a68e779f2d66d44701

A sample travis error looks like this:

[code]

It's accessing http://localhost/intermine-demo without the port, which will fail. We need to update travis to use the correct port.

The webapp and pytho

[2016-07-27 15:21] joshkh commented on #593
Truthing window.intermine.options is no longer a valid test for setting the CDN option on IM-Tables.

[2016-07-28 09:53] ScarabMonkey commented on #1396
Excellent, that fix seems to work. And as that file hadn't been changed since 2011 - your patch should work against almost any installation of Intermine - Many thanks.

[2016-07-28 11:37] joshkh commented on #593
@julie-sullivan Can you please test this?

Test case:
1. Change your head.cdn.location in web.properties to http://www.mousemine.org/cdn  (no trailing slash)
2. Redeploy webapp
3. Run any query
4. Generate JavaScript code
5. Tick the "As HTML Page" box
6. Confirm that the <script> tags in the output have mousemine's CDN as their source

[2016-08-01 15:13] vivekkrish opened #1401 "[Feature Request] Ability to toggle Test Correction setting for Enrichment Widgets"
Creating a ticket to request the addition of a configurable toggle to control the default Test Correction setting for the various IM Enrichment Widgets.

@julie-sullivan suggested on the IM dev mailing list that the configuration would be added somewhere in this piece of code: https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/web/logic/widget/config/EnrichmentWid

[2016-08-03 08:26] julie-sullivan opened #1402 "Refactor Mail"
ContactAction.java should use the methods in MailUtils.jjava.

I had to update the mail settings in several different places which caused bugs and is dumb.

[2016-08-03 12:27] joshkh commented on #593
@JoelRichardson Could you try this pull request and let us know if it fixes the problem? Thanks! https://github.com/intermine/intermine/pull/1400

[2016-08-04 10:29] yochannah opened #1404 "Lists endpoint returns bad lists (Lists that need to be upgraded)"
www.flymine.org/query/service/lists returns lists that are not publicly available due to the need for an upgrade.

If you then try to get the contents of those lists, they'll return a 500 because we're waiting for the upgrade to be manually completed.

The endpoint should only return lists that are valid and not waiting for upgrades

[2016-08-09 13:55] justinccdev opened #1405 "Replace iharder and apache.commons Base64 impls with Base64 in Java 8 SDK"
Currently, InterMine uses the iharder Base64 implementation [1] in some places (e.g. [2]) and an apache.commons implementation in others (e.g. [3]).  The Java SDK from v8 onwards provides its own Base64 implementation [4].  Once Java 8 becomes our minimal version we should replace the iharder and apache.commons implementations with the Java SDK implementation to reduces code complexity and externa

[2016-08-09 14:23] julie-sullivan commented on #1405
Can you make this ticket in the JAMI repo?

Specifically https://github.com/MICommunity/psi-jami/blob/master/jami-core/src/main/java/psidev/psi/mi/jami/utils/checksum/Base64.java should be removed.

[2016-08-09 14:43] justinccdev commented on #1405
Done

[2016-08-09 14:50] julie-sullivan commented on #1405
thanks! :) lol I am trying to find bugs in their code not ours.

[2016-08-11 08:34] julie-sullivan opened #1406 "Python client times out on some queries for some mines"
This script fails:

[code]

But works on the site: http://intermine.wormbase.org/tools/wormmine/template.do?name=show_expression_of_a_given_gene Returns 2 million+ records. Maybe that's the issue?

@tharris What is the error message in the Tomcat logs? I can't reproduce this issue in FlyMine.

@justinccdev Can you coordinate with Todd to fix this issue in WormMine? The query works on the site so h

[2016-08-11 08:36] julie-sullivan commented on #1406
When I tried this query

[code]

I got this error

[code]

Which might be a timeout?

[2016-08-11 10:40] justinccdev commented on #1406
This script which mimics the template constraint does work

[code]

The 500 error text you are seeing does originate from InterMine at WebServiceConstants.SERVICE_FAILED_MSG.  The actual internal exception is logged within WebService.sendError().  So @tharris, @kkarra, we need to see the log message to make progress.

Constraining the requested number of results by specifying a size parameter on t

[2016-08-11 10:58] justinccdev commented on #1406
Direct request by url works

http://intermine.wormbase.org/tools/wormmine/service/query/results?query=%3Cquery%20name%3D%22%22%20model%3D%22genomic%22%20view%3D%22Gene.symbol%20Gene.secondaryIdentifier%20Gene.expressionPatterns.primaryIdentifier%20Gene.expressionPatterns.lifeStages.anatomyTerms.name%20Gene.expressionPatterns.lifeStages.anatomyTerms.synonym%22%20sortOrder%3D%22Gene.expressionPatter

[2016-08-11 10:59] justinccdev commented on #1406
And it turns out the same request by an equivalent Perl script works.

[code]

So against my expectation this may be something python related.  Will be investigating further.  It would still be very helpful to see the intermine log entry when the 500 server error is generated on the python call.

[2016-08-11 14:09] julie-sullivan opened #1407 "Update google analytics to not log dev actions"
exclude internal traffic
https://support.google.com/analytics/answer/1034840?hl=en

[2016-08-12 15:16] sneuhaus commented on #593
Tested and working on MouseMine. Thanks!

[2016-08-23 21:10] JoelRichardson opened #1408 "Optional constraints becoming non-optional"
Try this template:
http://www.mousemine.org/mousemine/template.do?name=Q_Allele_by_categories&scope=global
Just click "Show results". You should get over 11,000 results.

Now, from the template form, click "Edit query", and from the Query Builder click "Show results".
You now get 28 results.

What happened: the optional constraint (the 4th box down on the form) becomes non-optional when you open i

[2016-08-30 10:49] julie-sullivan commented on #1384
These are the two I know about:

https://github.com/intermine/intermine/blob/dev/bio/sources/update-publications/main/src/org/intermine/bio/dataconversion/EntrezPublicationsRetriever.java#L77

https://github.com/intermine/intermine/blob/dev/bio/sources/entrez-organism/main/src/org/intermine/bio/dataconversion/EntrezOrganismRetriever.java#L54

But may use the web services elsewhere.

1. update code

[2016-08-30 12:05] #1364 closed

[2016-08-30 12:05] #1375 closed

[2016-08-30 12:05] #1376 closed

[2016-08-30 12:05] #1378 closed

[2016-08-30 12:05] #1385 closed

[2016-08-30 12:05] #1387 closed

[2016-08-30 12:36] #1383 closed

[2016-08-30 12:53] #1398 closed

[2016-08-30 12:54] #1381 closed

[2016-08-30 13:32] julie-sullivan commented on #1404
before change
[code]

after change
[code]

[2016-08-30 13:35] julie-sullivan commented on #1404
It returns `Gene_Orth` which is my list. Which is correct. But NOT FlyMine_Alzheimers-Use-Case, which is a public list. Which is the correct behaviour.

[2016-08-30 13:49] yochannah commented on #1404
I've tested and can confirm that public lists that need to be upgraded are no longer returned by this service - an unauthenticated GET to http://beta.flymine.org/beta/service/lists returns all public lists that are not in need of upgrade at this time (e.g. not the alzheimers mentioned above).

[2016-08-30 13:49] #1404 closed

[2016-08-30 15:22] joshkh opened #1410 "Make display names for collections and references available as JSON model"
Presumably this could happen in the results of the `/service/model/json` endpoint.

Currently we provide display names for classes (see `"displayName": "Synonym"`):

[code]

Providing the plural display name for references and collections would allow us to remove asynchronous / complex behaviour in our web apps. (see last line, with reasoning below):

[code]

It's already possible to get this info

[2016-08-30 15:26] joshkh commented on #1410
See https://github.com/intermine/intermine/blob/dev/intermine/web/main/src/org/intermine/webservice/server/model/ModelService.java#L141

This is where the web service gets display names for collections when a specific path is requested, such as http://www.flymine.org/query/service/model/Gene.proteins.dataSets.name

[2016-08-31 09:05] julie-sullivan commented on #1226
See 17f7d13da5bc924b0bafd103fbb39bc7a3f696af

[2016-08-31 09:05] #1226 closed

[2016-08-31 09:10] julie-sullivan commented on #1369
Test very carefully!

Added / edited / deleted correctly:

1. templates
2. queries

- Even after webapp restart
- Even after tomcat restart

[2016-08-31 11:19] #1369 closed

[2016-08-31 13:39] julie-sullivan commented on #1368
Works for me without a wildcard. With a wildcard I get this error:

[code]

This is because wildcards are treated a bit differently. We use regex to find matches, and the bracket in the search term is being processed as part of the regular expression. [Source](https://github.com/intermine/intermine/blob/dev/intermine/api/main/src/org/intermine/api/bag/BagQueryRunner.java#L204). We need to escape a

[2016-09-01 09:02] julie-sullivan commented on #1324
All the tests are now working.

[2016-09-01 09:02] #1324 closed

[2016-09-01 09:35] julie-sullivan commented on #1328
@JoelRichardson It worked for me. Did you click on the "update" button? Can you try again.

That is poor UI!

[2016-09-01 09:40] justinccdev commented on #1329
Was fixed in 1ec6ce1 on 2016-06-15.  Won't be in a release yet.

[2016-09-01 09:40] #1329 closed

[2016-09-01 10:03] julie-sullivan commented on #1334
Would go on intermine.org I suppose?

[2016-09-01 10:05] julie-sullivan opened #1413 "InterMine data browser"
1. start with a bubble or just with genes
2. display query results.
3. facets on the left pane

[2016-09-01 11:43] julie-sullivan commented on #1268
I can get this message in FlyMine if I search for all genes.

[code]

I think it's showing that message, then getting the real total number of results, then correcting itself. So maybe just a bit of delay on the msg? To allow time to calculate.

[2016-09-01 11:47] JoelRichardson commented on #1328
@julie-sullivan Hmm..flymine's cdn seems to be down at the moment.
But I tried it on MouseMine and got the same behavior.
Try this one:
http://www.mousemine.org/mousemine/template.do?name=Gene_Protein&scope=global
From the result, "Manage Filters" -> edit the LOOKUP, change from Pparg to Pax6.
Click "update", no change.

[2016-09-01 12:09] julie-sullivan commented on #1204
@yochannah I think we can close this?

[2016-09-01 12:12] julie-sullivan commented on #1134
This should be working as expected now.

[2016-09-01 12:12] #1134 closed

[2016-09-01 12:15] yochannah commented on #1204
I"d say so. there used to be a folder full of various files for cytoscape, now there ain't

[2016-09-01 12:15] #1204 closed

[2016-09-01 12:51] julie-sullivan commented on #1328
@JoelRichardson that worked for me. Is this browser specific? I tried on the latest chrome.

[2016-09-01 12:57] julie-sullivan commented on #1005
[code]
@sergiocontrino Where would that transformation happen?

[2016-09-01 12:58] julie-sullivan commented on #1003
@rachellyne You could do this via a template, right?

[2016-09-01 12:59] julie-sullivan commented on #970
@sergiocontrino Do you have more details? Or can I close this?

[2016-09-01 13:00] julie-sullivan commented on #961
Not relevant for blue genes.

[2016-09-01 13:01] #926 closed

[2016-09-01 13:06] julie-sullivan commented on #845
All tests pass via the command line and eclipse.

[2016-09-01 13:06] #845 closed

[2016-09-01 13:07] julie-sullivan commented on #776
Not needed for blue genes.

[2016-09-01 13:07] #776 closed

[2016-09-01 13:19] JoelRichardson commented on #1328
@julie-sullivan Yes this is weird. So I'm seeing tons of 503 Service Unavailable errors from cdn.intermine.org. But only in chrome. Safari is fine.

I'm running the latest chrome (53.0.2785.89 64-bit).

Back to the original problem...even in safari, I'm seeing the same behavior. I change the LOOKUP value in the filter dialog box, click "Update", and nothing happens. The dialog goes away, but the r

[2016-09-01 13:25] #593 closed

[2016-09-01 13:25] yochannah commented on #1328
I can reproduce this. I have a feeling that the modify filter section doesn't support `LOOKUP` properly, as if you try to change from `LOOKUP` to something else, perhaps `=`, then `LOOKUP` disappears from the dropdown entirely....

[2016-09-01 13:27] julie-sullivan commented on #583
See #1260

[2016-09-01 13:27] #583 closed

[2016-09-01 13:39] #433 closed

[2016-09-01 13:43] julie-sullivan commented on #421
Works as expected now.

[2016-09-01 13:43] #421 closed

[2016-09-01 15:04] julie-sullivan commented on #1384
[code]

[2016-09-02 09:07] antcsmith opened #1414 "Query Builder: Not equals and null values problem"
Hello,

I've come across an odd issue when using != as a constraint in the query builder.

If you try a query such as all genes where the gene description doesn't equal something (e.g. predicted gene) it excludes all the null values from the results too.

<query name="" model="genomic" view="Gene.primaryIdentifier Gene.description" longDescription="" sortOrder="Gene.primaryIdentifier asc">
  <cons

[2016-09-02 09:16] antcsmith opened #1415 "Results: Manage columns problem"
Hello,

I have a problem when using the manage columns option when there is a large number of columns selected - the end of the columns selected and apply changes button disappears off the bottom (see attached screenshot). I think it needs to scroll!

Thanks, Anthony

![mitominer_4_0__list_analysis__mitocarta_2_0_human_mitochondrial_genes](https://cloud.githubusercontent.com/assets/2598621/1819885

[2016-09-05 12:14] julie-sullivan commented on #1141
@yochannah this was the bug we were talking about today. Take a look when you have a chance?

[2016-09-06 11:33] rachellyne commented on #1003
You can do this through a template.  I think the point was that we have a graph claiming to show the 12 species homology but which in fact only shows melanogaster, which is misleading.

[2016-09-06 13:51] #1384 closed

[2016-09-06 13:51] #1396 closed

[2016-09-06 14:02] julie-sullivan commented on #191
@rachellyne says they collaborate with Reactome so no need for a separate converter. http://nar.oxfordjournals.org/content/44/D1/D488.full

[2016-09-07 11:27] rachellyne commented on #191
I think it might be that we will need to get pathway data from wikipathways instead - so we get all relevant reactome and all wikipathways.  They have many formats, but maybe GPML format is the best one to use?  Or the API?

[2016-09-07 12:35] julie-sullivan opened #1417 "Model should include tags in JSON format."
downloading the model in json has tags: [] always empty

[code]

[2016-09-07 15:40] yochannah commented on #1141
To test this fix, you'll need to point a local flymine's global.web.properties file to the right place.

point `head.js.bagDetails.Cz` to `http://cdn-dev.intermine.org/js/intermine/apps-c/list-widgets/2.1.4/app.min.js`, navigate to a list page, and go to the fly atlas widget. the popup and hover counts for each bar should match - screenshot below shows an example of the bug. Both should say "6".

[2016-09-08 10:44] julie-sullivan opened #1418 "Add UniProt to xrefs"
@danielabutano We should add UniProt to the cross references when we create proteins.

[2016-09-12 14:00] julie-sullivan commented on #1141
@rachellyne this looks good to me. Take a look?

http://beta.flymine.org/beta/bagDetails.do?scope=all&bagName=testList

Nice job @yochannah!!

[2016-09-13 08:48] julie-sullivan opened #1420 "ZebrafishMine: Perl client is not working"
The Python client seems to be fine. The Perl client is not working as expected:

[code]

This script works on every other mine but not ZebrafishMine.org. Is is because of the URL? Not having a path. I bet the Perl client assumes the URL is going to look a certain way. What else is different? ZFIN is on the latest InterMine code.

Tell @zebrafishmine

[2016-09-13 09:30] rachellyne commented on #1141
Yes, looks fine to me.

[2016-09-13 12:30] julie-sullivan opened #1421 "BDGP - add anatomy term identifiers"
BDGP load anatomy terms. We think these terms will merge (mostly) with FlyBase anatomy terms. Add the integration key.

[2016-09-13 15:49] julie-sullivan opened #1422 "Widgets - add default constraint that uses > or <"
@rachellyne wants to add a default constraint on the flyatlas widget:

[code]

The constraints value doesn't work. I tried `presentCall != 2` as well and that didn't work. Here's the error:

[code]

Tell @rachellyne

[2016-09-13 16:06] vivekkrish commented on #1177
Hi All,

In the most recent public build of ThaleMine, we (@sergiocontrino along with @justinccdev) have been able to resolve any remaining issues with the `populate-child-features` post-process as well as InterMine JBrowse REST-API, to ensure that the parent -> child -> grandchild hierarchy is properly established in the JSON data. For example, for a protein coding gene, the following feature hie

[2016-09-13 19:31] vivekkrish commented on #1177
cc @sammyjava, the Legume Federation InterMine instances would also benefit from code fixes described in this issue.

[2016-09-13 20:21] sammyjava commented on #1177
Sounds good, I'll use your jbrowse fork and the new web.properties entry. I presume your updates to PopulateChildFeatures.java will be pulled into origin/dev at some point (I'm showing Julie/Jan 11 for the current version).

[2016-09-13 20:24] vivekkrish commented on #1177
Hi @sammyjava , that's correct. Need to extract the JBrowse specific changes and issue a PR to the main InterMine repo. Will notify you when that is done!

Thank you.

[2016-09-14 11:57] rachellyne commented on #1422
What does that mean?  That sounds like it couldn't find the widget rather than a problem with the constraint?

[2016-09-14 12:18] julie-sullivan commented on #1422
@rachellyne I believe what's happened is the unexpected syntax (the greater than symbol) causes the webapp to misread the widget config and discard it.

It's reading XML so the `>` bracket is breaking it. I tried to encode but that didn't work either.

I will check the reader and see what's wrong. The enrichment widget seems to be okay with that syntax so maybe just have to copy that over for grap

[2016-09-14 12:24] rachellyne commented on #1422
It would be good to do this as it's for Tim Karr!   I hope this improves the widget anyway.  We may need to revert it!

[2016-09-15 09:36] joshkh commented on #1410
We also want unique value counts for each attribute. Intermine already calculates this at build time and stores it in a summary table.

[2016-09-15 09:37] joshkh commented on #1410
And we also want row counts per collection. This will require changes to the java so maybe phase two.

[2016-09-15 17:17] sammyjava opened #1424 "Region Search: allow reverse coordinates"
I see no reason why Genomic Region Search disallows reverse genomic coordinates, i.e. phavu.Chr01:19175693-19175679. This is very inconvenient, since one often has a list of genomic regions from a BLAST run which indicates the strand by the order of coordinates. I'd like to be able to paste or upload that list into Genomic Region Search, but I first have to reverse the coordinates on all the - str

[2016-09-15 19:32] sammyjava opened #1425 "Region Search: allow strand-specific search"
If we can place reverse-strand coordinates in a Region Search, I would also like to have a toggle to enforce strand-specific overlaps. For example, the CArG1 motif (GTTTACATAAATGGAAA) BLASTs to this region: phavu.Chr10:35914148-35914134. So,  on the minus strand. I'm looking for upstream gene flanking regions that contain that motif, so I want to look for upstream GFRs that overlap that region. If

[2016-09-15 20:39] sammyjava commented on #1425
And I'm happy to code these two issues if you'd like me to. :)

[2016-09-16 12:37] justinccdev commented on #1177
Hi @vivekkrish. My changes are now in [1] against InterMine/dev and I believe @julie-sullivan is looking at this.  @sergiocontrino 's changes after this are in his branch [2] I think - I'm not sure if there is a cleaner one since it looks like some of them might be Thalemine specific.  I think it should be possible to pull out the jbrowse changes with a bit of looking if you want.

Back when I did

[2016-09-16 12:57] vivekkrish commented on #1177
Hi @justinccdev , Regarding [1], was not aware of the existing PR. Thanks!
[2] Yes, we would need to extract some commits from @sergiocontrino 's branch, as they are relevant to how the gene structure hierarchy is established within the JSON object, plus some post-processor related changes. We could make a separate PR for these changes or fold them into yours.

[3], I did not know that this design

[2016-09-16 15:42] sneuhaus commented on #1402
We needed to add the empty config param
`mail.smtp.user=`
to our properties file.
The default user 'mail_username' was being used and caused the Contact Us email to fail with a
com.sun.mail.smtp.SMTPSendFailedException: 501 5.1.7 Invalid address
error.

[2016-09-16 15:52] justinccdev commented on #1177
Hi @vivekkrish.  To answer your points:

[1] Yeah, I actually only created the PR today on request, as I did my part of the work in Dec 2015 but then for various reasons never merged it to the main InterMine dev.  I just merged this PR along with a single change from @sergiocontrino's branch (d1c0550) because this was necessary to stop Checkstyle from complaining.  I hope this gives you a good bas

[2016-09-16 22:32] sammyjava commented on #1424
Turns out this was actually a bug - reverse-coordinate searches were intended to be allowed, but there was a logic flaw in the routine that built the list of "error" regions. I've pushed a fix to that routine here: #1427

[2016-09-19 12:33] #1141 closed

[2016-09-19 13:53] justinccdev commented on #1402
I think the easiest solution here may be to simply for InterMine to replace the entries

[code]

with

[code]

or comment them out from ```intermine/webapp/main/resources/webapp/WEB-INF/global.web.properties```.  I don't obviously see why those placeholders need to be set.

[2016-09-19 13:59] sneuhaus commented on #1402
For whatever it is worth, that seems simple and reasonable to me

[2016-09-19 14:00] justinccdev commented on #1402
To clarify, @sneuhaus, if you added then mail.smtp.user= entry, then how are you setting the 'contact us' e-mail to the one that you need?

[2016-09-19 14:06] sneuhaus commented on #1402
We set
`mail.host`
`mail.from`
`feedback.destination`

[2016-09-19 14:32] justinccdev commented on #1402
Ah yes, thanks @sneuhaus, mail.smtp.user is the optional authentication.

From looking again at 26a7141, I don't see why that change would be triggering this issue, but I would still say I think it would be better if we left mail.smtp.user and mail.server.password blank rather than setting to placeholders.

[2016-09-19 14:39] #1424 closed

[2016-09-19 14:40] sneuhaus commented on #1402
My assumption was that using an invalid user in the properties causes a failure. Maybe this isn't true but by removing `mail_username` as the value for mail.smtp.user the problem we had went away.

[2016-09-19 23:17] sammyjava commented on #1425
FYI, I'm going to work on this, since I may be the only person that cares. :) More to come....

[2016-09-20 10:41] terrymun opened #1431 "GFF source: ScoreType is required to parse the file but not required in GFF3 specs"
Thanks for the amazing work on Intermine. I have recently started looking into publishing a mine for a model organism *Lotus japonicus*. I have followed the tutorial and everything checks out fine, with the exception of integrating the gff3 file using the default `gff` source (instead of `malaria-gff` in the tutorial):

[code]

I am suspecting that the gff3 description field might be parsed incorr

[2016-09-20 10:46] julie-sullivan commented on #1431
@terrymun Do any of your GFF files have "ScoreType=;" for exons? I am guessing our GFF parser is dumb and is not parsing the NULL values correctly.

I could update the GFF parser to handle these in a non-dumb manner, or you could grep and remove those params. Let me know!

[2016-09-20 10:47] terrymun commented on #1431
Gave a shot in the dark and tried the `malaria-gff` parser, and the build is strangely successful. I will grep for the erroneous `scoreType` and see whether it comes up ;)

[2016-09-20 12:29] terrymun commented on #1431
@julie-sullivan No 'ScoreType=' string was found in the GFF3 file, which makes the case even more curious. I retract my previous comment of the build being successful—I was running it from an incorrect directory.

[2016-09-20 12:32] julie-sullivan commented on #1431
Can you send me (part of) your GFF file and I can test here?

[2016-09-20 12:42] terrymun commented on #1431
@julie-sullivan I have attached a very reduced version of the GFF file (zipped so that Github will host it)
, which after testing still throws the same error when building. There is a `sequencetype=` property in the attributes field, but removing it doesn't seem to make any difference.

The reduced GFF3 file: [20140314_Lj30_reduced.gff3.zip](https://github.com/intermine/intermine/files/482552/2014

[2016-09-20 12:44] julie-sullivan commented on #1431
Thanks! Trying now.

[2016-09-20 13:01] julie-sullivan commented on #1431
The second column in GFF is `source`, which InterMine uses as the `scoreType`. According to the file specifications, this is not a required field. However, an exception is thrown if these data are not provided. This is wrong obviously. Adding a null check.

[2016-09-20 13:04] julie-sullivan commented on #1431
@terrymun Yes, this was an InterMine bug! Here is my fix: dcc8370a4dc1d490ee65a01165d4779a545fcaec. Can you pull in that change (or just copy it over, just a couple lines) and let me know if that works?

[2016-09-20 13:38] terrymun commented on #1431
Hi @julie-sullivan, thanks for the very helpful advice and quick fix. I can confirm that the GFF3 file is being parsed properly now. Speaking of which, perhaps I should actually provide some kind of `source` in the second column of the GFF3 file... despite it being optional.

Thanks again for all the help, I sincerely appreciate it :) I can't wait to see how Intermine works out with *Lotus* data.

[2016-09-20 13:38] #1431 closed

[2016-09-20 16:47] justinccdev commented on #1406
The question of why the Python client is specifically failing here is still open (though the waters have been muddied by other reports of the Perl client failing for these queries as well).

One possibility is that InterMine via Postgres is reporting inaccurately very high estimated query times for reasonable queries [1].  In which case, one thing to try would be to increase the os.query.max-time

[2016-09-22 13:04] terrymun opened #1432 "Linking proteins (fasta) and gene features (gff)"
Sorry again, to bother you folks with a rather mundane question. I have been trying awhile now to map/integrate protein identifiers against gene features, the former coming from a typical fasta file and the latter a gff3-compatible file.

_Lotus_ proteins are still not available on Uniprot yet, so I have decided to load protein sequences and their unique identifiers from a fasta file. **The issue

[2016-09-23 22:06] zebrafishmine commented on #1420
We tried recreating the context and fixing our redirect.  Neither seemed to fix the problem.  Confirmed that we can use the same perl code, replacing zebrafishmine.org/ with humanmine.org/humanmine and it works.  We also confirmed that the python client works. Should we try to debug further into the perl code?  Thanks a bunch!

[2016-10-14 11:50] julie-sullivan opened #1443 "HTTPS - web services using hardcoded HTTP"
I started using HTTPS for humanmine and noticed the queries weren't working as expected. There is a hardcoded HTTP somewhere. Which is dumb.

[2016-10-14 12:03] julie-sullivan commented on #1443
I still get an error

[code]

It looks like it's still trying to go to http://beta.humanmine.org?

![https](https://cloud.githubusercontent.com/assets/1663057/19386839/6436a1fe-920e-11e6-9704-5b317985a20c.png)

Tell @sergiocontrino

[2016-10-14 12:53] julie-sullivan commented on #1432
@terrymun So sorry we missed this. Is this still an issue? Also, you might try the dev list for a speedier reply!

### Protein to Gene ###

Just glancing over your data files, I don't see where the protein and gene relationship is being reported (other than they have the same name -- which isn't enough). You are right in that most InterMines use UniProt to populate the gene-protein relationship, s

[2016-10-18 10:19] julie-sullivan opened #1444 "FlyBase source creating duplicate protein locations"
For example, Q5LJX7_DROME and Q7PLW1_DROME have three locations each which are duplicates of each other. I checked the tracker and the FlyBase source is at fault.

@danielabutano This is creating duplicate entries in the overlap view.

[2016-10-18 15:19] sergiocontrino commented on #1177
hi @vivekkrish and @justinccdev, i'll do the merging of thalemine changes in a dev branch. we can then test them on humanmine when convenient for @julie-sullivan.

[2016-10-19 13:45] sergiocontrino commented on #970
hi @julie-sullivan, in a gene analysis page the links to orthologues could become a (hidden by default) table mapping the orthologic (?!)  relationships amongst genes in the 2 organisms.
i don't think it is a priority, never heard of it again, so i would say this could be closed or added to wish list (maybe @rachellyne has an opinion).

[2016-10-19 14:58] sergiocontrino commented on #1005
i think that we should not allow the query on booleans, i.e. 'ONE OF'/'NONE OF'  should not be allowed on boolean fields. if for some reason it is important to have the functionality, we should transform the constraint into the OR i mentioned above.
not sure where this would be more convenient, i can check if required.
currently it is not possible to build the query with the qb.

[2016-10-20 04:01] chenyian-nibio opened #1445 "Determining the size of the network in the cytoscape viewer"
I would like to report a bug in the cytoscape network displayer. For my understanding, so far this displayer could be use for both Gene and the Protein report pages and the contents will always show the interactions associated with the Gene class. In order not to crash the browser, there is filter in the displayer said no more than 500 interactions. However, when the displayer is set to the Protei

[2016-10-24 14:19] yochannah opened #1446 "List widgets with too-long titles disappear offscreen"
When a list widget's column headers are too wide, they push the content out of the viewable area, like in the rightmost column of the screenshot below - the column should say "interactions" and the numbers in the column should be fully visible.

![links on the right of the  widget are almost entirely offscreen](https://cloud.githubusercontent.com/assets/9271438/19649017/1eda1636-99fc-11e6-9746-dcc

[2016-10-28 13:11] joshkh opened #1447 "SubQuery support in PathQuery"
### Purpose
Support subqueries via PathQuery so that they may be performed via web services.

### Reasoning
As we move forward with a web service focused UI, we have a great opportunity to enhance how data is handled within a typical user workflow. Specifically, queries could be generated and used as constraints in other queries rather than requiring the user to permanently save lists of homogenou

[2016-10-28 13:24] joshkh commented on #1447
The proposed PathQuery above gets us pretty close, but in hindsight I think the "op" attribute is not the correct place to indicate a subquery. The following example from above...
[code]
... assumes that we're doing the equivalent to "IN" (list) which means we want the identifiers to match. It doesn't allow for a "NOT IN" equivalent.

Perhaps keep the op attribute as is but add a `type` attribute

[2016-10-28 13:25] julie-sullivan commented on #1447
Subqueries are used for outer joins (I think?), so they have been tested and used. However it's possible their performance is poor and we would need to make sure that we are not exposing a poorly written feature.

[2016-11-02 15:52] joshkh opened #1448 "Upgrade jQuery from 1.11 to 3"
Intermine loads jQuery 1.110 which is now three years old (98 in JS years). Devs seeking to use modern jQuery functionality have to load a newer version and then reapply old plugins, or even worse juggle multiple versions at the same time. Let's investigate the impact of upgrading to jQuery 3* by default.

[2016-11-04 10:53] julie-sullivan opened #1449 "List analysis page generating error"
http://beta.flymine.org/beta/bagDetails.do?scope=all&bagName=FlyMine_Alzheimers-Use-Case
[code]

[2016-11-04 17:22] julie-sullivan commented on #1449
an error in the log, not sure if related?

[code]

[2016-11-04 17:24] julie-sullivan commented on #1449
I did recently change where the query.xsd is.

[code]

What exactly is returning null?

[2016-11-04 17:41] danielabutano commented on #1449
it looks like the pathToIndex in WebResults is empty

* in a working list:
Path: "Gene.secondaryIdentifier",
**pathToIndex: "{Gene.primaryIdentifier=0, Gene=0, Gene.organism=1, Gene.symbol=0, Gene.secondaryIdentifier=0, Gene.organism.name=1}",**
prefix: "Gene",
query: "<query name="" model="genomic" view="Gene.secondaryIdentifier Gene.symbol Gene.primaryIdentifier Gene.organism.name" longDescripti

[2016-11-04 17:43] danielabutano commented on #1449
the other error ERROR org.intermine.api.profile.StorableBag  - Exception committing bagValues for bag: 59000002
java.sql.SQLException: Error writing to database, running statement COPY bagvalues
is related to the an other issue

[2016-11-04 19:59] sammyjava opened #1450 "org.json jar file is old and lacks some JSON spec methods"
The included org.json package is quite old and lacks some useful methods in the current JSON spec, for exampe: keySet() and toMap(). I suggest replacing it with a current version, which I can supply, compiled from here: https://github.com/stleary/JSON-java

intermine/intermine/model/main/lib/json20110106.jar
intermine/intermine/webservice/client/main/lib/json20110106.jar

[2016-11-04 21:05] sammyjava commented on #1450
[json20160810.zip](https://github.com/intermine/intermine/files/572644/json20160810.zip)

[2016-11-07 13:41] danielabutano opened #1451 "The copy of a list by an un-logged user, saves the new list into db with the same name"
If an un-logged user, copy a list from an existing one _testlist1_, setting as name _testlist2_, the new list is saved into db with the original name _testlist1_. The list shouldn't be saved into db until the user is logged in.
When the user logs in to the application, the list is also saved as _testlist2_. At this point, in the savedbag table we have 3 lists: 2 lists with the original name _testl

[2016-11-07 16:05] julie-sullivan opened #1452 "Update wellcome trust logos"
https://wellcome.ac.uk/funding/managing-grant/logo-usage

We might be using the old ones. Can you please update?

[2016-11-14 09:55] julie-sullivan opened #1455 "Don't add ORDER BY clause to count(*) queries"
Don't add ORDER BY clause to count(*) queries, it's pointless and it slows down the query quite a bit.

tell @sneuhaus and @JoelRichardson

[2016-11-14 14:57] sergiocontrino commented on #645
https://github.com/intermine/intermine/blob/3328168aa750f1175d9e7c6bb2a516455cfc9bd1/intermine/objectstore/main/src/org/intermine/objectstore/query/ResultsBatches.java#L236

[2016-11-14 16:14] julie-sullivan commented on #1451
Fixed by #1453

[2016-11-14 16:19] julie-sullivan commented on #1445
Thanks @chenyian-nibio! Would it be possible for you to do a pull request so we can share your fix with everyone?

[2016-11-14 16:24] julie-sullivan commented on #1420
@zebrafishmine So you changed it to be zebrafishmine.org/zebrafishmine and that still didn't work? Hrm. I assumed that was the issue (us making dumb assumptions about what the URL looks like). What is the error you get in the tomcat logs?

[2016-11-14 16:26] #1402 closed

[2016-11-14 16:28] #1368 closed

[2016-11-14 16:39] julie-sullivan commented on #1338
This is going to be in the viewer code, not in InterMine.

[2016-11-14 16:39] #1338 closed

[2016-11-14 16:52] julie-sullivan commented on #1300
@rachellyne I tried just now and it worked (on live humanmine with a list of 94 genes. Can you try again?

I have seen this on queries with millions of rows. It seems like the count takes a minute to catch up so the error is displayed until the final count is corrected. @yochannah I think this is reported on another ticket.

[2016-11-14 16:56] julie-sullivan commented on #1300
Here's the ticket I was thinking of:  #1268. Is that a duplicate?

[2016-11-14 16:58] julie-sullivan commented on #1233
I am going to close this for now, but maybe include this comment when discussing the list upload page with @yochannah

[2016-11-14 16:58] #1233 closed

[2016-11-14 17:08] julie-sullivan commented on #1045
I am going to close this if it's on your list @rachellyne. I'll reopen if we decide to add this source.

[2016-11-14 17:08] #1045 closed

[2016-11-14 17:10] julie-sullivan commented on #994
I have not seen this error again, will reopen if it pops up again.

[2016-11-14 17:10] #994 closed

[2016-11-14 17:12] julie-sullivan commented on #771
We have an amazon account.

[2016-11-14 17:12] #771 closed

[2016-11-14 17:18] julie-sullivan commented on #600
https://intermine.readthedocs.io/en/latest/database/data-sources/custom/
done

[2016-11-14 17:18] #600 closed

[2016-11-14 17:24] julie-sullivan commented on #265
I am going to close this ticket for now. If we do decide to go in this direction, we'll make specific tickets for each task.

[2016-11-14 17:24] #265 closed

[2016-11-14 17:25] julie-sullivan commented on #220
I am going to close this for now.

[2016-11-14 17:25] #220 closed

[2016-11-14 17:28] #187 closed

[2016-11-14 17:32] julie-sullivan commented on #246
@sergiocontrino Can we update it so that the templates page is also updated?

[2016-11-14 17:37] #364 closed

[2016-11-14 17:38] #577 closed

[2016-11-15 11:04] justinccdev commented on #1406
@kkarra I believe you were going to try out the query timeout as described above?  Did it resolve the problem?

@tharris Have you also tried this change?

[2016-11-15 15:38] julie-sullivan opened #1456 "HPO source: doesn't capture publication if there is more than one"
[code]

[2016-11-15 15:40] julie-sullivan commented on #1456
Here's another one:

[code]

[2016-11-15 16:32] #1456 closed

[2016-11-16 18:01] kkarra commented on #1406
I did change the value to  os.query.max-time=1000000000
and in running the python script Julie sent a while ago, I am not encountering any errors, so guess you can close this.

[2016-11-18 10:59] julie-sullivan commented on #1455
[code]
From @sneuhaus

[2016-11-18 11:06] julie-sullivan commented on #1455
@sneuhaus That's terrible! It's not using any of the indexes. But in reality, it should only use the indexes and not use the table at all. Every field in there should have an index.

@danielabutano Can you verify if that is happening for our queries too? Is it skipping the indexes because it's a subquery?

[2016-11-18 13:16] danielabutano opened #1458 "Queries page only shows the last saved query"
log into the webapp, save at least 2 queries. The query are saved properly into userprofile db.
Re-deploy the webapp, log in with the same user -> the queries list page only shows the last  one

[2016-11-18 13:21] danielabutano opened #1459 "ORDER BY in path query"
The query generated by a pathquery has in the ORDER BY clause all the items set in the view attribute

[2016-11-20 21:47] #1451 closed

[2016-11-20 21:47] #1425 closed

[2016-11-21 13:07] julie-sullivan commented on #1406
Thanks @kkarra! @justinccdev Can you try the script again and let the DIOPT folks know it works now?

[2016-11-21 13:08] julie-sullivan commented on #1406
@justinccdev I just emailed @tharris and the wormmine folks to get them to try this fix.

[2016-11-21 15:21] julie-sullivan commented on #1449
Fixed by #1453

[2016-11-21 15:21] #1449 closed

[2016-11-21 15:33] julie-sullivan commented on #1445
Fixed by 5805ece542236f3585f1c297264999d11ac9b0e3 (I think?)

[2016-11-21 15:45] julie-sullivan commented on #1450
Failed Travis tests. Seems like there is some sort of Java version compatibility problem.

[2016-11-21 15:50] #1443 closed

[2016-11-21 16:03] justinccdev commented on #1450
fwiw, here's a version compiled for java 1.7.  Name is 20161008 as this is <year><month><day> of the last change to that repo (I suspect this is the same as sammyjava but with switched month and day).

[json20161008.zip](https://github.com/intermine/intermine/files/604100/json20161008.zip)

Analysis of sammyjava's jar does show compilation for 1.8

[2016-11-21 16:34] julie-sullivan commented on #1422
Fixed by bdd9c3659ae4c4767930b179a2cfdc9b39e13fb7

[2016-11-21 17:08] sammyjava commented on #1450
Ahhh, sorry about that.

[2016-11-21 17:22] julie-sullivan opened #1462 "Node: we should remove the old style queries"
Do we have to support these still?

Maybe just update the tests and still support the old "node" style?

[2016-11-21 18:04] justinccdev commented on #1450
No worries 😊

On 21 Nov 2016 5:08 p.m., "Sam Hokin" <notifications@github.com> wrote:

[2016-11-21 20:24] sammyjava opened #1463 "No ability to add char/Character attribute in data model"
It strikes me a bit odd that we support short/Short, long/Long, int/Integer, etc. but do not support char/Character. This has come up because I'm trying to store a boatload of genotyping values ('A', 'B', and a couple other letters) from cultivar crosses, and it seems to me that String has a lot more overhead than I want for a simple char. Thanks for listening. :)

[2016-11-22 00:12] LeylaR opened #1464 "keyword search with "heterotaxy" doesn't find OMIM terms that include "heterotaxy""
A keyword search with the term "heterotaxy" did not return any OMIM disease terms that contain the word "heterotaxy". This is probably because the OMIM terms contain a comma immediately after heterotaxy (such as "Heterotaxy, visceral, 4, autosomal"). Is there anything we can do to improve this type of search? Users will expect to find these terms.

Thanks.

[2016-11-22 10:36] julie-sullivan commented on #1464
@justinccdev Do you have comments?

@LeylaR Yes, that is a problem in HumanMine too! The issue is that we specifically chose a search parser that does _not_ ignore punctuation. This is because punctuation, like dashes, e.g. ` ZDB-GENE-990415-8` or colons, e.g. `GO:0021912`, mean something specific. Does that make sense?

There is a simple way to ignore punctuation but that would make searching for

[2016-11-22 18:22] justinccdev commented on #1464
Yes, currently the InterMine code that creates the search index is hard-coded to tokenize (split strings) on whitespace but keep punctuation intact.  So I would expect "Heterotaxy," to be indexed rather than "Heterotaxy".

If you do a wildcard search with "heterotaxy*" or "heterotaxy?" does the term show up?  More documentation on lucene wildcards is at [1].

As Julie says, we need to be careful w

[2016-11-22 18:30] justinccdev commented on #1463
According to the Postgres docs [1], there's no storage difference and very trivial cpu difference (a few cycles) between char() and text() (and varchar()).  Is it storage overhead you're worried about or cpu?  I'm not sure how much one would gain out of using single characters in the DB or JVM, though very happy to have that argument :)

[1] https://www.postgresql.org/docs/current/static/datatype-

[2016-11-22 18:32] justinccdev commented on #1464
Also, if we remove to ElasticSearch/Solr for search in the future (as mentioned most recently at [1]), they may have their own way of handling these issues and the InterMine code would be removed.  However, don't know the timeline for such a shift.

[1] http://gmod.827538.n3.nabble.com/Is-it-useful-to-use-RAMDirectory-for-indexing-lucene-keywords-td4056319.html

[2016-11-22 18:40] sammyjava commented on #1463
Well, both. Perhaps it's not a performance issue, although since I'm storing millions of single-char records perhaps it may be a factor in this extreme case. It'd be nice to find out. :) At a higher level, it just strikes me a bit odd that we support six of the eight primitives, but not byte or char. It seems that for completeness' sake we ought to, from a Java perspective, even if the back-end DB

[2016-11-22 18:43] motenko opened #1467 "disable text field in query builder constraint dialogue"
I've included two screenshots:
(1) the problem [note: I click on the text box to show the long text string]
![screenshot1-theproblem](https://cloud.githubusercontent.com/assets/1467164/20537032/842042c6-b0b9-11e6-9bb3-b94a0c260e34.png)

(2) the solution for a different field (but I don't know what the solution is - just that we have implemented it in the past).
![screenshot2-hopefulsolution](https

[2016-11-23 15:54] joshkh opened #1468 "XML queries are invalid if some constraint has a code but the first constraint does not."
This query errors (400 XML is not well formatted):

[code]
Move the code from the second constraint to the first constraint and it runs successfully:
[code]

This seems very fragile!

[2016-11-24 16:00] justinccdev commented on #1406
Okay, I still believe that the root problem is the query time mis-estimation issue in InterMine (which may or may not be fixable at root if we are relying on inaccurate PostgreSQL estimations).

However, the proximal reason is that the Python and Perl libraries do generate different webservice requests.  From capturing outgoing HTTP traffic for the queries above, it turns out that the Perl library

[2016-11-24 16:08] justinccdev commented on #1406
Also, looking at the timeout is better since it would be easy for someone to trigger this problem by adding enough columns to the request - you don't need the Python behaviour of adding these automatically for the query root to trigger the problem.

[2016-11-25 12:21] julie-sullivan commented on #1467
Thanks @motenko!

In the first example you show, is that a dropdown field? I can't tell. The dropdowns are generated in the objectstore summary part of the build. You can set your mine to ignore these fields:

http://intermine.readthedocs.io/en/latest/webapp/template-queries/

Then it won't have that dropdown on the next build. Try that and let me know?

[2016-11-25 15:57] julie-sullivan opened #1469 "API exposing assumptions in lists"
[code]

Saving lists via the API is not updating them correctly. Why?

[2016-11-28 10:28] julie-sullivan commented on #1469
I assume the API is changing the lists in memory incorrectly. e.g. pointing to the wrong part of the list map. There is a repository of "web searchables" -- likely not being updated correctly.

Redeploying the webapp fixes the problem. Whatever error is happening is not being written to disk.

[2016-11-29 13:12] sergiocontrino commented on #1455
the XML query works fine on humanmine (retrieving 1.4 M rec) and on thelemine (retrieving 10k).
i get different generated queries though. they are explained as not using indexes on thalemine, and on using index scan on humanmine (except for tables datasource and organism).

postgres states that
"Sequential-scan-and-sort frequently beats an index scan for sorting many rows, because of the nonsequen

[2016-11-29 14:31] danielabutano commented on #1459
We think it's done on purpose in order to provide the list pagination.

[2016-11-29 14:31] #1459 closed

[2016-11-29 14:39] julie-sullivan commented on #1469
@joshkh can you send me the exact request you sent as part of above? We can't replicate this issue.

[2016-11-29 14:47] julie-sullivan commented on #1469
We can't replicate using the iodocs, using the UI or by calling the web services directly.

This is something that only blue genes is doing. What is that?

[2016-11-29 19:09] motenko commented on #1467
Hi Julie,

That worked, thanks.  BTW - yes, that was a dropdown field.

Please feel free to this ticket.

Gratefully,
Howie

From: Julie Sullivan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: intermine/intermine <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, November 25, 2016 at 7:21 AM
To: intermine/intermine <intermine@noreply.github.com<mailto:inte

[2016-11-30 11:13] sergiocontrino commented on #1455
removing the order by clause (original query) on humanmine reduce by a factor 10 the duration of the query, the query planner doing seq scan for all tables.
so it would be convenient to do counts without ordering. we can assume for now that probably the query planner is working fine.

[2016-11-30 15:10] danielabutano commented on #1469
**Final comment about how to reproduce the error**
Run a query, for instance Company's summary and create a list from the result given the name _test_ Set it as public.
Using the browser, call the web service http://localhost:8080/intermine-test/service/query/results?query=<query> where the query is URL encoded and contains in the view all the fields in the summary and as constraint the bag constr

[2016-11-30 15:21] julie-sullivan opened #1470 "ClinVar changed the data layout"
@rachellyne It looks like ClinVar moved the columns around. Can you check my work? There may be new columns we can add, and I can't find the xrefs columns anymore. I'm running a new build now.

<table>
<th>
<td>previous column</td>
<td>current column</td>
</th>
<tr>
<td>clinicalSignificance</td>
<td>5</td>
<td>6</td>
</tr>
<tr>
<td>dbSNPXref</td>
<td>6</td>
<td>?</td>
</tr>
<tr>
<td>ncbiXref</td>

[2016-11-30 16:09] julie-sullivan commented on #1470
Here are the new column headings:

[code]

[2016-12-01 11:01] julie-sullivan commented on #1470
I missed one:

<table>
<th>
<td>previous column</td>
<td>current column</td>
</th>
<tr>
<td>disease</td>
<td>10</td>
<td>12</td>
</tr>
</table>

Is that right @rachellyne?

[2016-12-01 11:19] rachellyne commented on #1470
I don't see a disease column.

[2016-12-02 11:11] julie-sullivan commented on #1470
@rachellyne Take a look at the data file?

* genes have alleles
* alleles have diseases
* PPARG has alleles
* PPARG alleles have no diseases.

I looked in the data file and this looks correct. Either the disease column has no OMIM identifier, or there is something called the `OMIM Allelic Variant:601487.0001`

Take a look and let me know what to do?

[2016-12-02 11:56] julie-sullivan opened #1471 "Drop LOOKUP constraint if value is *"
Refs #373

1. `gene.symbol = *` returns everything
2. `gene LOOKUP a*` returns all genes with identifiers, symbols or names that start with the letter a
3. `gene LOOKUP *` returns any genes with identifiers, symbols or names that start equal to *

That's not ideal since the behavior is different.

However this code is used on the list upload also. If someone entered `*` on list upload and we treat

[2016-12-05 17:48] julie-sullivan opened #1474 "Order development stages numerically"
The graph widget for expression in flymine is ordering the stages incorrectly:

[code]

It's sorting them as strings instead of numbers. How to fix?

[2016-12-07 16:36] nauer opened #1476 "Got "genomicRegionStrandSpecific" error in MalariaMine build with intermine-1.6.9"
Probably a bug in **intermine-1.6.9**

This error occurs when switching to the **Regions** section of the malariamine. Does not happen in version **1.6.8**.

*/var/log/tomcat8/catalina.out*
[code]

[2016-12-08 06:21] nuin commented on #1443
I am getting the exact same error on WormMine

[code]

[2016-12-08 16:27] justinccdev commented on #1476
Yes sorry, this is fixed in #1473.  The example Malariamine does not have any region information anyway - if this bug wasn't there you would just see a message to that effect.

[2016-12-12 16:27] julie-sullivan commented on #1470
@rachellyne This was the problem (again). The file has these values (look at OMIM):

[code]

```^@``` has a special meaning for programming languages:

https://en.wikipedia.org/wiki/Control_character
[code]
This is why it silently failed. The code interpreted as a end of string, then kept going. I've emailed the NIH but in the meantime we should add this to the download script:

[code]

[2016-12-13 12:32] julie-sullivan commented on #1422
Widget works now but still need to enable greater and less than signs for widget constraints. Can we even do that since config file is XML?

[2016-12-13 15:06] danielabutano opened #1477 "Update PathQueryHandler deleting code related to the node tag"
Clean pathQueryHanlder to remove the section relative to the tag 'node'. See #1466
Check if there are other sections to remove (check MainHelper too)

[2016-12-13 15:25] julie-sullivan commented on #1470
Working correctly now in new build.

[2016-12-13 15:25] #1470 closed

[2016-12-13 15:26] #1462 closed

[2016-12-13 15:26] #1445 closed

[2016-12-13 15:33] #1469 closed

[2016-12-13 17:56] sammyjava opened #1479 "Gene.getInteractions() has apparently gone missing; throws exception when building webapp"
Just pulled the latest, greatest:
[code]
And got this when building my webapp:
[code]

[2016-12-13 18:02] sammyjava commented on #1479
BTW, this was easily fixed by deleting the offending source, ```intermine/bio/webapp/src/org/intermine/bio/web/displayer/CytoscapeNetworkDisplayer.java```. Not a displayer that I use.

[2016-12-15 17:28] julie-sullivan commented on #1479
Fixed by #1480

@sammyjava Let me know if you still have problems!